<div class="card">
  <div class="card-body">
    <h3><%= link_to(database['title_245a_display'], solr_document_path(database[:id])) %></h3>
    <p>(<%= database.selected_database_subjects.join(', ') %>)</p>
    <dl data-behavior="results-online-section" class="row results-online-section">
      <dt class="col-md-4"><span class="online-label">Search database</span></dt>
      <dd class="col-md-8">
        <div data-behavior="truncate-results-metadata-links">
          <ul class="links">
            <% database.marc_links.each do |link| %>
              <li class="<%= 'stanford-only' if link.stanford_only? %>"><%= link.html.html_safe %></li>
            <% end %>
          </ul>
        </div>
      </dd>
    </dl>
    <div>
      <%= database.selected_database_description %>
      <% if database.selected_database_see_also %>
        (See also <%= link_to(database.selected_database_see_also.text, solr_document_path(database.selected_database_see_also.id)) %>)
      <% end %>
    </div>
  </div>
</div>
