<% if @selected_databases.present? %>
  <% @page_title = t 'blacklight.search.masthead_title', title: 'Databases', application_name: "#{application_name} catalog" %>
  <div class="breadcrumb col-md-12">
    <div class="search_num_of_results">
      <div class='results-heading'>
        <h2><%= pluralize(@selected_databases.length, 'result') %></h2>
      </div>
    </div>
  </div>
  <% column1, column2 = @selected_databases.in_groups(2) %>
  <div class="row selected-databases">
    <% [column1, column2].each do |column| %>
      <div class="col-md-6">
        <% column.compact.each do |database| %>
          <div class="panel panel-default">
            <div class="panel-body accordion-sections">
              <h3><%= link_to(database['title_245a_display'], solr_document_path(database[:id])) %></h3>
              <span class="subjects">(<%= database.selected_database_subjects.join(', ') %>)</span>
              <div class="accordion-section online">
                <a class="header selected-database" data-accordion-section-target=".<%= database[:id] %>-selected-database">
                  <span class="section-label">Search database (<%= database.index_links.all.length %>)</span>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <span class="snippet <%= database[:id] %>-selected-database-snippet" data-behavior="trunk8">
                  <%= database.index_links.first.html.html_safe %>
                </span>
                <div class="details <%= database[:id] %>-selected-database">
                  <ul class="links">
                    <% database.index_links.each do |link| %>
                      <li><%= link.html.html_safe %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div>
                <%= database.selected_database_description %>
                <% if database.selected_database_see_also %>
                  (See also <%= link_to(database.selected_database_see_also.text, solr_document_path(database.selected_database_see_also.id)) %>)
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
