<% @page_title = t 'blacklight.search.masthead_title', title: 'Databases', application_name: "#{I18n.t('blacklight.application_name')} catalog" %>

<div id="masthead-container">
  <div id="masthead" class="selected-databases-masthead">
    <h1 class="my-3">Selected article databases</h1>
    <p>Start your research with one of our selected databases below. <%= link_to 'Learn more about finding articles.', 'https://guides.library.stanford.edu/Find-articles' %></p>
    <div class="flexgrid">
      <div class="col">
        <%= link_to 'Articles+', articles_path %>
        <p>Search a combined index of 100s of databases.</p>
      </div>
      <div class="col">
        <%= link_to 'Databases', databases_path %>
        <p>Find a topic-specific database for in-depth research.</p>
      </div>
      <div class="col">
        <p><%= link_to 'Connecting to e-resources', 'https://library.stanford.edu/using/connecting-e-resources' %></p>
        <p><%= link_to 'Report a connection problem', 'https://library.stanford.edu/ask/email/connection-problems' %></p>
      </div>
    </div>
  </div>
</div>

<% if @selected_databases.present? %>
  <div class="breadcrumb my-2">
    <div class="search_num_of_results">
      <div class='results-heading'>
        <h2><%= pluralize(@selected_databases.length, 'result') %></h2>
      </div>
    </div>
  </div>

  <div class="row selected-databases">
    <%# render the databases in two columns %>
    <% @selected_databases.in_groups(2, false).each do |column| %>
      <div class="col-md-6">
        <% column.each do |database| %>
          <%= render 'database', database: database %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
