<% @page_title = t 'blacklight.course_reserves.page_title', application_name: "#{I18n.t('blacklight.application_name')} catalog" %>
<div id="masthead-container">
  <div id="masthead" class="course-reserves-masthead">
    <h1>Browse course reserves</h1>
    <div>
      <p>Request items at the library's loan desk, and return them directly to the same location. Loan periods are typically 2-4 hours. Renewals are not permitted.</p>
      <p class="inline-links">
        For instructors: <%= link_to "Request course reserves", "https://reserves.stanford.edu" %> | <%= link_to "More information", "https://library.stanford.edu/course-reserves" %>
      </p>
    </div>
  </div>
</div>

<table id="course-reserves-browse" class="table table-striped">
  <thead>
    <tr>
      <th>
        Course ID
      </th>
      <th>
        Description
      </th>
      <th>
        Instructor
      </th>
    </tr>
  </thead>
  <tbody>
  <% @course_reserves.each do |course| %>
    <tr>
      <td>
        <%= link_to course.id, search_catalog_path({f: {course: [course.id], instructor: [course.instructor]}}) %>
      </td>
      <td>
        <%= course.name %>
      </td>
      <td>
        <%= course.instructor %>
      </td>
    </tr>
  <% end %>
</table>
