<span class="sr-only">Send current page to text, email, RefWorks, EndNote, or printer</span>
<div id="tools-dropdown" class="btn-group">
  <button type="button" class="btn btn-sul-toolbar dropdown-toggle" data-toggle="dropdown">
    <%= t('blacklight.tools.send_to_html', current_range: current_entries_info(@response)) %>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="disabled">
      <%= link_to t('blacklight.tools.sms_html'), sms_catalog_path(id: @document), {id: 'smsLink', data: {ajax_modal: "trigger"}} %>
    </li>
    <li class="disabled">
      <%= link_to t('blacklight.tools.email_html'), email_catalog_path(sort: params[:sort], per_page: params[:per_page], id: @response.documents.map {|doc| doc.id}), id: "emailLink", data: {ajax_modal: "trigger"} %>
    </li>
    <li class="disabled">
      <%= link_to t('blacklight.tools.refworks_html'), refworks_export_url(id: @document) %>
    </li>
    <li class="disabled">
      <%= link_to t('blacklight.tools.endnote_html'), "#" %>
    </li>
    <li class="disabled">
      <%= link_to t('blacklight.tools.printer_html'), "#" %>
    </li>
  </ul>
</div>
