<span class="sr-only">Send current page to text, email, RefWorks, EndNote, or printer</span>
<div id="tools-dropdown" class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('blacklight.tools.send_entries', current_range: current_entries_info(@response)).html_safe %>
  </button>
  <div class="dropdown-menu" role="menu">
    <%= link_to t('blacklight.tools.email_html'),
                email_bookmarks_path(sort: params[:sort], per_page: params[:per_page], id: @response.documents.map {|doc| doc.id}),
                id: "emailLink", role: 'menuitem', tabindex: '-1',
                class: 'dropdown-item',
                data: { blacklight_modal: "trigger" } %>

    <% if @response.documents.any? {|d| d.exports_as? :refworks_marc_txt } %>
      <%= link_to t('blacklight.tools.refworks_html'),
                  refworks_export_url(url: bookmarks_export_url(:refworks_marc_txt, search_state.params_for_search)),
                  id: "refworksLink", role: 'menuitem', tabindex: '-1',
                  class: 'dropdown-item' %>
    <% end %>

    <% if @response.documents.any? {|d| d.exports_as? :endnote } %>
      <%= link_to t('blacklight.tools.endnote_html'),
                  bookmarks_path(:endnote, search_state.params_for_search),
                  download: File.basename(bookmarks_path(:endnote, search_state.params_for_search)),
                  id: "endnoteLink", role: 'menuitem', tabindex: '-1',
                  class: 'dropdown-item' %>
    <% end %>

    <a role="menuitem" class="dropdown-item" tabindex="-1" href="javascript:if(window.print)window.print()"><%= t('blacklight.tools.printer_html') %></a>
  </div>
</div>
