<search class="dropdown" data-action="keydown.esc->database-autocomplete#esc keydown.down->database-autocomplete#next keydown.up->database-autocomplete#previous" data-controller="database-autocomplete" data-database-autocomplete-url-value="<%= autocomplete_databases_url %>">
  <%= form_with url: @url, local: true, method: @method, class: @classes.join(' '), scope: @prefix, role: 'search', **@form_options do |f| %>
    <%= render Blacklight::HiddenSearchStateComponent.new(params: @params) %>
    <% if search_fields.length > 1 %>
      <%= f.label :search_field, scoped_t('search_field.label'), class: 'visually-hidden' %>
    <% end %>
    <div class="input-group">
      <%= f.label @query_param, scoped_t('search.label'), class: 'visually-hidden' %>
      <%= f.search_field @query_param, value: @q, placeholder: 'e.g. statistics or climate', class: "search-q q form-control #{rounded_border_class}", autofocus: @autofocus, aria: { label: scoped_t('search.label') }, data: { action: 'database-autocomplete#search focus->database-autocomplete#show', 'database-autocomplete-target': 'input' }  %>

      <%= search_button || render(Blacklight::SearchButtonComponent.new(id: "#{@prefix}search", text: scoped_t('submit'))) %>
    </div>
  <% end %>
  <turbo-frame id="search-suggestions" data-database-autocomplete-target="frame" target="_top">
  </turbo-frame>
</search>
