<div id="<%= service_name.dasherize %>" class="module-contents" >
    <% if searcher.is_a? StandardError %>
        <h2 class="result-set-heading"><%= module_display_name %></h2>
        <% if params[:page].blank? %>
            <% page = 1 %>
        <% else %>
            <% page = params[:page] %>
        <% end %>
        <%= render partial: '/quick_search/search/search_error', locals: { service_name: service_name, page: page, template: 'without_paging' } %>
    <% elsif searcher.results.blank? %>
        <h2 class="result-set-heading"><%= module_display_name %></h2>
        <%= render partial: '/quick_search/search/no_results', locals: {module_display_name: module_display_name, service_name: service_name} %>
    <% else %>
        <% total = number_with_delimiter(searcher.total) %>
        <% unless defined? searcher.loaded_link_mobile %>
            <h2 class='result-set-heading'><%= module_display_name %></h2>
        <% else %>
            <h2 class='result-set-heading'><%= module_display_name %></h2>
        <% end %>

        <%= render partial: '/quick_search/search/highlighted_facet', locals: { searcher: searcher } %>

        <ol>
            <%= render partial: '/quick_search/search/result', collection: searcher.results %>
        </ol>
        <p class="see-all-results">
            <% unless defined? searcher.loaded_link_mobile %>
                <%= render partial: '/quick_search/search/see_all', locals: {service_name: service_name, total: total, module_link: searcher.loaded_link} %>
            <% else %>
                <span class="show-for-medium-up">
                <%= render partial: '/quick_search/search/see_all', locals: {service_name: service_name, total: total, module_link: searcher.loaded_link} %>
                </span>
                <span class="show-for-small-only">
                <%= render partial: '/quick_search/search/see_all', locals: {service_name: service_name, total: total, module_link: searcher.loaded_link_mobile} %>
                </span>
            <% end %>
        </p>
    <% end %>
</div>
