<div id="<%= service_name.underscore %>" class="module-contents" >
    <% total = searcher.total.present? ? number_with_delimiter(searcher.total) : nil %>
    <% if searcher.is_a? StandardError %>
        <% module_link = QuickSearch::Searcher.module_link_on_error(service_name, searcher, @query) %>
        <%= render partial: 'module_heading', locals: { service_name: service_name, total: total, searcher: nil } %>
        <% if params[:page].blank? %>
            <% page = 1 %>
        <% else %>
            <% page = params[:page] %>
        <% end %>
        <%= render partial: '/quick_search/search/search_error', locals: { service_name: service_name, page: page, template: 'without_paging', module: module_link } %>
    <% elsif searcher.results.blank? %>
        <%= render partial: 'module_heading', locals: { service_name: service_name, total: total, searcher: searcher } %>
        <%= render partial: '/quick_search/search/no_results', locals: {module_display_name: module_display_name, service_name: service_name, searcher: searcher} %>
    <% else %>
        <% unless defined? searcher.loaded_link_mobile %>
          <%= render partial: 'module_heading', locals: { service_name: service_name, total: total, searcher: searcher } %>
        <% else %>
          <%= render partial: 'module_heading', locals: { service_name: service_name, total: total, searcher: searcher } %>
        <% end %>
        <%= render partial: '/quick_search/search/highlighted_facet', locals: { searcher: searcher } %>

        <ol>
            <%= render partial: '/quick_search/search/result', collection: searcher.results %>
        </ol>

        <% if (addl_facet = searcher.search.additional_facet_details(params[:q])) %>
          <p class='text-center'>
            Your search also found
            <%= link_to("#{number_with_delimiter(addl_facet.hits)} topic specific databases", addl_facet.href) %>.
          </p>
        <% end %>

        <% if searcher.total.present? %>
          <script type='text/javascript'>
            var searcherLink = $('.searcher-anchors a[href="#<%= service_name %>"]');
            searcherLink.append('(<%= number_with_delimiter(total) %>)')
          </script>
        <% end %>
    <% end %>
</div>
