<h3 class="result-title">
  <%= link_to result.title, result.link %>
</h3>

<% if result.author.present? || result.imprint.present? %>
  <p>
    <% if result.author.present? %>
      <div><%= result.author %></div>
    <% end %>
    <% if result.imprint.present? %>
      <div><%= result.imprint %></div>
    <% end %>
  </p>
<% end %>

<% if result.description.present? %>
  <p class="description"><%= result.description.html_safe %></p>
<% end %>

<% if result.fulltext_link_html %>
  <p><%= result.fulltext_link_html.html_safe %></p>
<% end %>
