<div class="search-masthead search-area-bg mb-3 <%= classes.join(' ') %>">
  <div class="container-lg">
    <div class="row flex-column flex-md-row">
      <section class="col pe-md-5 mb-5 mb-md-0">
        <h1 class="mb-3"><%= header %></h1>
        <%= content %>

        <% if search? %>
          <%= search %>
        <% else %>
          <%= render HomepageSearchComponent.new url: helpers.search_action_url,
                                            advanced_search_url: helpers.search_action_url(action: 'advanced_search'),
                                            params: helpers.search_state.params_for_search.except(:qt),
                                            autocomplete_path: suggest_index_catalog_path %>
        <% end %>
      </section>
      <section class="col border-md-start ps-md-5">
        <%= aside %>
      </section>
    </div>
  </div>
</div>

<div class="mb-3 mt-4 container-lg">
  <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-forward-fill ps-1" viewBox="0 0 16 16" style="transform: rotate(180deg);">
        <path d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557"/>
      </svg>Back to catalog search</a>
</div>
