<%= render partial: 'layouts/quick_search/search_form' %>

<div class='row search-helper-text'>
  <div class='col-12 text-center'>
      One search to see what's available in all these sources for your search topic.
  </div>
</div>
<div class='row bento-panels homepage-panels'>
  <div class='col'>
    <div class='card'>
      <%= image_tag 'catalog.jpg', class: 'card-img-top' %>
      <div class='card-body'>
        <h3 class='card-title'><%= link_to 'Catalog', Settings.CATALOG_HOME_URL %></h3>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Search the physical collections and digital resources of Stanford’s libraries. Find books, media, and <a href="https://searchworks.stanford.edu/databases">topic-specific databases</a>.</p>
      </div>
    </div>
  </div>
  <div class='col'>
    <div class='card'>
      <%= image_tag 'articles.jpg', class: 'card-img-top' %>
      <div class='card-body'>
        <h3 class='card-title'><%= link_to 'Articles+', Settings.ARTICLES_HOME_URL %></h3>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Search a combined index of 100s of databases, and connect directly to the article or resource.</p>
      </div>
    </div>
  </div>
  <div class='col'>
    <div class='card'>
      <%= image_tag 'website.jpg', class: 'card-img-top' %>
      <div class='card-body'>
        <h3 class='card-title'><%= link_to 'Library website', Settings.LIBRARY_WEBSITE_HOME_URL %></h3>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Find topic specialists, blog posts, descriptions of our notable collections, as well as libraries, hours, and policies.</p>
      </div>
    </div>
  </div>
  <div class='col'>
    <div class='card'>
      <%= image_tag 'yewno.jpg', class: 'card-img-top' %>
      <div class='card-body'>
        <h3 class='card-title'><%= link_to 'Yewno', Settings.YEWNO_HOME_URL %></h3>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Explore concepts and connections, and understand interdisciplinary subjects, in a graph interface.</p>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/more_search_tools' %>
