<% @page_title = t 'blacklight_advanced_search.page_title', application_name: "#{I18n.t('blacklight.application_name')} catalog" %>
<% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
  <div class="constraints well search_history">
    <h4><%= t 'blacklight_advanced_search.form.search_context' %></h4>
    <%= search_context_str %>
  </div>
<% end %>

<%= form_tag search_catalog_path, :id => 'advanced-search-form', :class => 'advanced form-horizontal', :method => :get do  %>

  <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search(advanced_search_context)) %>

  <div class="input-criteria">

    <div class="query-criteria">
      <h2 class="query-criteria-heading">
        <%= t('blacklight_advanced_search.form.query_criteria_heading_html', :select_menu =>  select_menu_for_field_operator ) %>
      </h2>

      <div id="advanced_search">
        <%= render 'advanced/advanced_search_fields' %>
      </div>
    </div>

    <div class="limit-criteria">
      <h2 class="limit-criteria-heading"><%= t('blacklight_advanced_search.form.limit_criteria_heading_html')%></h2>

      <div id="advanced_search_facets" class="limit_input">
        <div class="form-group advanced-search-facet">
          <%= label_tag "pub_year_tisim", :class => "col-sm-3 control-label" do %>Publication year range<% end %>
          <div class="col-sm-8 form-group row">
            <div class="col-sm-3">
              <%= render_range_input("pub_year_tisim", :begin, "from year") %>
            </div>
            <div class="col-sm-1 control-label">-</div>
            <div class="col-sm-3">
              <%= render_range_input("pub_year_tisim", :end, "to year") %>
            </div>
          </div>
        </div>

        <div class="facets-list col-sm-offset-3 col-sm-9">
          <% if blacklight_config.try(:advanced_search).try {|h| h[:form_facet_partial] } %>
            <%= render blacklight_config.advanced_search[:form_facet_partial] %>
          <% else %>
            <%= render 'advanced_search_facets' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="sort-submit-buttons clearfix">
    <%= render 'advanced_search_submit_btns' %>
  </div>

<% end %>
