<%= content_tag :h2, t('blacklight_advanced_search.form.sort_label') %>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-4">
    <%- sort_fields = active_sort_fields.values.map { |field_config| [sort_field_label(field_config.key), field_config.key] } %>
    <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort])), :class => "form-control sort-select col-sm-3 col-offset-sm-3") %>
    <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
  </div>
</div>
<div class="form-group advanced-submit-group">
  <div class="submit-buttons col-sm-offset-3 col-sm-9">
    <%= button_tag(class:'btn btn-primary advanced-search-submit', id: "advanced-search-submit", type: "Submit") do %>
      <%= t('blacklight_advanced_search.form.search_btn').html_safe %>
    <% end %>

    <%= button_tag t('blacklight_advanced_search.form.start_over').html_safe, type: "reset", class: "btn btn-link advanced-search-start-over" %>
  </div>
</div>
