        <%= @form.hidden_field :url, value: @request_referer, class:"reporting-from-field" %>
        <%= @form.hidden_field :user_agent, 'data-feedback-form-target': 'agent' %>
        <%= @form.hidden_field :viewport, 'data-feedback-form-target': 'viewport' %>
        <%= @form.hidden_field :last_search, 'data-feedback-form-target': 'lastSearch' %>
        <div role="alert" class="alert alert-info d-flex shadow-sm align-items-center" >
            <div
            class="bi bi-info-circle-fill fs-3 me-3 align-self-center d-flex justify-content-center">
            </div>
            <div class="text-body row w-100">
                <div class="col-8">
                    Reporting from <%= @request_referer %>
                </div>
                <div class="col-4 text-end">
                    <%= link_to 'Check system status', 'http://library-status.stanford.edu'  %>
                </div>
            </div>
        </div>

        <div class="pt-3 mb-3 row">
            <%= render Feedback::ChatWithLibrarianComponent.new(header_class: "h5") %>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label fw-bold" for="name">Name</label>
            <div>
                <%= @form.text_field :name, value: "", class:"form-control", autocomplete: "name" %>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label required fw-bold" for="email">Email</label>
            <div>
                <%= @form.email_field :to, value: "", class:"form-control", autocomplete: "email", required: true %>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label required fw-bold" for="message">Message</label>
            <div>
                <%= @form.text_area :message, value: "", rows:"2", class:"form-control", required: true %>
                <% if helpers.current_user.blank? %>
                    <div class="login-message mt-4 mb-0">
                        <%= render RecaptchaComponent.new(action: 'feedback') %>
                    </div>
                <% end %>
            </div>
        </div>
