<%= helpers.turbo_frame_tag "feedback-form_frame" do %>
    <% form_with url: feedback_form_path, method: :post, id: "feedback-form", class: "feedback-form", role: "form", namespace: 'feedback', html: {'data-controller': 'feedback-form', 'data-action': 'turbo:submit-end->feedback-form#submitForm'} do |f| %>
        <%= f.hidden_field :url, value: request.referer, class:"reporting-from-field" %>
        <%= f.hidden_field :user_agent, 'data-feedback-form-target': 'agent' %>
        <%= f.hidden_field :viewport, 'data-feedback-form-target': 'viewport' %>
        <%= f.hidden_field :last_search, 'data-feedback-form-target': 'lastSearch' %> 
        <%= f.hidden_field :form_format, value: @format %>

        <% if @format == 'modal' %>
            <div class="modal-body">
        <% end %>
    
        <div role="alert" class="alert alert-info d-flex shadow-sm align-items-center" >
            <div
            class="bi bi-info-circle-fill fs-3 me-3 align-self-center d-flex justify-content-center">
            </div>
            <div class="text-body row w-100">
                <div class="col-8">
                    Reporting from <%= request.referer %>
                </div>
                <div class="col-4 text-end">
                    <%= link_to 'Check system status', 'http://library-status.stanford.edu'  %>
                </div>
            </div>
        </div>

        <div class="pt-3 mb-3 row">
            <%= render Feedback::ChatWithLibrarianComponent.new(header_class: "h5") %>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label fw-bold" for="name"
            >Name</label
            >
            <div>
                <%= f.text_field :name, value: "", class:"form-control", autocomplete: "name" %>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label required fw-bold" for="email"
            >Email</label
            >
            <div>
                <%= f.email_field :to, value: "", class:"form-control", autocomplete: "email", required: true %>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label required fw-bold" for="message"
            >Message</label
            >
            <div>
                <%= f.text_area :message, value: "", rows:"2", class:"form-control", required: true %>
                <% if helpers.current_user.blank? %>
                    <div class="text-secondary login-message mt-4 mb-0">
                        <%= render RecaptchaWithLoginLinkComponent.new(recaptcha_id: "#feedback-recaptcha", classes: "") %>
                    </div>
                <% end %>
            </div>
        </div>
        <% if @format == 'modal' %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary me-2 close" data-bl-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        <% else %>
            <div class="d-flex-inline text-end">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        <% end %>
    <% end %>
<% end %>