        <%= @form.hidden_field :url, value: @request_referer, class:"reporting-from-field" %>
        <%= @form.hidden_field :user_agent, 'data-feedback-form-target': 'agent' %>
        <%= @form.hidden_field :viewport, 'data-feedback-form-target': 'viewport' %>
        <%= @form.hidden_field :last_search, 'data-feedback-form-target': 'lastSearch' %>

        <div class="mb-3 d-flex justify-content-start gap-3">
            <strong class="fw-semibold">Other helpful resources:</strong>

            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <%= link_to("https://library.stanford.edu/ask/email/connection-problems") do %>
                    Report a connection problem<i class="bi bi-arrow-up-right ms-1" aria-hidden></i>
                    <% end %>
                </li>
                <li class="list-inline-item">
                    <%= link_to 'http://library-status.stanford.edu' do%>
                        Check system status<i class="bi bi-arrow-up-right ms-1" aria-hidden></i>
                    <% end %>
                </li>
            </ul>
        </div>

        <div class="mb-3 row">
            <%= render Searchworks4::ChatWithLibrarianComponent.new(layout: 'inline', header_class: "fw-semibold") %>
        </div>

        <div class="mb-3 row">
            <%= @form.label :name, 'Name', class: 'col-form-label fw-bold' %>
            <div>
                <%= @form.text_field :name, value: "", class:"form-control", autocomplete: "name" %>
            </div>
        </div>
        <div class="mb-3 row">
            <%= @form.label :to, 'Email', class: 'col-form-label required fw-bold' %>
            <div>
                <%= @form.email_field :to, value: "", class:"form-control", autocomplete: "email", required: true %>
            </div>
        </div>
        <div class="mb-3 row">
            <%= @form.label :message, 'Message', class: 'col-form-label required fw-bold' %>
            <div>
                <%= @form.text_area :message, value: "", rows:"2", class:"form-control", required: true %>
                <% if helpers.current_user.blank? %>
                    <div class="login-message mt-4 mb-0">
                        <%= render RecaptchaComponent.new(action: 'feedback') %>
                    </div>
                <% end %>
            </div>
        </div>
