<% get_collection %>
<% if !@parent.nil? %>
  <div id="masthead-container">
    <div id="masthead" class="collection-masthead">
      <h1><%= @parent[:title_display] %></h1>
      <div class="collection-content">
        <% if @parent[:summary_display] %>
          <div class="collection-summary">
            <div data-behavior='truncate'>
              <%= @parent[:summary_display].join(', ') %>
            </div>
          </div>
        <% end %>
        <dl class="row dl-invert collection-metadata">
          <% if @parent.collection_members.present? %>
            <dt class="col-md-3">Digital collection</dt>
            <dd class="col-md-9"><%= link_to_collection_members(pluralize(@parent.collection_members.total, 'digital item'), @parent) %></dd>
          <% end %>
          <% # this stuff is temporary until we have item level merge (mods + marc) %>
          <% if @parent.extent_sans_format.present? %>
            <dt class="col-md-3">Physical collection</dt>
            <dd class="col-md-9"><%= @parent.extent_sans_format %></dd>
          <% end %>
          <% if @parent.index_links.finding_aid.present? %>
            <dt class="col-md-3">Finding aid</dt>
            <dd class="col-md-9"><%= @parent.index_links.finding_aid.first.html.html_safe %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
<% end %>
