<% get_collection %>
<% if !@parent.nil? %>
  <div id="masthead-container">
    <div id="masthead" class="collection-masthead">
      <h1 class="my-3"><%= @parent[:title_display] %></h1>
      <div class="collection-content">
        <% if @parent[:summary_display] %>
          <div class="collection-summary">
            <div data-behavior='truncate'>
              <%= format_record_html(@parent[:summary_display].join(', ')) %>
            </div>
          </div>
        <% end %>
        <dl class="dl-horizontal dl-invert collection-metadata">
          <% if @parent.collection_members.present? %>
            <dt>Digital collection</dt>
            <dd><%= link_to_collection_members(pluralize(@parent.collection_members.total, 'digital item'), @parent) %></dd>
          <% end %>
          <% # this stuff is temporary until we have item level merge (mods + marc) %>
          <% if @parent.extent_sans_format.present? %>
            <dt>Physical collection</dt>
            <dd><%= @parent.extent_sans_format %></dd>
          <% end %>
          <% if @parent.index_links.finding_aid.present? %>
            <dt>Finding aid</dt>
            <dd><%= @parent.index_links.finding_aid.first.html.html_safe %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
<% end %>
