<% unless show? %>
  <div class="d-md-none d-block mb-2 mini-bento-btn-wrapper">
    <button class="mini-bento btn btn-outline-primary col-12" data-bs-toggle="collapse" data-bs-target=".alternate-catalog" aria-expanded="false" aria-controls="alternate-catalog">
      <span>Looking for more?</span>
    </button>
  </div>
<% end %>
<div class='alternate-catalog accordion accordion-collapse collapse d-md-block' data-alternate-catalog="<%= url %>" data-controller="analytics" data-analytics-category-value="alternate-catalog">
  <div class="row">
    <h3 class="alternate-catalog-title col"></h3>
    <% if close? %>
      <button type='button' class='alternate-catalog-close btn-close col-2 me-2 d-md-none d-block' aria-label="Close">
      </button>
    <% end %>
  </div>
  <div class="alternate-catalog-body row d-none">
    <div class="col-12">
      <h4 class="alternate-catalog-name mb-0">
        <%= name %>
        <span class="badge rounded-pill alternate-catalog-count"></span>
      </h4>
      <div class='alternate-catalog-desc'>
        <%= description %>
      </div>
      <div>
        <%= link_to(url, class: 'btn btn-outline-secondary', data: { action: "click->analytics#trackLink"}) do %>
          View all <%= result_singular %> results
        <% end %>
      </div>
    </div>

    <div class="col-12">
      <h4 class="alternate-catalog-name mt-3 mb-1">
        Other search tools
      </h4>
      <div class="mb-2">
        <%= link_to(bento_url) do %>
          View results from all tools
        <% end %>
      </div>

      <div data-controller="blacklight-result-count" data-blacklight-result-count-url-value="<%= archive_search_url %>">
        <%= link_to archive_search_url, class: 'su-underline' do %>
          Archival Collections at Stanford
        <% end %>
        <span class="badge rounded-pill" data-blacklight-result-count-target="count"></span>
      </div>

      <div data-controller="blacklight-result-count" data-blacklight-result-count-url-value="<%= geo_search_url %>">
        <%= link_to geo_search_url,  class: 'su-underline' do %>
          EarthWorks for geospatial data and maps
        <% end %>
        <span class="badge rounded-pill" data-blacklight-result-count-target="count"></span>
      </div>

      <div data-controller="bento-result-count" data-bento-result-count-url-value="<%= bento_search_url('lib_guides') %>">
        <%= link_to '', class: 'su-underline', data: {'bento-result-count-target': 'link'} do %>
          Guides to collections, tools, and services
        <% end %>
        <span class="badge rounded-pill" data-bento-result-count-target="count"></span>
      </div>

      <div data-controller="blacklight-result-count" data-blacklight-result-count-url-value="<%= exhibits_search_url %>">
        <%= link_to exhibits_search_url, class: 'su-underline' do %>
          Spotlight Exhibits
        <% end %>
        <span class="badge rounded-pill" data-blacklight-result-count-target="count"></span>
      </div>
    </div>
  </div>
</div>
