<% unless show? %>
  <div class="d-md-none d-block mb-2 mini-bento-btn-wrapper">
    <button class="mini-bento btn btn-outline-primary col-12" data-bs-toggle="collapse" data-bs-target=".alternate-catalog" aria-expanded="false" aria-controls="alternate-catalog">
      <span>Looking for more?</span>
    </button>
  </div>
<% end %>
<div class='alternate-catalog accordion accordion-collapse collapse d-md-block mb-3' data-mini-bento-alternate-catalog-url-value="<%= url %>" data-alternate-catalog="<%= url %>" data-controller="analytics mini-bento" data-analytics-category-value="alternate-catalog">
  <div class="row">
    <h2 class="alternate-catalog-title col mb-3" data-mini-bento-target="title">Searching...</h2>
    <% if close? %>
      <button type='button' data-action="click->mini-bento#closeBento" class='alternate-catalog-close btn-close col-2 me-2 d-md-none d-block' aria-label="Close">
      </button>
    <% end %>
  </div>
  <div class="alternate-catalog-body row d-none" data-mini-bento-target="body">
    <div class="alternate-catalog-primary-tools col-12">
      <h3 class="alternate-catalog-name mb-0">
        <span class="fw-normal">SearchWorks</span>
        <%= name %>
        <span class="badge rounded-pill alternate-catalog-count" data-mini-bento-target="count"></span>
      </h3>
      <div class="alternate-catalog-desc mb-2">
        <%= description %>
      </div>
      <div>
        <%= link_to(url, class: 'btn btn-outline-secondary', data: { action: "click->analytics#trackLink"}) do %>
          View <%= result_singular %> results
        <% end %>
      </div>
    </div>

    <div class="alternate-catalog-other-tools col-12">
      <div class="d-flex flex-wrap align-items-baseline mb-1">
        <h3 class="alternate-catalog-name mt-3 mb-1 me-2">
          Other search tools
        </h3>
        <div class="alternate-catalog-view-all mb-2">
          <%= link_to(bento_url) do %>
            View results from all tools
          <% end %>
        </div>
      </div>

      <div class="mb-2" data-controller="blacklight-result-count" data-blacklight-result-count-url-value="<%= archive_search_url %>">
        <%= link_to archive_search_url, class: 'su-underline pe-2' do %>
          Archival Collections at Stanford
        <% end %>
        <span class="badge rounded-pill" data-blacklight-result-count-target="count"></span>
      </div>

      <div class="mb-2" data-controller="blacklight-result-count" data-blacklight-result-count-url-value="<%= geo_search_url %>">
        <%= link_to geo_search_url,  class: 'su-underline pe-2' do %>
          EarthWorks for geospatial data and maps
        <% end %>
        <span class="badge rounded-pill" data-blacklight-result-count-target="count"></span>
      </div>

      <div class="mb-2" data-controller="bento-result-count" data-bento-result-count-url-value="<%= bento_search_url('lib_guides') %>">
        <%= link_to '', class: 'su-underline pe-2', data: {'bento-result-count-target': 'link'} do %>
          Guides to collections, tools, and services
        <% end %>
        <span class="badge rounded-pill" data-bento-result-count-target="count"></span>
      </div>

      <div data-controller="blacklight-result-count" data-blacklight-result-count-url-value="<%= exhibits_search_url %>">
        <%= link_to exhibits_search_url, class: 'su-underline pe-2' do %>
          Spotlight Exhibits
        <% end %>
        <span class="badge rounded-pill" data-blacklight-result-count-target="count"></span>
      </div>
    </div>
  </div>
</div>
