<div id="<%= presenter.service_name %>" class="module-contents mb-3" data-controller="module" data-module-count-id-value="<%= presenter.service_name %>_count" data-module-total-value="<%= presenter.formatted_total %>">
    <%= render 'module_heading', presenter: %>
    <% if presenter.no_answer? %>
      <div class="alert alert-danger">
        There was an error retrieving your <%= t("#{presenter.service_name}_search.micro_display_name") %> results.
      </div>
    <% elsif presenter.no_results? %>
        <%= render 'no_results', presenter: %>
    <% else %>
        <ol class="list-unstyled">
          <% presenter.results.each do |result| %>
            <%= render result %>
          <% end %>
        </ol>
    <% end %>
</div>
