<div class="result-title fs-1125 pt-2 pb-1">
  <%= link_to result.title.html_safe, result.link %>
</div>


<% if result.icon.present? || result.physical %>
  <div class="pb-1 ">
    <%= image_tag result.icon, aria: { hidden: true }, class: 'icon mx-1' %>
    <span class="fw-semibold"><%= result.format %></span>
    <% if result.physical %>
      <% if result.format %>&mdash; <% end %>
      <%= result.physical %>
    <% end %>
  </div>
<% end %>
<% if result.author.present? %>
  <div class="pb-1"><%= result.author %></div>
<% end %>
<% if result.imprint.present? %>
  <div class="pb-1"><%= result.imprint %></div>
<% end %>
<% if result.journal.present? %>
  <div class="pb-1"><%= result.journal %></div>
<% end %>

<% if result.description.present? %>
  <p class="description line-clamp"><%= result.description.html_safe %></p>
<% end %>


<% if result.fulltext_link_html %>
  <p><%= result.fulltext_link_html.html_safe %></p>
<% end %>
