<% title %>
<section class="bg-secondary py-4">
  <div class="container-fluid" style="max-width: 600px">
    <form class="search-query-form d-flex" action="/all" accept-charset="UTF-8" method="get">
      <label class="visually-hidden" for="q">search for</label>
      <%= text_field_tag 'q', params[:q], class: "search-q q form-control rounded-left rounded-start pe-2", type: 'search', autocomplete: 'off', spellcheck: false, required: true %>
      <button class="btn btn-secondary search-btn d-flex align-items-center justify-content-center" type="submit" id="search"><span class="submit-search-text">Search</span></button>
    </form>
  </div>
</section>

<div class="container-fluid">
  <div id="result-types" class="row">
    <h1 class="visually-hidden">Search results</h1>
    <div class="col result-types">
      <%= render 'found_types' %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-xl-9 col-lg-12">
      <div class="d-flex flex-wrap gap-5 mt-3" id="modules">
        <% enabled_searchers.each do |searcher| %>
          <turbo-frame id="<%= searcher.name %>_module" src="/all/<%= searcher.name %>?q=<%= params[:q] %>" class="module-container">
            <div class="module-contents" style="height: 500px;">
              <div class="d-flex justify-content-between align-items-center flex-wrap column-gap-1 mb-1">
                  <h2 class='result-set-heading h4 mb-0 fw-semibold text-nowrap'>
                    <%= t("display_name_html", scope: searcher.i18n_key) %>
                  </h2>
              </div>
              <small class='result-set-subheading d-block mb-3'>
                <%= t("sub_heading_html", scope: searcher.i18n_key) %>
              </small>

              <div class="text-uppercase text-cardinal fs-6 d-flex align-items-center placeholder-glow">
                Searching
                  <span aria-hidden class="ms-2 rounded-circle placeholder placeholder-dot bg-dark"></span>
                  <span aria-hidden class="ms-2 rounded-circle placeholder placeholder-dot bg-dark"></span>
                  <span aria-hidden class="ms-2 rounded-circle placeholder placeholder-dot bg-dark"></span>
              </div>
            </div>
          </turbo-frame>
        <% end %>
        <div class="module-container" id="specialist-main">
          <div class="module-contents">
            <%= render 'specialist', specialist: @specialist if @specialist %>
          </div>
        </div>
      </div>
    </div>

    <aside class="d-none d-xl-block col-xl-3">
      <div class="bg-secondary py-3 px-4">
        <div id="webside-aside" class="pb-5"></div>
        <div id="guides-aside" class="pb-5"></div>
        <div id="specialist-aside"></div>
      </div>
    </aside>
  </div>
</div>
