<% title %>
<section class="bg-secondary py-4">
  <div class="container-fluid" style="max-width: 600px">
    <form class="search-query-form d-flex" action="/all" accept-charset="UTF-8" method="get">
      <label class="visually-hidden" for="q">search for</label>
      <%= text_field_tag 'q', params[:q], class: "search-q q form-control rounded-left rounded-start", type: 'search', autocomplete: 'off', spellcheck: false, required: true %>
      <button class="btn btn-secondary search-btn d-flex align-items-center justify-content-center" type="submit" id="search"><span class="submit-search-text">Search</span></button>
    </form>
  </div>
</section>

<div class="container-fluid">
  <div id="result-types" class="row">
    <h1 class="visually-hidden">Search results</h1>
    <div class="col result-types">
      <%= render 'found_types' %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-xl-9 col-lg-12">
      <div class="d-flex flex-wrap gap-5 mt-3" id="modules">
        <% Settings.enabled_searchers.each do |searcher| %>
          <turbo-frame id="<%= searcher.underscore %>_module" src="/all/<%= searcher %>?q=<%= params[:q] %>" class="module-container">
            <div class="module-contents" style="height: 500px;">
              Loading ...
            </div>
          </turbo-frame>
        <% end %>
        <div class="module-container" id="specialist-main">
          <div class="module-contents">
            <%= render 'specialist', specialist: @specialist if @specialist %>
          </div>
        </div>
      </div>
    </div>

    <aside class="d-none d-xl-block col-xl-3">
      <div class="bg-secondary py-3 px-4">
        <div id="webside-aside" class="pb-5"></div>
        <div id="guides-aside"></div>
        <div id="specialist-aside"></div>
      </div>
    </aside>
  </div>
</div>
