<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.with_label do %>
    <%= @facet_field.label %>
  <% end %>
  <% component.with_body do %>
    <% if @facet_field.selected_range_facet_item %>
      <%= render BlacklightRangeLimit::RangeSegmentsComponent.new(facet_field: @facet_field, facet_items: [@facet_field.selected_range_facet_item], classes: ['current']) %>
    <% end %>

  <div
    class='eds_range_slider'
    data-eds-date-min="<%= date_range.min_year%>"
    data-eds-date-max="<%= date_range.max_year %>"
    data-eds-date-begin="<%= date_range.begin %>"
    data-eds-date-end="<%= date_range.end %>"
  >
    <%= form_tag articles_path, method: :get, class: 'range_limit subsection form-inline' do %>
      <%= render Blacklight::HiddenSearchStateComponent.new(params: helpers.search_state.params_for_search) %>
      <div class="input-group input-group-sm mb-3 flex-nowrap range-limit-input-group">
        <%= text_field_tag("range[#{@facet_field.key}][begin]", date_range.begin, class: 'form-control text-center range_begin') %>
        <%= text_field_tag("range[#{@facet_field.key}][end]", date_range.end, class: 'form-control text-center range_end') %>
        <%= submit_tag t('blacklight.range_limit.submit_limit'), class: 'submit btn btn-primary' %>
      </div>
    <% end %>
    <div class='eds-slider slider_js'></div>
  </div>
  <% end %>
<% end %>
