<search class="search-card d-flex position-relative flex-column px-4 py-3 rounded" data-controller="home-page-search">
  <div class="mb-3">
    <span class="fw-bold">Search mode:</span>
    <div class="form-check form-check-inline ms-3 me-2">
      <input class="form-check-input" type="radio" name="search-type" id="searchTypeCatalog" value="catalog" <%= 'checked' if current_page?(root_path) %> data-action="home-page-search#toggle" data-url="<%= root_path %>">
      <label class="form-check-label" for="searchTypeCatalog">Catalog</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="search-type" id="searchTypeArticle" value="articles" <%= 'checked' if current_page?(articles_path) %> data-action="home-page-search#toggle" data-url="<%= articles_path %>">
      <label class="form-check-label" for="searchTypeArticle">Articles+</label>
    </div>
  </div>
  <%= form_with url: @url, local: true, method: @method, class: @classes.join(' '), scope: @prefix, role: 'search', data: { action: 'home-page-search#submit' }, **@form_options do |f| %>
    <%= render Blacklight::HiddenSearchStateComponent.new(params: @params) %>
    <% if search_fields.length > 1 %>
      <%= f.label :search_field, scoped_t('search_field.label'), class: 'visually-hidden' %>
    <% end %>
    <% before_input_groups.each do |input_group| %>
      <%= input_group %>
    <% end %>
    <div class="input-group" data-controller='auto-complete'>
      <%= prepend %>

      <% if search_fields.length > 1 %>
        <%= f.select(:search_field,
                    options_for_select(search_fields, h(@search_field)),
                    {},
                    title: scoped_t('search_field.title'),
                    class: "custom-select form-select search-field",
                    data: {'action': 'change->auto-complete#onChange'} ) %>
      <% elsif search_fields.length == 1 %>
        <%= f.hidden_field :search_field, value: search_fields.first.last %>
      <% end %>

      <% if autocomplete_path.present? %>
        <auto-complete data-auto-complete-target="autoComplete" data-auto-complete-src="<%= autocomplete_path %>" for="autocomplete-popup" class="d-flex flex-wrap search-autocomplete-wrapper border border-0">
          <%= f.label @query_param, scoped_t('search.label'), class: 'visually-hidden' %>
          <%= f.search_field @query_param, value: @q, placeholder: scoped_t('search.placeholder'), class: "search-q q form-control #{rounded_border_class}", autofocus: @autofocus, aria: { label: scoped_t('search.label'), autocomplete: 'list', controls: 'autocomplete-popup' }  %>
          <ul id="autocomplete-popup" class="dropdown-menu show" role="listbox" aria-label="<%= scoped_t('search.label') %>" data-auto-complete-target="popup"></ul>
        </auto-complete>
      <% else %>
        <%= f.label @query_param, scoped_t('search.label'), class: 'visually-hidden' %>
        <%= f.search_field @query_param, value: @q, placeholder: scoped_t('search.placeholder'), class: "search-q q form-control #{rounded_border_class}", autofocus: @autofocus, aria: { label: scoped_t('search.label') }, data: { 'turbo-permanent': true }  %>
      <% end %>

      <%= append %>
      <%= search_button || render(Blacklight::SearchButtonComponent.new(id: "#{@prefix}search", text: scoped_t('submit'))) %>
    </div>
  <% end %>
  <p class="mt-3 mb-0"><%= footer %></p>

  <%= link_to_unless_current 'Advanced search', advanced_search_path, data: { turbo: false }, class: 'advanced-search-link text-body text-nowrap py-2 py-sm-0' unless controller_name.in?(%w[article_selections articles]) %>
</search>
