<div class="container-lg flex-1 mb-auto">
  <%= render 'shared/modal' %>
  <main id="main-container" data-controller="google-cover-image">
    <%= render 'global_alerts/alerts' if Settings.GLOBAL_ALERT %>

    <% # The quick report javascript requires this node to be on the page %>
    <div class="flash_messages mx-auto" style="max-width: 1000px;">
      <% [:success, :notice, :error, :alert, :recaptcha_error].each do |type| %>
        <%- alert_class = case type
          when :success then "alert-success"
          when :notice  then "alert-info"
          when :alert   then "alert-warning"
          when :error, :recaptcha_error then "alert-danger"
          else "alert-#{type}"
          end
        -%>

        <% if flash[type] %>
          <div role="alert" class="alert <%= alert_class %> alert-dismissible shadow-sm d-flex align-items-center">
            <% case alert_class %>
            <% when "alert-success" %>
              <i class="bi bi-check-circle-fill fs-3 me-3"></i>
            <% when "alert-info" %>
              <i class="bi bi-info-circle-fill fs-3 me-3"></i>
            <% when "alert-warning", "alert-danger" %>
              <i class="bi bi-exclamation-triangle-fill fs-3 me-3"></i>
            <% end %>
            <div class="text-body">
              <div><%= flash[type].html_safe %></div>
            </div>
            <button type="button" class="btn-close p-2 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= content %>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toast" class="toast d-block" role="alert" aria-live="assertive" aria-atomic="true" data-bs-config='{ "delay": 8000 }'>
        <div class="toast-body d-flex justify-content-between">
          <div class="toast-text"></div>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </main>
</div>
