<%= tag.nav class: 'page_links' do %>
  <%= link_to_previous_page response, t('views.pagination.previous').html_safe, class: 'me-2' do %>
    <%# Display the disabled previous link if there is no previous page %>
    <%= tag.span t('views.pagination.previous').html_safe, class: 'disabled me-2' if response.total_pages > 1 %>
  <% end %>
  <span class="page_entries">
    <% if response.total_count == 1 %>
      <%= page_entries_info(response) %>
    <% else %>
      <strong><%= number_with_delimiter(response.offset_value + 1) %></strong> - <strong><%= number_with_delimiter([@response.offset_value + @response.limit_value, @response.total_count].min) %></strong> of <strong class="end-count"><%= number_with_delimiter(@response.total_count) %></strong>
    <% end %>
  </span>

  <%= link_to_next_page response, t('views.pagination.next').html_safe, class: 'ms-2' %>
<% end %>
