<div class="record-toolbar d-flex flex-column flex-xxl-row mb-4 mb-xxl-3 gap-1" role="navigation" data-controller="analytics">
  <div class="d-flex flex-row">
    <%= helpers.link_back_to_catalog class: 'btn btn-link btn-sul-toolbar back-to-results', label: t('blacklight.back_to_search').html_safe %>
    <%= render ToolbarSearchContextInfoComponent.new(search_context: @search_context, search_session: search_session, current_document: document) %>
  </div>
  <div class="ms-xxl-auto flex-nowrap">
    <ul class="nav navbar justify-content-start d-inline-flex gap-2 border rounded px-1 py-0">
      <li class="px-2">
        <%= render 'bookmark_control', document: document, document_action_config: @presenter.view_config.document_actions.find { |x| x.key == :bookmark } %>
      </li>
      <% if citable? %>
        <li>
          <%= link_to cite_path, id: 'citeLink', data: { action: "click->analytics#trackLink", blacklight_modal: "trigger" },
              class: 'btn btn-link btn-sul-toolbar' do %>
            <i class="bi bi-quote me-1"></i>Cite
          <% end %>
        </li>
      <% end %>
      <li>
        <a data-blacklight-modal="trigger" href="<%= email_solr_document_path(document) %>"><i class="bi bi-envelope me-1"></i>Email</a>
      </li>
      <li>
        <button class="btn btn-link" type="button" data-controller="copy-link" data-action="click->copy-link#copyLink" data-copy-link-url-value="<%= solr_document_url(document) %>"><i class="bi bi-link-45deg me-1"></i>Copy link</button>
      </li>
      <li>
        <button class="btn btn-link" onClick="javascript:if(window.print)window.print()"><i class="bi bi-printer me-1"></i>Print</button>
      </li>
    </ul>
  </div>
</div>
