<nav class="record-toolbar d-flex flex-column flex-xxl-row mt-5 mb-3 mb-xxl-4 gap-4" aria-label="Tools" data-controller="analytics" data-analytics-category-value="record-toolbar">
  <div class="d-flex d-flex-row column-gap-3 align-items-center">
    <%= helpers.link_back_to_catalog class: 'back-to-results', label: t('blacklight.back_to_search').html_safe %>
    <%= render ToolbarSearchContextInfoComponent.new(search_context: @search_context, search_session: search_session, current_document: document) %>
  </div>
  <div class="ms-xxl-auto flex-nowrap">
    <ul class="nav navbar justify-content-start d-inline-flex gap-2 border rounded px-1 py-0">
      <li>
        <%= render Document::TrackingBookmarkComponent.new(document:, action: @presenter.view_config.document_actions.find { |x| x.key == :bookmark }) %>
      </li>
      <% if citable? %>
        <li>
          <%= link_to cite_path, id: 'citeLink', data: { action: "click->analytics#trackLink", blacklight_modal: "trigger" },
              class: 'btn nav-link icon-link' do %>
            <i class="bi bi-quote"></i>Cite
          <% end %>
        </li>
      <% end %>
      <li>
        <a class="btn nav-link icon-link" data-action="click->analytics#trackLink" data-blacklight-modal="trigger" href="<%= email_path %>"><i class="bi bi-envelope"></i>Email</a>
      </li>
      <li>
        <button class="btn nav-link icon-link" type="button" data-controller="copy-link" data-action="click->copy-link#copyLink click->analytics#trackEvent" data-copy-link-url-value="<%= copy_url %>"><i class="bi bi-link-45deg"></i>Copy link</button>
      </li>
      <li>
        <button class="btn nav-link icon-link" data-action="click->analytics#trackEvent" onClick="javascript:if(window.print)window.print()"><i class="bi bi-printer"></i>Print</button>
      </li>
    </ul>
  </div>
</nav>
