<div class="record-toolbar d-flex flex-column flex-xxl-row" role="navigation" data-controller="analytics">
  <div class="d-flex flex-row">
    <%= helpers.link_back_to_catalog class: 'btn btn-link btn-sul-toolbar back-to-results', label: t('blacklight.back_to_search').html_safe %>
    <%= render ToolbarSearchContextInfoComponent.new(search_context: @search_context, search_session: search_session, current_document: document) %>
  </div>
  <div class="ms-xxl-auto flex-nowrap">
    <ul class="nav navbar justify-content-start d-inline-flex flex-nowrap border p-1">
      <% if citable? %>
        <li>
          <%= link_to t('blacklight.tools.cite_html'), cite_path, id: 'citeLink', data: { action: "click->analytics#trackLink", blacklight_modal: "trigger" },
              class: 'btn btn-link btn-sul-toolbar' %>
        </li>
      <% end %>
      <li class="dropdown">
        <button class="btn btn-sul-toolbar dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('blacklight.tools.send_to_html').html_safe %>
        </button>
        <div class="dropdown-menu" role="menu">
          <%= render "shared/record/record_toolbar_tools_subset" %>
        </div>
      </li>
      <li>
        <%= render 'bookmark_control', document: document, document_action_config: @presenter.view_config.document_actions.find { |x| x.key == :bookmark } %>
      </li>
    </ul>
  </div>
</div>
