<% if items.one? %>
  <%= render Stackmap::MapComponent.new(item: items.first, stackmap_api_url: stackmap_api_url) %>
<% else %>
  <div class="d-flex align-items-center mb-3">
    Select call number: <ul class="nav sw-pills ms-3 gap-3" role="tablist">
      <% items.each.with_index do |item, index| %>
        <li class="nav-item" role="presentation">
          <button class="nav-link<%= ' active' if index == 0 %>" id="<%= tab_id_for(item) %>" data-bs-toggle="tab" data-bs-target="#<%= target_id_for(item) %>" type="button" role="tab" aria-controls="<%= tab_id_for(item) %>" aria-selected="<%= index == 0 %>"><%= item.callnumber %></button>
        </li>

      <% end %>
    </ul>
  </div>
  <div class="tab-content">
    <% items.each.with_index do |item, index| %>
      <div class="tab-pane<%= ' active' if index == 0 %>" id="<%= target_id_for(item) %>" role="tabpanel" aria-labelledby="<%= tab_id_for(item) %>" tabindex="0">
        <%= render Stackmap::MapComponent.new(item: item, stackmap_api_url: stackmap_api_url) %>
      </div>
    <% end %>
  </div>
<% end %>
