<%= render @layout.new(classes: ['panel-in-collection']) do |c| %>
  <% c.title { 'Item belongs to a collection' } %>
  <% c.body do %>
    <h4><%= link_to(helpers.document_presenter(@collection).heading, solr_document_path(@collection[:id])) %></h4>
    <% if @collection[:summary_display] %>
      <div data-behavior='truncate'>
        <%= @collection[:summary_display].join(', ') %>
      </div>
    <% end %>
    <dl class="row dl-invert">
      <% if @collection.collection_members.present? %>
        <dt class="col-md-4">Digital collection</dt>
        <dd class="col-md-8"><%= helpers.link_to_collection_members(pluralize(@collection.collection_members.total, 'digital item'), @collection) %></dd>
      <% end %>
      <% if @collection.extent_sans_format.present? %>
        <dt class="col-md-4">Physical collection</dt>
        <dd class="col-md-8"><%= @collection.extent_sans_format %></dd>
      <% end %>
      <% if @collection.index_links.finding_aid.present? %>
        <dt class="col-md-4">Finding aid</dt>
        <dd class="col-md-8"><%= @collection.index_links.finding_aid.first.html.html_safe %></dd>
      <% end %>
    </dl>
  <% end %>
<% end %>
