<%= header %>

<%= tag.section class: @classes, **@html_attrs do %>
  <div class="access-panel-heading">
    <%= title %>
  </div>
  <div class="access-panel-body">
    <%= body %>
  </div>
  <%= after %>
<% end %>
