<%= header %>

<%= tag.section class: @classes, **@html_attrs do %>
  <div class="access-panel-heading">
    <h3>
      <%= title %>
    </h3>
  </div>
  <div class="access-panel-body">
    <%= body %>
  </div>
  <%= after %>
<% end %>
