<%= header %>

<%= tag.div class: (%w[card card-default access-panel] + @classes).join(' '), **@html_attrs do %>
  <div class="access-panel-heading card-heading">
    <h3>
      <%= title %>
    </h3>
  </div>
  <div class="card-body">
    <%= body %>
  </div>
  <%= after %>
<% end %>
