<%= render partial: "catalog/stackmap_link", locals: { document: document, location: location, location_name_class: "location-name" } %>
<% if !location.bound_with? %>
  <span class="pull-right"><%= render location_request_link %></span>
<% end %>
<% if location.mhld.present? %>
  <% if location.mhld.first.latest_received %>
    <div class='mhld note-highlight'>Latest: <%= location.mhld.first.latest_received %></div>
  <% end %>
  <% location.mhld.each do |mhld| %>
    <% if mhld.public_note.present? %>
      <div class='mhld'><%= mhld.public_note %></div>
    <% end %>
    <% if mhld.library_has.present? %>
      <div class='mhld'>Library has: <%= mhld.library_has %></div>
    <% end %>
  <% end %>
<% end %>
<%= tag.ul class: "availability record-view list-unstyled", id: list_identifier, data: truncate? ? { controller: "long-list" } : nil do %>
  <%= render AccessPanels::LocationItemComponent.with_collection(location.items, document:, classes: 'availability-item', render_item_level_request_link: !location_request_link.render?) %>
  <% if truncate? %>
    <li>
      <button class="btn btn-secondary btn-xs" aria-expanded="false" aria-controls="<%= list_identifier %>" data-action="click->long-list#expand" data-long-list-target="expandButton">show all<span class="sr-only"> at location</span></button>
      <button class="btn btn-secondary btn-xs" aria-expanded="true" aria-controls="<%= list_identifier %>" data-action="click->long-list#collapse" data-long-list-target="collapseButton">show less<span class="sr-only"> at location</span></button>
    </li>
  <% end %>

<% end %>