<%= render partial: "catalog/stackmap_link", locals: { document: document, location: location, location_name_class: "location-name" } %>
<% if location.bound_with? && document.bound_with? %>
  <%= content_tag(:div, class: 'bound-with-note note-highlight') { render document.bound_with_note_for_access_panel } %>
<% else %>
  <span class="pull-right"><%= location.request_link&.render %></span>
<% end %>
<% if location.mhld.present? %>
  <% location.mhld.each do |mhld| %>
    <% if mhld.public_note.present? %>
      <div class='mhld'><%= mhld.public_note %></div>
    <% end %>
    <% if mhld.latest_received.present? %>
      <div class='mhld note-highlight'>Latest: <%= mhld.latest_received %></div>
    <% end %>
    <% if mhld.library_has.present? %>
      <div class='mhld'>Library has: <%= mhld.library_has %></div>
    <% end %>
  <% end %>
<% end %>
<table class='availability record-view'>
  <caption class="sr-only">Items in <%= location.name %></caption>
  <thead>
    <tr class="sr-only">
        <th scope="col">Call number</th>
        <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody data-long-list data-list-type="location">
    <% location.items.each do |item| %>
      <tr>
        <td>
          <%= item.callnumber %>
          <% if item.public_note.present? %>
            <div class='public-note note-highlight'>Note: <%= item.public_note %></div>
          <% end %>
        </td>
        <% if item.present? %>
          <td data-live-lookup-id="<%= document[:id] %>" data-status-target=".availability-icon" data-barcode="<%= item.barcode if item.live_status? %>" <%= "data-request-url='#{helpers.request_link(document, item, item.barcode)}'".html_safe if location.request_link.show_item_level_request_link?(item) == RequestLink::DEPENDS_ON_AVAILABILITY %>>
            <span class="availability-icon-wrapper">
              <i class="availability-icon <%= item.status.availability_class %>"></i>
              <span data-available-text="<%= t('searchworks.availability.available') %>" data-unavailable-text="<%= t('searchworks.availability.unavailable') %>" class='status-text'>
                <%= item.status.status_text unless item.current_location && item.current_location.name.present? %>
              </span>
            </span>
            <span class="current-location">
              <% unless item.treat_current_location_as_home_location? %>
                <%= item.current_location.name %>
              <% end %>
            </span>
            <% if item.on_reserve? %>
              <%= item.loan_period %>
            <% end %>
            <span class="request-link">
              <% if location.request_link.show_item_level_request_link?(item) == RequestLink::ALWAYS %>
                <%= helpers.link_to_request_link(document: document, library: library, callnumber: item, barcode: item.barcode, class: 'btn btn-default request-button btn-xs') %>
              <% end %>
            </span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
