<div class="<%= container_class %>">
    <button class='btn btn-link fs-14 px-0 text-start' data-bs-toggle='popover' <% if container_target %>data-bs-container="<%= container_target %>"<% end %> data-bs-placement='left' data-bs-title='<%= popover_title %>' data-bs-content='<%= item_locations %>' data-bs-custom-class="popover-availability" data-bs-html="true"><%= I18n.t('searchworks.availability.summary') %></button>
</div>
