<div class="d-flex flex-column my-2 panel-library-location" data-hours-route="<%= hour_path(library.code) if library.holding_library? %>">
  <div class="library-location-heading bg-light fw-semibold ms-n3 ps-3 h4 py-1">
    <h3 class="h4 p-0 m-0"><%= link_to_library_about_page { library.name } %></h3>
    <div class="small location-hours-today">
      <% unless library.holding_library? %>
        (no holding library)
      <% end %>
    </div>
  </div>

  <% if document.marc_links.finding_aid.present? %>
      <div class='access-panel-subsection flex-wrap flex-xl-nowrap d-flex row-gap-0 gap-3 align-items-baseline mb-3'>
        <h4 class="fs-15 text-nowrap text-uppercase text-secondary mb-0">Finding aid</h4>
        <%= document.preferred_finding_aid.html.html_safe %>
      </div>
  <% end %>
  <% if library.library_instructions.present? %>
    <div class='access-panel-subsection'>
      <h4><%= library.library_instructions[:heading] %></h4>
      <p><%= library.library_instructions[:text].html_safe %></p>
    </div>
  <% end %>


  <%= render AccessPanels::LibraryLocationComponent.with_collection(library.locations, document:, library:) %>
</div>
