<div class="<%= container_class %>">
    <button class='btn btn-link fs-14 px-0' data-bs-toggle='popover' <%= container_target %> data-bs-placement='left' data-bs-title='<%= popover_title %>' data-bs-content='<%= item_locations %>' data-bs-custom-class="popover-availability" data-bs-html="true"><%= I18n.t('searchworks.availability.summary') %></button>
</div>
