<div class="location suppress-item-level-request-button-if-there-is-a-location-level-request-button">
  <div class="my-2 d-flex justify-content-between" data-availability-target="location">
    <div><%= render Searchworks4::PhysicalAvailabilityComponent::LocationComponent.new(location: location, document: document, suppress_off_campus: false) %></div>
    <%= render LocationRequestLinkComponent.for(document:, location:, library_code: library.code, hide_icon: true, classes: %w[btn btn-sm btn-secondary location-request-link]) %>
  </div>

  <% if location.mhld.present? %>
    <% if location.mhld.first.latest_received %>
      <div class='mhld note-highlight'>Latest: <%= location.mhld.first.latest_received %></div>
    <% end %>
    <% location.mhld.each do |mhld| %>
      <% if mhld.public_note.present? %>
        <div class='mhld'><%= mhld.public_note %></div>
      <% end %>
      <% if mhld.library_has.present? %>
        <div class='mhld'>Library has: <%= mhld.library_has %></div>
      <% end %>
    <% end %>
  <% end %>

  <table class="w-100">
    <caption class="visually-hidden">
      <%= pluralize(location.items.count, 'item') %> in <%= library.name %> <%= location.name %>
    </caption>
    <thead class="visually-hidden">
      <tr>
        <th>Call number</th>
        <th>Status</th>
        <th class="visually-hidden">Note</th>
      </tr>
    </thead>
    <tbody>
      <%= render AccessPanels::LocationItemComponent.with_collection(location.items, document:, consolidate_for_finding_aid: consolidate_items?) %>
    </tbody>
  </table>
</div>
