<%= render partial: "catalog/stackmap_link", locals: { document: document, location: location, location_name_class: "location-name" } %>
<% if location.bound_with? && document.bound_with_note? %>
  <%= content_tag(:div, class: 'bound-with-note note-highlight') { render document.bound_with_note_for_access_panel } %>
<% else %>
  <span class="pull-right"><%= render location_request_link %></span>
<% end %>
<% if location.mhld.present? %>
  <% if location.mhld.first.latest_received %>
    <div class='mhld note-highlight'>Latest: <%= location.mhld.first.latest_received %></div>
  <% end %>
  <% location.mhld.each do |mhld| %>
    <% if mhld.public_note.present? %>
      <div class='mhld'><%= mhld.public_note %></div>
    <% end %>
    <% if mhld.library_has.present? %>
      <div class='mhld'>Library has: <%= mhld.library_has %></div>
    <% end %>
  <% end %>
<% end %>
<table class='availability record-view'>
  <caption class="sr-only">Items in <%= location.name %></caption>
  <thead>
    <tr class="sr-only">
      <th scope="col">Call number</th>
      <th class="sr-only" scope="col">Note</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody data-long-list data-list-type="location">
    <%= render AccessPanels::LocationItemComponent.with_collection(location.items, document:, classes: 'availability-item', render_item_level_request_link: !location_request_link.render?) %>
  </tbody>
</table>
