<tr class="item-row pt-1 w-100 flex-wrap border-top">
  <th scope="row" class="callnumber fw-normal flex-grow-1"><%= tag.span callnumber %></th>
  <td class="text-nowrap text-status">
    <%= render Searchworks4::ItemStatusComponent.new(item:) %>
  </td>

  <td class="w-100 <%= item.public_note.present? || has_bound_with_parent? || item.bound_with_principal? ? 'd-block' : 'd-none' %>">
    <% if item.public_note.present? %>
      <div class='public-note note-highlight'>Note: <%= inject_line_break_opportunities item.public_note %></div>
    <% end %>

    <% if has_bound_with_parent? %>
      <div class="bound-with bg-light p-2 mt-2">
        <div class="bound-with-type">Bound and shelved with:</div>
        <div class="bound-with-title"><%= item.bound_with_id == document.id ? tag.em('Same title') : link_to(bound_with_title, solr_document_path(item.bound_with_id)) %></div>
        <div class="bound-with-callnumber"><%= bound_with_callnumber %></div>
      </div>
    <% elsif item.bound_with_principal? && item.id %>
      <%= helpers.turbo_frame_tag [:item, item.id], src: bound_with_children_solr_document_path(document.id, item_id: item.id), loading: 'lazy' %>
    <% end %>
  </td>
</tr>
