<tr class="<%= classes %>">
  <th scope="row" class="callnumber fw-normal flex-grow-1"><%= tag.span callnumber %></th>
  <td class="text-nowrap text-status">
    <%= render Searchworks4::ItemStatusComponent.new(item:) %>
  </td>

  <td class="w-100 <%= 'd-none' unless note? || boundwith? %>">
    <%= render note_component %>
    <%= render boundwith_parent_component %>
    <%= render boundwith_principal_component %>
  </td>
</tr>
