<% # NOTE: this is hidden if there are no links, but jquery.plug-google-content.js may unhide it %>
<%= tag.div class: "panel-online", hidden: !links.any? do %>
  <%= render @layout.new do |component| %>
    <% component.with_header do %>
      <h2>Online</h2>
    <% end %>

    <% component.with_title do %>
        <% if document.is_a_database? %>
          Search this database
        <% elsif document.druid %>
          Also available at
        <% else %>
          Available online
        <% end %>
    <% end %>

    <% component.with_body do %>
      <% if (sfx_links&.any? || links.any?) && document.eresources_library_display_name %>
        <strong> <%= document.eresources_library_display_name %> </strong>
      <% end %>
      <% if sfx_links&.any? %>
        <div class='sfx-panel'>
          <% sfx_url = sfx_links.first.href %>
          <turbo-frame src="<%= sfx_data_path(url: sfx_url) %>" id="sfx-data">
            <div class='loading-spinner'></div>
          </turbo-frame>
        </div>
      <% else %>
        <%= render AccessPanels::OnlineLinkListComponent.new(document:, links:) %>
      <% end %>
    <% end %>

    <% component.with_after do %>
      <div class="card-footer">
        <%= link_to("Report a connection problem", "https://library.stanford.edu/ask/email/connection-problems") %>
      </div>
    <% end if links.any? && display_connection_problem_links? %>
  <% end %>
<% end%>
