<%= tag.ul class: "links", id: "online-link-list", data: { controller: "long-table", longTableButtonContextValue: "online links" } do %>
  <% links.each.with_index do |link, index| %>
    <%= tag.li do %>
      <span class="<%= 'stanford-only' if link.stanford_only? %>">
        <%= link.html&.html_safe %>
      </span>
    <% end %>
  <% end %>

  <%= render AccessPanels::GoogleBooksPreviewComponent.new(document: document, link_text: 'Full view') %>
<% end %>
