<% # NOTE: this is hidden if there are no links, but jquery.plug-google-content.js may unhide it %>
<%= tag.div class: "panel-online mb-3", hidden: !links.any? do %>
  <%= render @layout.new do |component| %>
    <% component.with_title(classes: 'h4') do %>
      <div class="bg-light p-1 py-2 ms-n3 ps-3 text-digital-green">
        <% if document.is_a_database? %>
          Search this database
        <% elsif document.druid %>
          Also available at
        <% else %>
          Online
        <% end %>
      </div>
    <% end %>

    <% component.with_body do %>
      <%= render AccessPanels::OnlineLinkListComponent.new(document:, links: links.first(5)) %>
      <% if links.length > 5 %>
        <%= link_to("Browse all #{pluralize(links.length, 'item')}", availability_modal_path(document, { library: 'online' }), data: { blacklight_modal: "trigger" }) %>
      <% end %>
    <% end %>

    <% component.with_after do %>
      <div>
        <%= link_to("https://library.stanford.edu/ask/email/connection-problems") do %>
          Report a connection problem<i class="bi bi-arrow-up-right ms-1" aria-hidden></i>
        <% end %>
      </div>
    <% end if links.any? && display_connection_problem_links? %>
  <% end %>
<% end%>
