<%= tag.ul class: "links", id: "online-link-list", data: { controller: "long-table", longTableButtonContextValue: "online links" } do %>
  <% links.each.with_index do |link, index| %>
    <%= tag.li do %>
      <span>
        <%= link.html&.html_safe %>
        <%= render StanfordOnlyIconComponent.new if link.stanford_only? %>
      </span>
    <% end %>
  <% end %>

  <%= render AccessPanels::GoogleBooksPreviewComponent.new(document: document, link_text: 'Full view') %>
<% end %>
