<% if links.any? && document.eresources_library_display_name %>
  <strong> <%= document.eresources_library_display_name %> </strong>
<% end %>

<%= tag.ul class: "links list-unstyled mb-1", id: "online-link-list" do %>
  <% links.each.with_index do |link, index| %>
    <%= tag.li class: "mt-2 #{'border-top' unless index == 0}" do %>
      <div>
        <%= link.link_html&.html_safe %>
        <%= render StanfordOnlyPopoverComponent.new if link.stanford_only? %>
      </div>
      <%= link.additional_text_html&.html_safe %>
    <% end %>
  <% end %>
<% end %>
