<%= render @layout.new(classes: ['panel-related mt-5'], hidden:) do |component| %>
  <% component.with_title do %>
    More options
  <% end %>

  <% component.with_body do %>
    <ul class="links list-unstyled">
      <% if additional_finding_aids? %>
        <%= additional_finding_aids.each do |link| %>
          <%= content_tag :li, class: finding_aid_class(link) do %>
            <%= render Searchworks4::AccessLinkComponent.new(link:) %>
          <% end %>
        <% end %>
      <% end %>
      <% if oclc.present? %>
        <li class="worldcat">
          <%= link_to("Find it at other libraries via WorldCat" ,"https://worldcat.org/oclc/#{oclc.first}") %>
        </li>
      <% end %>

      <%= render AccessPanels::GoogleBooksPreviewComponent.new(document: document) %>
    </ul>
  <% end %>
<% end %>
