<% limiters = facet_options_presenter.limiters %>
<% if limiters.present? %>
  <div class="top-panel-heading card-header">
    <h2>
      <%= t("searchworks.articles.facets.options.heading") %>
    </h2>
  </div>
  <div class="facet-options" data-behavior='facet-options-checkboxes'>
    <ul class="checkbox-facet-list">
      <% limiters.each do |limiter| %>
        <li data-behavior='facet-options-checkbox'>
          <%= label_tag("eds_limiter_#{limiter.id}") do %>
            <%= check_box(
                  'f',
                  'eds_search_limiters_facet',
                  { multiple: true, id: "eds_limiter_#{limiter.id}", checked: limiter.selected? },
                  limiter.label,
                  nil
                )
            %>
            <%= link_to(limiter.search_url, 'data-turbolinks': false) do %>
              <%= limiter.label %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div data-behavior='loading-spinner' class='loading-spinner' style='display:none'></div>
  </div>
<% end %>
