
<% date_range = Eds::DateRangeParser.new(@response, params, field_name) %>

<div class='limit_content range_limit'>
  <% if date_range.request_range.present? %>
    <ul class='current list-unstyled facet-values'>
      <li class='selected'>
        <span class="facet-label">
          <span class="selected"><%= range_display(field_name) %></span>
           <%= link_to remove_range_param(field_name), class: 'remove', title: t('blacklight.range_limit.remove_limit') do %>
            <span class="remove-icon" aria-hidden="true">✖</span>
            <span class="sr-only">[<%= t('blacklight.range_limit.remove_limit') %>]</span>
           <% end %>
        </span>
        <span class="selected facet-count"><%= number_with_delimiter(@response.total) %></span>
      </li>
    </ul>
  <% end %>
</div>

<div
  class='eds_range_slider'
  data-eds-date-min="<%= date_range.min_year%>"
  data-eds-date-max="<%= date_range.max_year %>"
  data-eds-date-begin="<%= date_range.begin %>"
  data-eds-date-end="<%= date_range.end %>"
>
  <%= form_tag articles_path, method: :get, class: 'range_limit subsection form-inline text-center' do %>
    <%= render_hash_as_hidden_fields(search_state.params_for_search) %>
    <%= text_field_tag("range[#{field_name}][begin]", date_range.begin, class: 'form-control range_begin') %> -
    <%= text_field_tag("range[#{field_name}][end]", date_range.end, class: 'form-control range_end') %>
    <%= submit_tag t('blacklight.range_limit.submit_limit'), class: 'submit btn btn-primary' %>
  <% end %>
  <div class='eds-slider slider_js'></div>
</div>
