<% @page_title = t('blacklight.search.searchworks_results_title', num_results: "#{pluralize(number_with_delimiter(@response.response[:numFound]), 'result')}", application_name: "#{I18n.t('blacklight.application_name')} articles") %>
<div class="breadcrumb row">
  <div class="col-md-12">
    <%= render 'constraints' %>
    <% if !current_user.blank? %>
    <%= current_user.person_affiliations || 'No person affiliations' %>
    <%= current_user.su_affiliated? %>
    <%= current_user.person_affiliated? %>
    <%= current_user.stanford_affiliated? %>
    <% end %>
  </div>
</div>
<div class='row'>
  <% if @response.empty? %>
    <div class="zero-results-heading">
      <h1 class="sr-only"><%= t('blacklight.search.zero_results.page_heading', search_type: search_type_name) %></h1>
      <h2><%= t('blacklight.search.pagination_info.no_items_found', search_type: search_type_name).html_safe %></h2>
    </div>
  <% end %>
  <div id="sidebar" class="col-md-4 col-sm-5">
    <% if @response.empty? %>
      <%= render 'shared/chat_librarian_sidebar' %>
    <% else %>
      <%= render 'search_sidebar' %>
    <% end %>
  </div>
  <div id="content" class="col-md-8 col-sm-7">
    <% if @response.empty? %>
      <%= render "shared/zero_results" %>
    <% else %>
      <div id='documents' class="article-search-results">
        <div class="search_num_of_results">
          <div class='results-heading'>
            <h1 class="sr-only"><%= t('blacklight.search.page_heading', search_type: search_type_name) %></h1>
            <h2><%= pluralize(number_with_delimiter(@response.response[:numFound]), "#{search_type_name} result") %></h2>
          </div>
        </div>
        <%= render 'search_header' %>
        <%= render 'research_starters' %>
        <%= render_document_index @response.documents %>
        <%= render 'alternate_catalog' if show_alternate_catalog? %>

        <%- unless @response.empty? %>
          <%= render 'shared/side_nav_minimap' %>
        <%- end %>

        <%= render 'search_footer' %>
      <% end %>
    </div>
  </div>
</div>
