<% @page_title = t('blacklight.search.searchworks_results_title', num_results: "#{pluralize(number_with_delimiter(@response.response[:numFound]), 'result')}", application_name: "#{I18n.t('blacklight.application_name')} articles") %>
<div class="breadcrumb row">
  <div class="col-md-12">
    <%= render 'constraints' %>
  </div>
</div>
<% if @response.empty? %>
  <%= render "shared/zero_results" %>
<% else %>
  <div class='row'>
    <div id="sidebar" class="col-md-4 col-sm-5">
      <%= render 'search_sidebar' %>
    </div>
    <div id="content" class="col-md-8 col-sm-7">
      <%= render SearchResult::LoginBannerComponent.new unless current_user %>
      <div id='documents' class="article-search-results">
        <div class="search_num_of_results">
          <div class='results-heading'>
            <h1 class="sr-only"><%= t('blacklight.search.page_heading', search_type: search_type_name) %></h1>
            <h2><%= pluralize(number_with_delimiter(@response.response[:numFound]), "#{search_type_name} result") %></h2>
          </div>
        </div>
        <%= render blacklight_config.view_config(document_index_view_type).search_header_component.new %>

        <%= render Articles::ResearchStarterComponent.new(response: @response) if params[:page].blank? || params[:page] == '1' %>
        <%= render_document_index @response.documents %>
        <%= render 'alternate_catalog', close: true if show_alternate_catalog? %>

        <%- unless @response.empty? %>
          <%= render 'shared/side_nav_minimap' %>
        <%- end %>

        <%= render 'search_footer' %>
      </div>
    </div>
  </div>
<% end %>
