<% @page_title = t 'blacklight.search.show.title_html', document_title: document_presenter(@document).html_title, application_name: "#{I18n.t('blacklight.application_name')} articles" %>

<div class="row">
  <div id="content" class="col-md-12 show-document">
    <%= render RecordToolbarComponent.new(presenter: document_presenter(@document), search_context: @search_context) %>

    <% # content_for(:head) { render_link_rel_alternates } Commented out for now %>

    <div id="document" class="document article-search-show <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
      <div id="doc_<%= @document.id.to_s.parameterize %>">

        <% # bookmark/folder functions -%>
        <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
      </div>
    </div>
  </div>
</div>
