<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside

   Paginator now using the Bootstrap paginator class
-%>
<%= paginator.render do -%>
  <ul class="pagination">
    <% if current_page.first? %>
      <li class="disabled"><span><%= I18n.t('views.pagination.previous').html_safe %></span></li>
    <% else %>
      <%= prev_page_tag %>
    <% end %>

    <% if current_page.last? %>
      <li class="disabled"><span><%= I18n.t('views.pagination.next').html_safe %></span></li>
    <% else %>
      <%= next_page_tag %>
    <% end %>

    <% each_relevant_page do |page| -%>
      <% if page.left_outer? ||  page.inside_window? -%>
        <% if page == current_page %>
          <li class="active"><span><%= page %></span></li>
        <% else %>
          <%= page_tag page %>
        <% end %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
  </ul>
<% end -%>
