<div class="d-flex gap-1 flex-column">
<div class="availability-library-location suppress-item-level-request-button-if-there-is-a-location-level-request-button">
  <div class="mt-2 location-request col-3" data-availability-target="location">
    <h4 class="fs-15 mb-0"><%= render Searchworks4::PhysicalAvailabilityComponent::LocationComponent.new(location: location, document: document, classes: [], suppress_off_campus: false) %></h4>
    <%= render LocationRequestLinkComponent.for(document:, location:, library_code: library.code, hide_icon: true, classes: %w[btn btn-sm btn-secondary location-request-link text-nowrap py-0]) %>
    <%= render AccessPanels::LibraryLocationPopoverComponent.new(mhld: location.mhld, is_modal: true) %>
    <% if location.mhld.present? %>
      <% if location.mhld.first.latest_received %>
        <div class='mhld note-highlight fs-14 d-inline-block'>Latest: <%= location.mhld.first.latest_received %></div>
      <% end %>
      <% location.mhld.each do |mhld| %>
        <% if mhld.public_note.present? %>
          <div>
            <div class='mhld note-highlight fs-14 d-inline-block'><%= mhld.public_note %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="col-9 ms-2">
    <table class="w-100 mt-2">
      <caption class="visually-hidden">
        <%= pluralize(location.items.count, 'item') %> in <%= library.name %> <%= location.name %>
      </caption>
      <thead class="visually-hidden">
        <tr>
          <th>Call number</th>
          <th>Status</th>
          <th class="visually-hidden">Note</th>
        </tr>
      </thead>
      <tbody>
        <%= render AccessPanels::LocationItemComponent.with_collection(display_items, document:, consolidate_for_finding_aid: consolidate_items?, modal: true) %>
      </tbody>
    </table>
  </div>
</div>
</div>
