<tr class="item-row pt-1 w-100 flex-wrap border-top fs-15">
  <th scope="row" class="callnumber fw-normal flex-grow-1"><%= tag.span callnumber %></th>
  <td class="text-nowrap text-status">
    <%= render Searchworks4::ItemStatusComponent.new(item:) %>
  </td>

  <%= render Searchworks4::Item::PublicNoteComponent.new(item:) %>
  <%= render Searchworks4::Item::BoundWithParentComponent.new(item:, document:) %>
  <%= render Searchworks4::Item::BoundWithPrincipalListComponent.new(item:, document:) %>
</tr>
