<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= flag %>
  <%= header %>
  <div class="document-main-section d-flex">
    <% # header bar for doc items in index view %>
    <div class="col-10 pe-4">
      <div class="documentHeader">
        <h3 class="index_title truncate-2 truncate-md-3 truncate-lg-none">
          <% if counter %>
            <%=  content_tag :span, class: 'document-counter fw-light' do
            t('blacklight.search.documents.counter', counter:)
          end %>
          <% end %>
          <%= helpers.link_to_document document, counter:, itemprop: 'name', class: 'fw-medium' %>
        </h3>
      </div>
      <div class="results-metadata-sections">

        <% if document.vernacular_title.present? %>
          <div class="truncate-2 truncate-md-3 truncate-lg-none mb-1"><%= document.vernacular_title.html_safe %></div>
        <% end %>

        <%- uniform_title = helpers.get_uniform_title(document) -%>
        <%- if uniform_title -%>
          <div class="mb-1">
            <% uniform_title[:fields]&.each do |field| %>
              <div><%= helpers.auto_link(field[:field]) %></div>
              <% if field[:vernacular].present? %>
                <div><%= field[:vernacular] %></div>
              <% end %>
            <% end %>
            <% uniform_title[:unmatched_vernacular]&.each do |field| %>
              <div><%= field %></div>
            <% end %>
          </div>
        <%- end -%>

        <% if presenter.document_format.present? || presenter.main_title_date.present? %>
          <div class="mb-1">
            <% if presenter.document_format.present? %>
              <span class="align-text-bottom me-1"><%= resource_icon %></span> <%= presenter.document_format %>
            <% end %>
            <% if presenter.main_title_date.present? %>
              <span class="main-title-date"><%= presenter.main_title_date %></span>
            <% end %>
          </div>
        <% end %>

        <% if document.mods? %>
          <ul class="document-metadata list-unstyled truncate-2">
            <%= render Searchworks4::ModsAuthorsComponent.new(document:) %>
          </ul>
          <%= render SummaryDataComponent.new(document:) %>
        <% else %>
          <ul class="document-metadata list-unstyled">
            <% %i[creator corporate_author meeting].each do |target| %>
              <%= render 'marc_fields/linked_author_index', linked_author: document.linked_author(target) %>
            <% end %>
          </ul>

          <div data-controller="long-text" data-long-text-truncate-class="truncate-2" data-long-text-show-more-button-style-value="text-button">
            <div data-long-text-target="text">
              <%= render TocAndSummaryComponent.new(document:) %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <div class="document-actions d-flex flex-row gap-1 mb-3">
        <% if actions? %>
          <%= actions %>
        <% else %>
          <%= render Document::TrackingBookmarkComponent.new(document:, action: view_config.document_actions[:bookmark]) %>
          <%= render Searchworks4::SearchResult::ItemMenuComponent.new(document:) %>
        <% end %>
      </div>
      <%= thumbnail %>
    </div>
  </div>
  <%= render Searchworks4::AvailabilityComponent.new(document:) %>
  <%= footer %>
<% end %>
