<% if single_item? %>
  <%# Instances with a single item collapse the item information %>
  <%= container_tag(classes: %w[d-inline-flex suppress-item-level-request-button-if-there-is-a-location-level-request-button]) do %>
    <% library = document.holdings.libraries.first %>
    <% location = library.locations.first %>
    <% item = location.items.first %>
    <%= tag.span library.name, class: 'library fw-semibold text-nowrap' %>
    <%= render LocationComponent.new(location: location, document: document, suppress_off_campus: true) %>
    <%= tag.span item.callnumber, class: 'callnumber text-nowrap' %>
    <span class="d-inline-flex gap-3">
      <%= render Searchworks4::ItemStatusComponent.new(item:) %>
      <% unless item.request_link.render? %>
        <%= render LocationRequestLinkComponent.for(document:, location: location, library_code: library.code, hide_icon: true, classes: %w[btn btn-sm btn-secondary location-request-link]) %>
      <% end %>
    </span>
  <% end %>
  <%= helpers.turbo_frame_tag "availability_#{dom_id(document)}", src: availability_path(document), loading: 'lazy', data: { 'eager-lazy-target': 'frame' } %>
<% elsif truncated_display? %>
  <%# Instances with lots of items get an abbreviated treatment %>
  <%= container_tag(classes: %w[d-inline-flex]) do %>
    <% if document.holdings.libraries.one? %>
      <% library = document.holdings.libraries.first %>

      <%= tag.span library.name, class: 'library fw-semibold' %>
      <%= render LocationComponent.new(location: library.locations.first, document: document, suppress_off_campus: true) if library.locations.one? %>
    <% end %>

    <%= render ItemCountComponent.new(document.holdings.items.count) %>
    <%= link_to_document document, 'See availability', counter: nil, class: 'ms-3 fs-15' %>
  <% end %>
<% elsif single_location? %>
  <%# If the instance only has items in one location, we can pull some of the library + location information to the top %>
  <% library = document.holdings.libraries.first %>
  <% location = library.locations.first %>
  <%= container_tag('details', classes: %w[w-100 suppress-item-level-request-button-if-there-is-a-location-level-request-button]) do %>
    <%= tag.summary class: header_classes + ['d-flex'] do %>
      <%= tag.span library.name, class: 'library fw-semibold' %>
      <%= render LocationComponent.new(location: location, document: document, suppress_off_campus: true) %>
      <%= render ItemCountComponent.new(document.holdings.items.count) %>
      <%= render LocationRequestLinkComponent.for(document:, location: location, library_code: library.code, hide_icon: true, classes: %w[btn btn-sm btn-secondary location-request-link]) %>

      <div class="btn btn-outline-primary btn-sm ms-auto text-nowrap">
        <span class="open-hidden"><i class="bi bi-chevron-down align-middle"></i> Show details</span>
        <span class="open-visible"><i class="bi bi-chevron-up"></i> Hide details</span>
      </div>
    <% end %>
    <div>
      <div class="d-flex gap-5 p-2 suppress-item-level-request-button-if-there-is-a-location-level-request-button">
        <div class="pt-2 d-none d-sm-block">
          <%= render LocationComponent.new(location: location, document: document, suppress_off_campus: false) %>
        </div>
        <table class="table w-auto">
          <caption class="visually-hidden">
            <%= pluralize(location.items.count, 'item') %> in <%= library.name %> <%= location.name %>
          </caption>
          <thead class="visually-hidden">
            <tr>
              <th>Call number</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% location.items.each do |item| %>
            <tr>
              <th scope="row" class="fw-normal"><%= tag.span item.callnumber, class: 'callnumber' %></th>
              <td>
                <%= render Searchworks4::ItemStatusComponent.new(item:) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= helpers.turbo_frame_tag "availability_#{dom_id(document)}", src: availability_path(document), loading: 'lazy' %>
    </div>
  <% end %>
<% else %>
  <%# With multiple locations, we just require the user expand the whole table to see any item details %>
  <%= container_tag('details', classes: %w[w-100]) do %>
    <%= tag.summary class: header_classes + ['d-flex'] do %>
      <% if library_groups.one? %>
        <%= tag.span library_groups.first.name, class: 'library fw-semibold' %>
      <% end %>

      <%= render ItemCountComponent.new(document.holdings.items.count) %>

      <div class="btn btn-outline-primary btn-sm ms-auto text-nowrap">
        <span class="open-hidden"><i class="bi bi-chevron-down align-middle"></i> Show details</span>
        <span class="open-visible"><i class="bi bi-chevron-up"></i> Hide details</span>
      </div>
    <% end %>
    <div>
      <% library_groups.each do |library_group| %>
        <div class="d-flex flex-column my-2">
          <% if library_groups.many? %>
            <div class="bg-light fw-semibold"><%= library_group.name %></div>
          <% end %>
          <% library_group.libraries.each do |library| %>
            <% library.locations.each do |location| %>
              <div class="d-flex flex-column flex-sm-row gap-2 gap-sm-5 p-2 suppress-item-level-request-button-if-there-is-a-location-level-request-button">
                <div class="pt-2" data-availability-target="location">
                  <div><%= render LocationComponent.new(location: location, document: document, suppress_off_campus: false) %></div>
                  <% unless document.holdings.libraries.one? && document.holdings.libraries.first.locations.one? %>
                    <%= render LocationRequestLinkComponent.for(document:, location:, library_code: library.code, hide_icon: true, classes: %w[btn btn-sm btn-secondary location-request-link]) %>
                  <% end %>
                </div>
                <table class="table w-auto">
                  <caption class="visually-hidden">
                    <%= pluralize(location.items.count, 'item') %> in <%= library.name %> <%= location.name %>
                  </caption>
                  <thead class="visually-hidden">
                    <tr>
                      <th>Call number</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% location.items.each do |item| %>
                    <tr>
                      <th scope="row" class="fw-normal"><%= tag.span item.callnumber, class: 'callnumber' %></th>
                      <td>
                        <%= render Searchworks4::ItemStatusComponent.new(item:) %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= helpers.turbo_frame_tag "availability_#{dom_id(document)}", src: availability_path(document), loading: 'lazy' %>
    </div>
  <% end %>
<% end %>
