<div class="bg-light p-4 border-top border-bottom record-summary">
  <div class="d-flex gap-3">
    <%= presenter.thumbnail.render %>
    <div>
      <div class="fw-semibold"><%= presenter.heading %></div>
      <div><%= resource_icon %> <%= presenter.document_format %> <%= presenter.main_title_date %></div>
      <ul class="list-unstyled mb-1">
        <% authors.each do |author| %>
          <li><%= author %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
