<% document ||= @document %>
<div class="collection-result-preview">
<% if document.collection_members.present? %>
  <div class="file-collection-members">
    <h4>Digital items preview</h4>
    <% document.collection_members[0...3].each do |collection_member| %>
      <div class="row file-item">
        <div class="col-xs-2 file-icon">
          <%= render_resource_icon collection_member[collection_member.format_key] %>
        </div>
        <div class="col-xs-10 file-title">
          <%= link_to(show_presenter(collection_member).heading, solr_document_path(collection_member)) %>
          <% if collection_member[:pub_date] %>
            <span class="main-title-date">[<%= collection_member[:pub_date] %>]</span>
          <% end %>
          <br/>
          <% if collection_member.authors_from_index.present? %>
            <span class="file-author"><%= collection_member.authors_from_index.first %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="results-online-section">
    <span class="online-label">Online</span>
    <ul>
      <li>
        <%= link_to(text_for_inner_members_link(document), collection_members_path(document)) %>
      </li>
    </ul>
  </div>
<% end %>
</div>
