<% document ||= @document %>

<div class="collection-result-preview">
<% if document.collection_members.present? %>
  <div class="file-collection-members mb-3">
    <div class="d-inline-flex bg-white ms-4 px-2">
      <h2 class="mb-0">Digital collection</h2>
      <%= render BadgeCounterComponent.new(document.collection_members.total, 'item', additional_classes: %w[ms-2 align-self-center]) %>
    </div>
    <div class="col-12 collection-members border rounded px-3 pb-2">
      <table class="w-100">
        <thead class="visually-hidden">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Type (Pub year)</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <% document.collection_members[0...5].each do |collection_member| %>
            <tr class="border-bottom">
              <td class="file-title">
              <%= link_to(document_presenter(collection_member).heading, solr_document_path(collection_member)) %>
              </td>
              <td class="me-2 file-icon">
                <%= render_resource_icon collection_member.document_formats %><span class="ms-1"><%= resource_icon_value collection_member.document_formats %></span>
                <% if collection_member[:pub_date] %>
                  <span class="main-title-date">(<%= collection_member[:pub_date] %>)</span>
                <% end %>
              </td>
              <td>
                <% if collection_member.authors_from_index.present? %>
                  <span class="file-author"><%= collection_member.authors_from_index.first %></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mt-1">
        <%= link_to(collection_members_path(document), class: 'text-decoration-none') do %>
          Browse all <%= pluralize(number_with_delimiter(document.collection_members.total), 'item') %> »
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
