<% document ||= @document %>

<div class="collection-result-preview">
<% if document.collection_members.present? %>
  <div class="file-collection-members">
    <% if @type == 'show' %>
      <h2 class="my-3">Digital collection preview</h2>
    <% else %>
      <h4 class="my-2">Digital collection preview</h4>
    <% end %>
    <% document.collection_members[0...3].each do |collection_member| %>
      <div class="d-flex file-item">
        <div class="mr-2 file-icon">
          <%= render_resource_icon collection_member[collection_member.format_key] %>
        </div>
        <div class="file-title">
          <%= link_to(document_presenter(collection_member).heading, solr_document_path(collection_member)) %>
          <% if collection_member[:pub_date] %>
            <span class="main-title-date">[<%= collection_member[:pub_date] %>]</span>
          <% end %>
          <br/>
          <% if collection_member.authors_from_index.present? %>
            <span class="file-author"><%= collection_member.authors_from_index.first %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="results-online-section">
    <dl class="dl-horizontal results-metadata-section">
      <dt><span class="online-label">Online</span></dt>
      <dd>
        <%= link_to(text_for_inner_members_link(document), collection_members_path(document)) %>
      </dd>
    </dl>
  </div>
<% end %>
</div>
