<%
  preview_container = 'preview-filmstrip-container-' + collection_document[:id]
%>
<div class="collection-result-preview">
  <% if @type == 'show' %>
    <h2 class="my-3">Digital collection preview</h2>
  <% else %>
    <h4 class="my-2">Digital collection preview</h4>
  <% end %>
  <div class="col-md-12 image-filmstrip">
    <div class="viewport">
      <ul class="container-images">
        <% collection_document.collection_members.documents.select { |document| document.image_urls.present? }.each do |document| %>
          <li data-controller="preview-filmstrip" data-preview-filmstrip-url-value="<%= preview_path(document[:id]) %>"  data-preview-filmstrip-selector-value="<%= ".#{preview_container}" %>">
            <a href="<%= solr_document_path(document[:id]) %>">
              <img src="<%= document.image_urls(:thumbnail).first %>" loading="lazy" class="thumb-<%= document[:id] %>" alt="<%= document_presenter(document).heading %>">
            </a>
            <% if document.image_urls.length > 1 %>
              <div class="img-label"><%= pluralize(document.image_urls.length,"part") %></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="<%= preview_container %>"></div>
  </div>

  <div class="results-online-section">
    <dl class="dl-horizontal results-metadata-section">
      <dt><span class="online-label">Online</span></dt>
      <dd>
        <%= link_to(text_for_inner_members_link(collection_document), collection_members_path(collection_document)) %>
      </dd>
    </dl>
  </div>
</div>
