<%
  preview_container = 'preview-filmstrip-container-' + collection_document[:id]
%>
<div class="collection-result-preview">
  <div class="d-inline-flex bg-white ms-4 px-2">
    <% if @type == 'show' %>
        <h2 class="mb-0">Digital collection</h2>
    <% else %>
      <h4 class="mb-0">Digital collection</h4>
    <% end %>
    <span class="ms-2 badge rounded-pill bookmark-counter align-self-center">
      <%= pluralize(collection_document.collection_members.total, 'item') %>
    </span>
    <%= link_to(collection_members_path(collection_document), class: 'ms-2 btn btn-outline-primary') do %>
      <i class="bi bi-search me-1"></i>Search collection
    <% end %>
  </div>
  <div class="col-md-12 image-filmstrip border rounded p-4 pt-5">
    <div class="viewport overflow-scroll">
      <ul class="container-images list-unstyled d-flex">
        <% collection_document.collection_members.documents.select { |document| document.image_urls.present? }.each do |document| %>
          <li class="d-inline-block position-relative me-2" data-controller="preview-filmstrip" data-preview-filmstrip-url-value="<%= preview_path(document[:id]) %>" data-preview-filmstrip-id-value="<%= document[:id] %>" data-preview-filmstrip-selector-value="<%= ".#{preview_container}" %>">
            <a href="<%= solr_document_path(document[:id]) %>">
              <img src="<%= document.image_urls(:thumbnail).first %>" loading="lazy" class="thumb-<%= document[:id] %>" alt="<%= document_presenter(document).heading %>">
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="<%= preview_container %> preview"></div>
  </div>
</div>
