  <%= render :partial=>'/flash_msg' %>
  <div class="form-group row">
    <% unless %w[articles article_selections].include? controller.controller_name # TODO: full record for articles %>
      <div class="col-sm-10 offset-sm-2">
        <%= radio_button_tag :type, 'brief', true %> <%= label_tag(:type_brief,  "<strong>Brief record</strong> (title, library & call number, bookmark)".html_safe) %><br/>
        <%= radio_button_tag :type, 'full' %> <%= label_tag(:type_full, "<strong>Full record</strong>".html_safe) %>
      </div>
    <% end %>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 text-right" for="to">
      <%= t('blacklight.email.form.to') %>
    </label>
    <div class="col-sm-10">
      <%= email_field_tag :to, params[:to], multiple: true, class: 'form-control' %>
      <span class='form-text'>Separate multiple addresses with a comma.</span>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 text-right" for="email_from">
      <%= t('blacklight.email.form.email_from.label') %>
    </label>
    <div class="col-sm-10">
      <%= text_field_tag :email_from, params[:email_from], placeholder: t('blacklight.email.form.email_from.placeholder'), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 text-right" for="subject">
      Subject:
    </label>
    <div class="col-sm-10">
      <%= text_field_tag :subject, I18n.t('blacklight.email.text.subject', :count => @documents.length, :title => (@documents.first.to_semantic_values[:title].first rescue 'N/A') ), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 text-right" for="message">
      <%= t('blacklight.email.form.message') %>
    </label>
    <div class="col-sm-10">
      <%= text_area_tag :message, params[:message], class: 'form-control' %>
    </div>
  </div>

  <% if current_user.blank? %>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <%# Remove noscript for recaptcha when used in a modal. %>
        <%# Otherwise the modal builder will insert unprocessed noscript tags, resulting in an empty g-recaptcha-response. %>
        <%= recaptcha_tags id: 'connection-form-recaptcha', noscript: false %>

        <p>(Stanford users can avoid this Captcha by logging in.)</p>
      </div>
    </div>
  <% end %>
