  <div class="mb-3">
    <label class="form-label fw-bold me-3" for="to">To</label><small class="text-secondary">* Required</small>
    <%= email_field_tag :to, params[:to], multiple: true, placeholder: "Enter value", class: 'form-control w-50', required: true %>
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold" for="email_from">From</label>
    <%= text_field_tag :email_from, params[:email_from], placeholder: "Enter value", class: 'form-control w-50' %>
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold" for="subject">Subject</label>
    <%= text_field_tag :subject, I18n.t('blacklight.email.text.subject', count: documents.length, title: (documents.first.to_semantic_values[:title].first rescue 'N/A') ), class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label class="form-label fw-bold" for="message">Message</label>
    <%= text_area_tag :message, params[:message], class: 'form-control' %>
  </div>

  <% if current_user.blank? %>
    <div class="mb-3">
      <%= render RecaptchaComponent.new(action: 'email') %>
    </div>
  <% end %>

  <% Array.wrap(@documents).each do |doc| %>
    <%= hidden_field_tag "id[]", doc.id %>
  <% end %>
  <%- if params[:sort] -%>
    <%= hidden_field_tag "sort", params[:sort] %>
  <%- end -%>
  <%- if params[:per_page] -%>
    <%= hidden_field_tag "per_page", params[:per_page] %>
  <%- end -%>
