<div class="home-page-bento">
  <h4>Search Stanford's library resources</h4>
  <div class="row">
    <div class="col-sm-3 col-xs-6 home-page-catalog <%= 'home-page-you-are-here' unless article_search? %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/catalog.jpg' %>
          <h4><%= link_to_unless controller_name == 'catalog', 'Catalog', root_path %></h4>
          <p class="hidden-xs">Search the physical collections and digital resources of Stanford’s libraries. Find books, media, and <%= link_to 'topic-specific databases', databases_path %>.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 home-page-articles <%= 'home-page-you-are-here' if article_search? %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/articles.jpg' %>
          <h4><%= link_to_unless article_search?, 'Articles+', articles_path %></h4>
          <p class="hidden-xs">Search a combined index of 100s of databases, and connect directly to the article or resource.</p>
        </div>
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 col-xs-6 home-page-website">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/website.jpg' %>
          <h4><%= link_to 'Library website', 'https://library.stanford.edu' %></h4>
          <p class="hidden-xs">Find topic specialists, blog posts, descriptions of our notable collections, as well as libraries, hours, and policies.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 home-page-yewno">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/yewno.jpg' %>
          <h4><%= link_to 'Yewno', 'https://yewno.com/edu' %></h4>
          <p class="hidden-xs">Explore concepts and connections, and understand interdisciplinary subjects, in a graph interface.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 home-page-bento bento-search-panel">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h4><%= link_to 'All of the above', root_path %></h4>
          <p class="hidden-xs">Get an overview of what’s available in all these sources for your search topic.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 home-page-more">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12 home-page-search-tools media">
            <div class="search-tools-icon media-left">
              <%= image_tag 'homepage/search.svg', class: 'media-object' %>
            </div>
            <div class="search-tools-body media-body">
              <h4><%= link_to 'More search tools', 'https://library.stanford.edu/search-services' %></h4>
              <p class="hidden-xs">Discover and access library and archival materials, journals, databases, data, and e-resources beyond SearchWorks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
