<div class="home-page-bento">
  <h2 class="h1">Search Stanford's library resources</h2>
  <div class="bento-sections">
    <div class="bento-block home-page-catalog <%= 'home-page-you-are-here' unless article_search? %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= tag.span 'You are here!', class: 'you-are-here-badge' unless article_search? %>
          <%= image_tag 'homepage/catalog.jpg', alt: '', aria: { hidden: true } %>
          <h3><%= link_to_unless controller_name == 'catalog', 'Catalog', root_path %></h3>
          <p class="hidden-xs">Physical and digital books, media, journals, archives, and databases.</p>
        </div>
      </div>
    </div>

    <div class="bento-block home-page-articles <%= 'home-page-you-are-here' if article_search? %>">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= tag.span 'You are here!', class: 'you-are-here-badge' if article_search? %>
          <%= image_tag 'homepage/articles.jpg', alt: '', aria: { hidden: true } %>
          <h3><%= link_to_unless article_search?, 'Articles+', articles_path %></h3>
          <p class="hidden-xs">Journal articles, e-books, and other e-resources.</p>
        </div>
      </div>
    </div>

    <div class="bento-block home-page-website">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/guides.png', alt: '', aria: { hidden: true } %>
          <h3><%= link_to 'Guides', 'https://guides.library.stanford.edu' %></h3>
          <p class="hidden-xs">Course- and topic-based guides to collections, tools, and services.</p>
        </div>
      </div>
    </div>

    <div class="bento-block home-page-website">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/website.jpg', alt: '', aria: { hidden: true } %>
          <h3><%= link_to 'Library website', 'https://library.stanford.edu' %></h3>
          <p class="hidden-xs">Libraries and subject specialists; blogs, events, and policies.</p>
        </div>
      </div>
    </div>

    <div class="bento-block home-page-website">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/exhibits.jpg', alt: '', aria: { hidden: true } %>
          <h3><%= link_to 'Exhibits', 'https://exhibits.stanford.edu' %></h3>
          <p class="hidden-xs">Digital showcases for research and teaching.</p>
        </div>
      </div>
    </div>

    <div class="bento-block home-page-yewno">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag 'homepage/yewno.jpg', alt: '', aria: { hidden: true } %>
          <h3><%= link_to 'Yewno', 'https://stanford.idm.oclc.org/login?url=https://discover.yewno.com' %></h3>
          <p class="hidden-xs">Knowledge graphs for interconnecting concepts.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12 home-page-search-all media">
            <div class="search-tools-icon media-left">
              <span aria-hidden="true" class="media-object">🍱</span>
            </div>
            <div class="search-tools-body media-body">
              <h3><%= link_to 'Search all', 'https://library.stanford.edu/all' %></h3>
              <p class="hidden-xs">See an overview of what's available for your topic in all these sources.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12 home-page-search-tools media">
            <div class="search-tools-icon media-left">
              <%= image_tag 'homepage/search.jpg', class: 'media-object', alt: '', aria: { hidden: true } %>
            </div>
            <div class="search-tools-body media-body">
              <h3><%= link_to 'More search tools', 'https://library.stanford.edu/search-services' %></h3>
              <p class="hidden-xs">Tools to help you discover resources at Stanford and beyond.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
