<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchbar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <%= link_to application_name, root_path, class: "navbar-brand" %>
        <%= render_search_targets_widget %>
      </div>
    </div>
    <%= render_search_bar %>
    <div class="collapse navbar-collapse" id="searchbar-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><%= render_search_bar_advanced_widget %></li>
        <li class="disabled"><%= render_search_bar_browse_widget %></li>
        <li class="disabled"><%= render_search_bar_selections_widget %></li>
      </ul>
    </div>
  </div>
</div>
