<div id="search-subnavbar-container">
  <div id="search-subnavbar" class="navbar navbar-dark navbar-expand-md">
    <button type="button" class="navbar-toggler pull-left" data-toggle="collapse" data-target="#search-subnavbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
      Menu
    </button>
    <div class="collapse navbar-collapse" id="search-subnavbar-collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="dropdown search-subnavbar-about">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="searchNavbarTopMenu" aria-controls="libraryServicesMenu" aria-expanded="false">
            Help</a>
          <%= render :partial => 'shared/search_navbar_services_menu' %>
        </li>
      </ul>
      <% unless article_search? %>
        <ul class="nav navbar-nav">
          <li class="navbar-link">
            <%= render_search_bar_advanced_widget %>
          </li>
          <li class="navbar-link">
            <%= link_to "Course reserves", course_reserves_path %>
          </li>
          <%= render_search_bar_selections_widget %>
        </ul>
      <% else %>
        <ul class="nav navbar-nav">
          <li class="navbar-link">
            <%= link_to feedback_path(type: 'connection'), data: {toggle:"collapse", target:"#connection-form"}, class: 'connection-problem' do %>
              Connection problem?
            <% end %>
          </li>
          <%= render_search_bar_selections_widget %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<div id="connection-form" class="feedback-form-container collapse">
  <%= render_feedback_form('connection') if show_feedback_form? %>
  <hr>
</div>
