<div id="search-navbar" class="navbar search-bar navbar-default navbar-static-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchbar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-align-justify icon-to-rotate"></span>
    </button>
    <div id="searchbar-topnav-menu">
      <button class="btn btn-default dropdown-toggle searchbar-topnav" type="button" data-toggle="dropdown" data-target="#searchbar-topnav-menu">
        <span class="glyphicon glyphicon-align-justify icon-to-rotate"></span>
      </button>
      <%= render :partial => 'shared/search_navbar_top_menu' %>
      <%= link_to application_name, root_path, class: "navbar-brand" %>
      <%= render_search_targets_widget %>
    </div>
  </div>

  <div class="collapsed-search-navs visible-xs">
    <div class="collapse navbar-collapse" id="searchbar-navbar-collapse">
      <%= render "catalog/search_bar_nav_list" %>
    </div>
  </div>
  <div class="search-field">
    <%= render_search_bar %>
  </div>
  <div class="collapse navbar-collapse hidden-xs">
    <%= render "catalog/search_bar_nav_list" %>
  </div>

</div>
