<ul class="side-nav-minimap">
  <li>
    <button data-target-id="topnav-container" aria-label="Jump to top">
      <span class="nav-label">Top</span>
      <i class="fa fa-arrow-up"></i>
    </button>
  </li>

<% if defined?(has_data) %>
<% has_data.each do |section, section_present| %>
    <% if section_present %>
    <% id = t("record_side_nav.#{section}.id").html_safe %>
    <% icon = t("record_side_nav.#{section}.icon").html_safe %>
    <% label = t("record_side_nav.#{section}.label").html_safe %>
    <li>
        <button data-target-id="<%= id %>" class="<%= id %>" aria-label="Jump to <%= label %>">
        <span class="nav-label"><%= label %></span>
        <%= icon %>
        </button>
    </li>
    <% end %>
<% end %>
<% end %>

  <li>
    <button data-target-id="sul-footer-container" aria-label="Jump to bottom">
      <span class="nav-label">Bottom</span>
      <i class="fa fa-arrow-down"></i>
    </button>
  </li>
</ul>
