<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo.png", class: "hidden-xs", alt: "", height: 25 %>
      <%= image_tag "sul-logo-small.png", class: "visible-xs", alt: "", height: 25 %>
    <% end %>
    <button class="btn-topbar-menu dropdown-toggle searchbar-topnav" type="button" data-toggle="dropdown" data-target="#searchbar-topnav-menu">
      <span class="sr-only">Menu</span>
      <span class="fa fa-bars"></span>
    </button>
    <%= render :partial => 'shared/search_navbar_top_menu' %>
    <div class="header-links">
      <%= link_to "My Account", "http://library.stanford.edu/myaccount", class: 'first' %>
      <%= link_to feedback_path, data: {toggle:"collapse", target:"#feedback-form"} do %>
        Feedback
      <% end %>
    </div>
  </header>
</div>
<div id="feedback-form" class="feedback-form-container collapse">
  <%= render "shared/feedback_forms/form" if show_feedback_form? %>
</div>
