<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'https://library.stanford.edu' do %>
      <%= image_tag "sul-logo.svg", class: "su-logo d-none d-sm-inline-block", alt: "Stanford Libraries", height: 25 %>
      <%= image_tag "sul-logo-stacked.svg", class: "su-logo d-inline-block d-sm-none", alt: "Stanford Libraries", height: 25 %>
    <% end %>
    <div class="header-links">
      <% if current_user %>
        <%= link_to "#{current_user.sunet}: Logout", destroy_user_session_path, class: 'first' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path(referrer: request.original_url), class: 'first' %>
      <% end %>
      <%= link_to "My Account", "https://mylibrary.stanford.edu/" %>
      <%= link_to feedback_path, data: {toggle:"collapse", target:"#feedback-form"} do %>
        Feedback
      <% end %>
    </div>
  </header>
</div>
<div id="feedback-form" class="feedback-form-container collapse">
  <%= render_feedback_form('feedback') if show_feedback_form? %>
</div>
