<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a
        class="mb-0 navbar-brand navbar-logo-cl polychrome"
        href="https://library.stanford.edu"
        >Stanford University Libraries</a
      >
      <div class="header-links">
        <% if current_user %>
        <%= link_to "#{current_user.sunet}: Logout", destroy_user_session_path, class: 'first' %>
        <% else %>
        <%= link_to 'Login', new_user_session_path(referrer: request.original_url), class: 'first', data: { turbo: false } %>
        <% end %>
        <%= link_to "My Account", "https://mylibrary.stanford.edu/" %>
        <%= link_to feedback_path, data: { 'bs-toggle':"collapse", 'bs-target':"#feedback-form"} do %>
        Feedback
        <% end %>
      </div>
    </div>
  </header>
</div>
<div id="feedback-form" class="feedback-form-container collapse">
  <%= render_feedback_form('feedback') if show_feedback_form? %>
</div>
