<div class="record-toolbar container-fluid sul-toolbar navbar navbar-expand-lg navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".toolbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <%= link_back_to_catalog :class => 'btn btn-sul-toolbar back-to-results', :label => t('blacklight.back_to_search').html_safe -%>
      <% if @search_context[:prev] || @search_context[:next] -%>
        <div class="sul-record-page-info">
          <div class="sul-record-page-info-inner">
            <%= link_to_previous_document @search_context[:prev] if @search_context[:prev] -%>
            <span class="page-entries"><%= item_page_entry_info -%></span>
            <%= link_to_next_document @search_context[:next] if @search_context[:next] -%>
          </div>
        </div>
      <% end -%>
    </div>
    <div class="navbar-collapse collapse toolbar-collapse">
      <ul class="nav navbar-nav ml-auto">
        <li class="dropdown">
          <button class="btn btn-sul-toolbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('blacklight.tools.send_to_html').html_safe -%></button>
          <div class="dropdown-menu" role="menu">
            <%= render "shared/record/record_toolbar_tools_subset" -%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
