<%= tag.div id: @id,
  data:,
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <div class="item-thumb d-flex flex-column justify-content-center">
    <%= render Document::TrackingThumbnailComponent.new(counter:, presenter:) %>
  </div>
  <div class="caption">
    <% # header bar for doc items in index view gallery %>
    <div class="documentHeader">
      <div class="index_title">
        <span class="two-lines">
          <%= helpers.link_to_document document, class: 'fw-semibold', counter: counter, data: { action: "click->analytics#trackLink"} %>
        </span>
      </div>
      <div class="location py-1">
        <% if document.items.present? %>
          <% if document.holdings.libraries.length == 1 %>
            <%= document.holdings.libraries.first.name %>
          <% else %>
            in <%= document.holdings.libraries.length %> libraries
          <% end %>
        <% elsif document.mods? %>
          <br/>Stanford Digital Repository
        <% elsif document.preferred_online_links.present?  %>
          eResource<br />
          <%= document.eresources_library_display_name || 'Stanford Libraries' %>
        <% end %>
      </div>
      <div class="callnumber-bar two-lines">
        <% if document.items.present? %>
          <%= document.preferred_item.callnumber %>
        <% end %>
      </div>
    </div>
  <% # bookmark functions for items/docs and preview button %>
  <div class="gallery-buttons d-flex justify-content-end">
    <button class="btn btn-xs btn-preview preview-button bi-chevron-down documentid-<%= document.id %>"
            data-behavior="preview-button-trigger"
            data-preview-embed-browse-target="button"
            data-gallery-preview-target="button"
            data-action="preview-embed-browse#togglePreview gallery-preview#togglePreview"
            ></button>
    <%= actions %>
  </div>
  </div>
<% end %>
<div class="<%= preview_container_dom_class %> preview-container d-none" data-document-id="<%= document[:id] %>"></div>
