<%= tag.div id: @id,
  data:,
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <div class="item-thumb d-flex flex-column justify-content-center">
    <%= thumbnail %>
  </div>
  <div class="caption">
    <% # header bar for doc items in index view gallery %>
    <div class="documentHeader">
      <h3 class="index_title mb-0">
        <span class="truncate-2">
          <%= helpers.link_to_document document, class: 'fw-semibold', counter: counter, data: { action: "click->analytics#trackLink"} %>
        </span>
      </h3>
      <div class="location truncate-1 pb-1">
        <% if document.items.present? %>
          <% if document.holdings.libraries.length == 1 %>
            <%= document.holdings.libraries.first.name %>
          <% else %>
            In <%= document.holdings.libraries.length %> libraries
          <% end %>
        <% elsif document.mods? %>
          Stanford Digital Repository
        <% elsif document.preferred_online_links.present?  %>
          <%= document.eresources_library_display_name || 'Stanford Libraries' %>
        <% end %>
      </div>
      <div class="callnumber-bar truncate-2">
        <% if document.items.present? %>
          <%= document.preferred_item.callnumber %>
        <% elsif document.preferred_online_links.present? %>
          Online
        <% end %>
      </div>
    </div>
  <% # bookmark functions for items/docs and preview button %>
  <div class="gallery-buttons d-flex justify-content-end align-items-center gap-1">
    <%= render Searchworks4::GalleryCardPreviewButtonComponent.new(document_id: document.id) %>
    <%= actions %>
  </div>
  </div>
<% end %>

<% unless @preview_id.present? %>
  <div class="<%= preview_container_dom_class %> preview-container d-none" data-controller="preview" data-document-id="<%= document.id %>"></div>
<% end %>
