<%= tag.table class: %w[table table-sm availability], data: { controller: 'long-table', long_table_button_context_value: "items in #{library.name}" } do %>
  <caption class='visually-hidden'>Status of items at <%= library.name %></caption>
  <thead>
    <tr class='active'>
      <th scope='col' class='w-50'><%= library.name %></th>
      <th scope='col' class='w-50'>Status</th>
    </tr>
  </thead>
  <% if bound_with? %>
    <tbody>
      <tr>
        <td colspan='2' class="bound-with-note p-1">
          <div>Some items are bound together - <%= link_to_record %></div>
        </td>
      </tr>
    </tbody>
  <% end %>
  <% locations.each do |location| %>
    <tbody data-long-table-target="body">
      <% location_request_link = LocationRequestLinkComponent.for(document:, library_code:, location:) %>
      <tr class="location-info">
        <th scope="col">
          <%= render "catalog/stackmap_link", document:, location:, location_name_class: '' %>
          <% if location.mhld.present? %>
            <br/>
            <% location.mhld.each do |mhld| %>
              <% if mhld.public_note.present? %>
                <%= mhld.public_note %>
              <% end %>
            <% end %>
          <% end %>
        </th>
        <td>
          <% if location.mhld.present? && location.mhld.first.latest_received %>
            <span class='note-highlight'>Latest: <%= location.mhld.first.latest_received %></span>
          <% end %>
          <%= render location_request_link if display_request_link? %>
        </td>
      </tr>
      <% if show_items? %>
        <%= render AccessPanels::LocationItemComponent.with_collection(location.items, document:, render_item_note: false, render_item_level_request_link: !location_request_link.render?) %>
      <% else %>
        <tr>
          <td colspan='2'><%= link_to_record %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
<% end %>
