<% doc_presenter = presenter(document) %>
<ul class='document-metadata dl-horizontal dl-invert'>
  <% if document['eds_authors'].present? %>
    <li><%= doc_presenter.field_value('eds_authors') %></li>
  <% end %>

  <% if document['eds_composed_title'].present? %>
    <li><%= doc_presenter.field_value('eds_composed_title') %></li>
  <% end %>
</ul>
<ul class='document-metadata dl-horizontal dl-invert'>
  <% if document['eds_subjects'].present? %>
    <li><%= doc_presenter.field_value('eds_subjects') %></li>
  <% end %>

  <% if document['eds_abstract'].present? %>
    <li><%= doc_presenter.field_value('eds_abstract') %></li>
  <% end %>
</ul>
<% if document['eds_fulltext_links'].present? && !article_restricted?(document) %>
  <ul class='document-metadata dl-horizontal dl-invert'>
    <%= safe_join(doc_presenter.fulltext_links) %>
  </ul>
<% end %>
