<% doc_presenter = presenter(document) %>
<ul class='document-metadata dl-horizontal dl-invert'>
  <% if document['eds_authors'].present? %>
    <li><%= doc_presenter.field_value('eds_authors') %></li>
  <% end %>

  <% if document['eds_composed_title'].present? %>
    <li><%= doc_presenter.field_value('eds_composed_title') %></li>
  <% end %>
</ul>
<% if document['eds_subjects'].present? %>
  <dl class="document-metadata dl-horizontal dl-invert">
    <dt>Subjects</dt> <dd><%= doc_presenter.field_value('eds_subjects') %></dd>
  </dl>
<% end %>
<% if document['eds_abstract'].present? %>
  <ul class='document-metadata dl-horizontal dl-invert'>
    <li><%= doc_presenter.field_value('eds_abstract') %></li>
  </ul>
<% end %>

<% if document.access_panels.online? && !document.eds_restricted? %>
  <ul class='document-metadata dl-horizontal dl-invert'>
    <% document.access_panels.online.links.each do |link| %>
      <li><%= link_to(link.text, link.href) %></li>
    <% end %>
  </ul>
<% end %>
