<style>
body {
  background-color: white;
  margin: 20px;
  width: 80%;
}
</style>
<h2>Query: <%= params[:q] %></h2>
<h2>Results: <%= @response.total %> found</h2>
<ol>
  <% @response.results.each do |doc| %>
  <li>
    <%= link_to doc[:title], doc[:url] %><br/>
    <%= doc[:description].try(:html_safe) %>
  </li>
  <% end %>
</ol>

<h2>Format Facet data</h2>
<pre>
<%= JSON.pretty_generate(@response.facets.select {|facet| facet['name'] == 'eds_publication_type_facet' }) %>
</pre>
