<% return if @document.eds_restricted? %>

<% mini_map_sections = {} %>

<div class="article-record-metadata row">
  <div class="article-record-panels col-md-4">
    <%= render "articles/record/metadata_panels", document: @document -%>
  </div>
  <div class="article-record-sections record-sections col-md-8">
    <% sections = helpers.blacklight_config.show.sections %>
    <% if @document.html_fulltext? %>
      <div class="html-fulltext-container">
        <%= render('articles/record/html_fulltext', document: @document, fields: sections["Fulltext"].keys)%>
      </div>
    <% end %>
    <dl class="dl-horizontal dl-invert">
      <% sections.each do |section_name, fields| -%>
        <% if (section = render('articles/record/section_fields', document: @document, fields_to_render: fields, fields: fields.keys)).present? -%>
          <% unless section_name == 'Fulltext' -%>
            <% if section_name == 'Summary' -%>
              <div class="section-container-heading">
                <h2>About this article</h2>
              </div>
              <div class='section'>
            <% else -%>
              <div class='section'>
                <div class='section-heading'>
                  <% mini_map_sections[section_name.downcase] = true %>
                  <h3 id="<%= section_name.downcase %>">
                    <%= section_name -%>
                  </h3>
                </div>
            <% end -%>
              <div class='section-body'>
                <%= section -%>
              </div>
            </div>
          <% end -%>
        <% end %>
      <% end -%>
    </dl>
  </div>
</div>

<%= render 'shared/side_nav_minimap', has_data: mini_map_sections %>
