<%= render layout.new(document:) do |component| %>
  <% component.with_title { presenter.heading } %>
  <% component.with_header do %>
    <% if presenter.vernacular_title.present? %>
      <p class='vernacular-title h2 fw-normal mt-3'><%= presenter.vernacular_title %></p>
    <% end %>

    <div class='upper-record-metadata mb-4 mb-lg-5'>
      <div><%= helpers.render_resource_icon presenter.formats %> <%= presenter.document_format %></div>
    </div>
  <% end %>

  <% component.with_embed do %>
    <% if document.managed_purls.many? ||
          document.published_content? ||
          document.is_a_collection? %>
      <div class="mb-4 mb-lg-5">
        <%= case
          when document.managed_purls.many?
            render 'catalog/managed_purl_embed', document: document
          when document.published_content?
            render Record::Item::EmbedComponent.new(druid: document.druid)
          end %>
        <% if document.is_a_collection? %>
          <%= render 'collection_members/placeholder', document: document %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% component.with_metadata do %>
    <%= render Record::Cocina::DescriptionComponent.new(document: document) %>
    <%= render Record::Cocina::ContributorsComponent.new(document: document) %>
    <%= render Record::Cocina::AbstractContentsComponent.new(document: document) %>
    <%= render Record::Cocina::SubjectComponent.new(document: document) %>
    <%= render Record::Cocina::BibliographicComponent.new(document: document) %>
  <% end %>
<% end %>
