<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <div class="document-main-section">
    <%= title %>
    <%= thumbnail %>
    <%= embed %>
    <%= document_metadata %>
    <%= schema_dot_org %>
  </div>
  <%= footer %>
<% end %>