<%= render layout.new(document:) do |component| %>
  <% component.with_thumbnail do %>
    <%= helpers.render_cover_image(document) %>
  <% end unless document.managed_purls.many? || document.druid %>

  <% component.with_title { presenter.heading } %>
  <% component.with_header do %>
    <% if presenter.vernacular_title.present? %>
      <p class='vernacular-title h2 fw-normal mt-3'><%= presenter.vernacular_title %></p>
    <% end %>

    <div class='upper-record-metadata mb-5'>
      <div>
        <span class="me-1 align-text-bottom"><%= helpers.render_resource_icon presenter.formats %></span><%= presenter.document_format %>
        <% if presenter.document_format.present? && document.marc_field('3003abcefg').values.any? %>&mdash;<% end %> <%= safe_join(document.marc_field('3003abcefg').values, ' ').presence %>
      </div>

      <div class='mt-3'>
        <%= render Record::MarcContentAdviceComponent.new(document: document) %>
      </div>
    </div>
  <% end %>

  <% component.with_embed do %>
    <div class="mb-5">
      <% if document.is_a_collection? %>
        <%= render 'collection_members/placeholder', document: document %>
      <% else %>
        <%= case
          when document.managed_purls.many?
            render 'catalog/managed_purl_embed', document: document
          when document.druid
            render Record::Item::EmbedComponent.new(druid: document.druid)
          end %>
      <% end%>
    </div>
  <% end %>

  <% component.with_metadata do %>
    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Description', classes: 'mb-5') do %>
      <%= render_if_present document.marc_field('245c') %>

      <%- uniform_title = helpers.get_uniform_title(document) -%>
      <%- if uniform_title -%>
        <div>
          <dt title="<%= uniform_title[:label] %>"><%= uniform_title[:label] %></dt>
          <% uniform_title[:fields]&.each do |field| %>
            <dd><%= auto_link(field[:field]) %></dd>
            <% if field[:vernacular].present? %>
              <dd><%= field[:vernacular] %></dd>
            <% end %>
          <% end %>
          <% uniform_title[:unmatched_vernacular]&.each do |field| %>
            <dd><%= field %></dd>
          <% end %>
        </div>
      <%- end -%>

      <% [:language, '344', '345', '346', '347', '250ab', :imprint, :production_notice, :marc_instrumentation, :linked_series, :linked_collection].each do |tag| %>
        <%= render_if_present document.marc_field(tag) %>
      <% end %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Creators/Contributors') do %>
      <% %i[creator corporate_author meeting contributors].each do |target| %>
        <%= render document.linked_author(target) %>
      <% end %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Contents/Summary') do %>
      <%= render Record::MarcContentsSummaryComponent.new(document: document) %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Subjects') do %>
      <%= render_if_present document.subjects(['600', '610', '611', '630', '647', '650', '651', '653', '656', '657', '658', '691', '693', '696', '697', '698', '699']) %>
      <%= render_if_present document.subjects('655') %>
      <%= render_if_present document.subjects('690') %>

      <% if document.is_a_database? && document[:db_az_subject] %>
        <%= render Searchworks4::MetadataFieldLayoutComponent.new do |component| %>
          <% component.with_label { 'Database topics' } %>
          <% document[:db_az_subject].each do |subject| %>
            <% component.with_value { helpers.link_to_database_search(subject) } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Bibliographic information') do %>
      <%= render partial: 'catalog/dates_from_solr', locals: {document: document} %>

      <% fields = [
        242, 243, 246, 247, '254a', 255, '256a',
        310, 321, 340, 362, :unlinked_series,
        500, 501, 502, 506, 507, 508, 510, 511, 513, 514, 515, 516, 518, 521, 522, 524, 525, 526, 530, 533, 534, 535, 536, 538, 540, 541, 542, 544, 545, 547, 550, 552, 555, 556, 561, 562, 563, 565, 567, 580, 581, 583, 584, 585,
        :awards, :bound_with_note, :database_note,
        :linked_related_works, :added_entry, :hierarchical_place_name, 753, 754, :linked_serials, :local_subjects, 796, 797, 798, 799,
        :isbn, :issn, :doi, '028', 222
        ]
      %>

      <% fields.each do |tag| %>
        <%= render_if_present document.marc_field(tag) %>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_footer do %>
    <%= render Record::Item::Marc::CallnumberBrowseComponent.new(document: document) if document.browseable_spines.present? %>
  <% end %>
<% end %>
