<% if document.marc_links.finding_aid.present? %>
  <%= render Searchworks4::MetadataFieldLayoutComponent.new do |component| %>
    <% component.with_label { 'Finding aid' } %>
    <% component.with_value do %>
      <%= document.marc_links.finding_aid.map(&:html).join("<br/>").html_safe %>
    <% end %>
  <% end %>
<% end %>

<%= render_if_present document.marc_field(:organization_and_arrangement) %>
<%= render_if_present document.marc_field(504) %>

<% toc = document.fetch(:toc_struct, []).first %>
<% if toc.present? %>
  <%= render Searchworks4::MetadataFieldLayoutComponent.new do |component| %>
    <% component.with_label { toc[:label] } %>
    <% component.with_value data: { controller: 'long-text', 'long-text-truncate-class': 'truncate-5'} do %>
      <div data-long-text-target="text">
        <%- unless toc[:fields].nil? -%>
          <%- toc[:fields].each do |toc_field| -%>
            <ul class="toc">
              <% Array.wrap(toc_field).each do |field| %>
                <li><%= render_struct_field_data(document, field) %></li>
              <% end %>
            </ul>
          <%- end -%>
        <%- end -%>
        <%- unless toc[:vernacular].nil? -%>
          <%- toc[:vernacular].each do |toc_field| -%>
            <ul class="toc">
              <%- toc_field.each do |field| -%>
                <li><%= field %></li>
              <%- end -%>
            </ul>
          <%- end -%>
        <%- end -%>
        <%- unless toc[:unmatched_vernacular].nil? -%>
          <%- toc[:unmatched_vernacular].each do |toc_field| -%>
            <ul class="toc">
              <%- toc_field.each do |field| -%>
                <li><%= field %></li>
              <%- end -%>
            </ul>
          <%- end -%>
        <%- end -%>
      </div>
    <% end %>
  <% end %>
<% end %>

<% summaries.each do |summary|%>
  <%= render Searchworks4::MetadataFieldLayoutComponent.new do |component| %>
    <% component.with_label { summary[:label] || 'Summary' } %>
    <% summary.fetch(:fields, []).each do |field| %>
      <% component.with_value data: { controller: 'long-text', 'long-text-truncate-class': 'truncate-5'} do %>
        <div data-long-text-target="text">
          <%= render_struct_field_data document, field[:field] %>
          <%= "<br/>#{field[:vernacular]}".html_safe unless field[:vernacular].nil? %>
          <%= "<br/>".html_safe if field != summary[:fields].last %>
        </div>
      <% end %>
    <% end %>
    <% if summary[:unmatched_vernacular].present? %>
      <% component.with_value data: { controller: 'long-text', 'long-text-truncate-class': 'truncate-5'} do %>
        <div data-long-text-target="text">
          <%= summary[:unmatched_vernacular].join("<br/>").html_safe %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if document.marc_links.supplemental.present? %>
  <%= render Searchworks4::MetadataFieldLayoutComponent.new do |component| %>
    <% component.with_label { 'Supplemental links' } %>
    <% component.with_value do %>
      <ul class="list-unstyled">
        <% document.marc_links.supplemental.each do |link| %>
          <li>
            <%= link.html %>
            <%= render StanfordOnlyPopoverComponent.new if link.stanford_only? %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<%= render_if_present document.included_works %>
