<%= content_tag 'article',
      id: document.id,
      data: {
        'document-id': document.id.to_s.parameterize
      },
      class: 'document',
      itemscope: true,
      itemtype: document.itemtype do %>
  <div class="document-main-section">
    <h1>
      <span itemprop="name"><%= presenter.heading %></span>
    </h1>
    <% if presenter.vernacular_title.present? %>
      <p class='vernacular-title'><%= presenter.vernacular_title %></p>
    <% end %>

    <button class="btn btn-sm py-0 btn-secondary d-lg-none my-3" data-bs-toggle="offcanvas" data-bs-target="#aside" aria-controls="aside">See availability</button>

    <%= case
      when document.managed_purls.many?
        render 'catalog/managed_purl_embed', document: document
      when document.druid && (!document.mods? || document.published_content?)
        render Record::Item::EmbedComponent.new(druid: document.druid)
      end
    %>

    <div class="upper-record-metadata">
      <%= helpers.render_resource_icon presenter.formats %>
      <% document.mods.resourceType.each do |resource_type| %>
        <%= mods_record_field(resource_type) %>
      <% end %>

      <% document.mods.imprint.each do |imprint| %>
        <%= mods_record_field(imprint) %>
      <% end %>

      <% document.mods.language.each do |language| %>
        <%= mods_record_field(language, ', ') %>
      <% end %>

      <% document.mods.description.each do |description| %>
        <%= mods_record_field(description) %>
      <% end %>

      <% document.mods.extent.each do |extent| %>
        <%= mods_record_field(extent) %>
      <% end %>

      <% document.mods.form.each do |form| %>
        <%= mods_record_field(form) %>
      <% end %>

      <% document.mods.geo.each do |geo| %>
        <%= mods_record_field(geo) %>
      <% end %>

      <% document.mods.cartographics.each do |cartographic| %>
        <%= mods_record_field(cartographic) %>
      <% end %>
    </div>

    <% if document.display_type == 'mods_collection' %>
    <div class="async-collection-members col-md-12" data-controller="async-collection-members" data-async-collection-members-url-value="<%= collection_member_path(document.id, type: action_name, format: :json) %>" aria-live="polite">
      <%= helpers.link_to_collection_members('View all items', document) %>
    </div>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Creators/Contributors') do %>
      <% document.mods.name&.each do |name| %>
        <%= mods_name_field(name) do |name| %>
          <%= link_to(name, search_catalog_path(q: "\"#{name}\"", search_field: 'search_author')) %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Abstract/Contents', dl_classes: '') do %>
      <% document.mods.abstract.each do |abstract| %>
        <%= mods_record_field(abstract) %>
      <% end %>

      <% document.mods.contents.each do |contents| %>
        <%= mods_record_field(contents) %>
      <% end %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Subjects') do %>
      <% if document.mods.subject.any?(&:values) %>
        <%= linked_mods_subjects(document.mods.subject) %>
      <% end %>
      <% if document.mods.genre.any?(&:values) %>
        <%= linked_mods_genres(document.mods.genre) %>
      <% end %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Bibliographic information') do %>
      <%= render(Record::ModsBibliographicComponent.new(document: document)) %>
    <% end %>

    <%= render Searchworks4::DocumentSectionLayout.new(title: 'Access conditions') do %>
      <% document.mods.accessCondition.each do |accessCondition| %>
        <%= render ModsDisplay::FieldComponent.new(field: accessCondition, label_html_attributes: { class: 'col-md-3' }, value_html_attributes: { class: 'col-md-9' }) %>
      <% end %>
    <% end %>
    <%= render 'catalog/schema_dot_org_default', document: document %>
  </div>

  <% if document.respond_to?(:export_as_openurl_ctx_kev) %>
    <!-- COinS, for Zotero among others. -->
    <span class="Z3988" title="<%= document.export_as_openurl_ctx_kev(document.document_formats.first) %>"></span>
  <% end %>
<% end %>
