<% document.mods.subTitle.each do |title| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: title) %></div>
<% end %>

<% document.mods.audience.each do |audience| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: audience) %></div>
<% end %>

<% document.mods.note.each do |notes| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: notes) %></div>
<% end %>

<% document.mods.relatedItem.each do |related_item| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: related_item) %></div>
<% end %>

<% document.mods.nestedRelatedItem.each do |nested_related_item| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: nested_related_item) %></div>
<% end %>

<% document.mods.identifier.each do |identifier| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: identifier) %></div>
<% end %>

<% locations.each do |location| %>
  <div class="my-3"><%= render ModsDisplay::FieldComponent.new(field: location) %></div>
<% end %>
