<% title %>

<div class='h2 row mb-4 subtitle'>
  "Search all" covers these sources
</div>

<div class='card-deck bento-panels homepage-panels'>
  <% if Settings.ENABLED_SEARCHERS.include?('catalog') %>
    <div class='card'>
      <%= image_tag 'catalog.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'Catalog', Settings.CATALOG.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'><%= t('catalog_search.sub_heading_html') %></p>
      </div>
    </div>
  <% end %>

  <% if Settings.ENABLED_SEARCHERS.include?('article') %>
    <div class='card'>
      <%= image_tag 'articles.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'Articles+', Settings.ARTICLE.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'><%= t('article_search.sub_heading_html') %></p>
      </div>
    </div>
  <% end %>

  <% if Settings.ENABLED_SEARCHERS.include?('lib_guides') %>
    <div class='card'>
      <%= image_tag 'guides.png', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'Guides', Settings.LIBGUIDES.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'><%= t('lib_guides_search.sub_heading_html') %></p>
      </div>
    </div>
  <% end %>

  <div class='card'>
    <%= image_tag 'website.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
    <div class='card-body'>
      <h2 class='card-title'><%= link_to 'Library website', Settings.LIBRARY_WEBSITE_HOME_URL %></h2>
      <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'><%= t('library_website_api_search.sub_heading_html') %></p>
    </div>
  </div>

  <% if Settings.ENABLED_SEARCHERS.include?('exhibits') %>
    <div class='card'>
      <%= image_tag 'exhibits.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'Exhibits', Settings.EXHIBITS.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'><%= t('exhibits_search.sub_heading_html') %></p>
      </div>
    </div>
  <% end %>

  <% if Settings.ENABLED_SEARCHERS.include?('earthworks') %>
    <div class='card'>
      <%= image_tag 'earthworks.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'EarthWorks', Settings.EARTHWORKS.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'><%= t('earthworks_search.sub_heading_html') %></p>
      </div>
    </div>
  <% end %>
</div>
<%= render partial: 'shared/more_search_tools' %>
