<% if @document.is_a_collection? %>
  <div class="panel panel-default access-panel panel-collection-details">
    <div class="access-panel-heading panel-heading">
      <h3>Collection details</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-invert">
          <dt style="display:none;" data-behavior="display-digital-content-count" data-document-id="<%= @document[:id] %>">
            Digital content
          </dt>
          <dd style="display:none;" data-behavior="display-digital-content-count" data-document-id="<%= @document[:id] %>">
            <%= link_to_collection_members('item', @document, { data: { behavior: 'update-digital-content-count', 'document-id': @document[:id] } }) %>
          </dd>
          <% if @document.extent.present? %>
            <dt><%= @document.extent_label %></dt>
            <dd><%= @document.extent %></dd>
          <% end %>
          <% if @document.index_links.finding_aid.present? %>
            <dt>Finding aid</dt>
            <dd><%= @document.index_links.finding_aid.first.html.html_safe %></dd>
          <% end %>
          <dt>Collection PURL</dt>
          <dd><%= link_to("https://purl.stanford.edu/#{@document.druid}", "https://purl.stanford.edu/#{@document.druid}") %></dd>
        </dl>
    </div>
  </div>
<% end %>
