<% if @document.is_a_collection_member? && @document.parent_collections.present? %>
  <% @document.parent_collections.each do |parent_collection| %>
    <div class="panel panel-default access-panel panel-in-collection">
      <div class="access-panel-heading panel-heading">
        <h3>In collection</h3>
      </div>
      <div class="panel-body">
        <h4><%= link_to(presenter(parent_collection).document_heading, catalog_path(parent_collection[:id])) %></h4>
        <% if parent_collection[:summary_display] %>
          <div data-behavior='truncate'>
            <%= parent_collection[:summary_display].join(', ') %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <dl class="dl-invert">
          <dt>Digital content</dt>
          <dd><%= link_to_collection_members(pluralize(parent_collection.collection_members.total, 'item'), parent_collection) %></dd>
          <% if parent_collection.extent.present? %>
            <dt><%= parent_collection.extent_label %></dt>
            <dd><%= parent_collection.extent %></dd>
          <% end %>
          <% if parent_collection.index_links.finding_aid.present? %>
            <dt>Finding aid</dt>
            <dd><%= parent_collection.index_links.finding_aid.first.text.html_safe %></dd>
          <% end %>
          <dt>Collection PURL</dt>
          <dd><%= link_to("http://purl.stanford.edu/#{parent_collection.druid}", "http://purl.stanford.edu/#{parent_collection.druid}") %></dd>
        </dl>
      </div>
    </div>
  <% end %>
<% end %>
