<% if @document.is_a_collection_member? && @document.parent_collections.present? %>
  <% @document.parent_collections.each do |parent_collection| %>
    <div class="panel panel-default access-panel panel-in-collection">
      <div class="access-panel-heading panel-heading">
        <h3>Item belongs to a collection</h3>
      </div>
      <div class="panel-body">
        <h4><%= link_to(document_presenter(parent_collection).heading, solr_document_path(parent_collection[:id])) %></h4>
        <% if parent_collection[:summary_display] %>
          <div data-behavior='truncate'>
            <%= parent_collection[:summary_display].join(', ') %>
          </div>
        <% end %>
        <dl class="dl-invert">
          <% if parent_collection.collection_members.present? %>
            <dt>Digital collection</dt>
            <dd><%= link_to_collection_members(pluralize(parent_collection.collection_members.total, 'digital item'), parent_collection) %></dd>
          <% end %>
          <% if parent_collection.extent_sans_format.present? %>
            <dt>Physical collection</dt>
            <dd><%= parent_collection.extent_sans_format %></dd>
          <% end %>
          <% if parent_collection.index_links.finding_aid.present? %>
            <dt>Finding aid</dt>
            <dd><%= parent_collection.index_links.finding_aid.first.html.html_safe %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
<% end %>
