<% document ||= @document %>
<% if document.access_panels.library_locations? %>
  <div data-live-lookup-id="<%= document[:id] %>" data-live-lookup-url="<%= availability_index_path %>">
    <% document.access_panels.library_locations.libraries.each do |library| %>
      <div class="panel panel-default access-panel panel-library-location availability" <%= "data-hours-route='#{hour_path(library.code)}'".html_safe if library.holding_library? %>>
        <div class="library-location-heading access-panel-heading">
          <%= thumb_for_library(library) %>
          <div class="library-location-heading-text">
            <h3><%= link_to_library(library) %></h3>
            <div class="small location-hours-today">
              <% unless library.holding_library? %>
                (no holding library)
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <% if document.index_links.finding_aid.present? %>
              <div class='access-panel-subsection'>
                <h4>Finding aid</h4>
                <%= document.index_links.finding_aid.first.html.html_safe %>
              </div>
          <% end %>
          <% if library.library_instructions.present? %>
            <div class='access-panel-subsection'>
              <h4><%= library.library_instructions[:heading] %></h4>
              <p><%= library.library_instructions[:text] %></p>
            </div>
          <% end %>
          <ul class="list-unstyled location">
            <% library.locations.select(&:present?).each do |location| %>
              <li>
                <strong class="location-name"><%= link_to_unless !location.external_location?, location.name, location.location_link %></strong>
                <% if location.items.present? %>
                  <% if location.bound_with? && document.respond_to?(:to_marc) %>
                    <p class="bound-with-note note-highlight">
                      <% if (bound_with_note = get_data_with_label_from_marc(document.to_marc,"Note", '590')).present? %>
                        <%= bound_with_note[:fields].map do |note|
                              note[:field]
                            end.join.html_safe %>
                      <% end %>
                    </p>
                  <% else %>
                    <% if library.location_level_request? || location.location_level_request? %>
                      <%= link_to('Request', request_link(document, location.items.first), class: 'btn btn-info btn-xs pull-right') %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= render partial: "catalog/stackmap_link", locals: { document: document, location: location } %>
                <ul class="list-unstyled items" data-long-list data-list-type="location">
                  <% if location.mhld.present? %>
                    <% location.mhld.each do |mhld| %>
                      <% if mhld.public_note.present? %>
                        <li class='mhld'><%= mhld.public_note.html_safe %></li>
                      <% end %>
                      <% if mhld.latest_received.present? %>
                        <li class='mhld note-highlight'>Latest: <%= mhld.latest_received.html_safe %></li>
                      <% end %>
                      <% if mhld.library_has.present? %>
                        <li class='mhld'>Library has: <%= mhld.library_has.html_safe %></li>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% location.items.each do |item| %>
                    <li data-status-target=".availability-icon" data-barcode="<%= item.barcode if item.live_status? %>" <%= "data-request-url='#{request_link(document, item)}'".html_safe if item.requestable? && !item.must_request? %>>
                      <i title="<%= item.status.status_text %>" class="availability-icon <%= item.status.availability_class %>"></i>
                      <span data-available-text="<%= Constants::TRANSLATE_STATUS['available'] %>" data-unavailable-text="<%= Constants::TRANSLATE_STATUS['unavailable'] %>" class='status-text sr-only'>
                        <%= item.status.status_text %>
                      </span>
                      <%= item.callnumber %>
                      <div class="request-link pull-right">
                        <% if item.must_request? %>
                          <%= link_to('Request', request_link(document, item), class: 'btn btn-info btn-xs') %>
                        <% end %>
                      </div>
                      <div class="current-location">
                        <% unless item.treat_current_location_as_home_location? %>
                          <%= item.current_location.name %>
                        <% end %>
                      </div>
                      <% if item.on_reserve? %>
                        <div class="reserve-note">On Reserve <%= item.loan_period %></div>
                      <% end %>
                      <% unless item.public_note.blank? %>
                        <div class='public-note note-highlight'>Note: <%= item.public_note %></div>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
