<% document ||= @document %>
<% if document.access_panels.library_locations? %>
  <h2>At the library</h2>
  <div data-live-lookup-id="<%= document[:id] %>" data-live-lookup-url="<%= availability_index_path %>">
    <% document.access_panels.library_locations.libraries.each do |library| %>
      <div class="panel panel-default access-panel panel-library-location" <%= "data-hours-route='#{hour_path(library.code)}'".html_safe if library.holding_library? %>>
        <%= link_to_library_header(library) %>
        <div class="panel-body location">
          <% if document.index_links.finding_aid.present? %>
              <div class='access-panel-subsection'>
                <h4>Finding aid</h4>
                <%= document.index_links.finding_aid.first.html.html_safe %>
              </div>
          <% end %>
          <% if library.library_instructions.present? %>
            <div class='access-panel-subsection'>
              <h4><%= library.library_instructions[:heading] %></h4>
              <p><%= library.library_instructions[:text].html_safe %></p>
            </div>
          <% end %>
          <% library.locations.select(&:present?).each do |location| %>
            <%= render partial: "catalog/stackmap_link", locals: { document: document, location: location, location_name_class: "location-name" } %>
            <% if location.bound_with? && document.bound_with? %>
              <%= content_tag(:div, class: 'bound-with-note note-highlight') { render document.bound_with_note_for_access_panel } %>
            <% else %>
              <span class="pull-right"><%= location.request_link&.render %></span>
            <% end %>
            <% if location.mhld.present? %>
              <% location.mhld.each do |mhld| %>
                <% if mhld.public_note.present? %>
                  <div class='mhld'><%= mhld.public_note %></div>
                <% end %>
                <% if mhld.latest_received.present? %>
                  <div class='mhld note-highlight'>Latest: <%= mhld.latest_received %></div>
                <% end %>
                <% if mhld.library_has.present? %>
                  <div class='mhld'>Library has: <%= mhld.library_has %></div>
                <% end %>
              <% end %>
            <% end %>
            <table class='availability record-view'>
              <caption class="sr-only">Items in <%= location.name %></caption>
              <thead>
                <tr class="sr-only">
                   <th scope="col">Call number</th>
                   <th scope="col">Status</th>
                </tr>
             </thead>
             <tbody data-long-list data-list-type="location">
               <% location.items.each do |item| %>
                 <tr>
                   <td>
                     <%= item.callnumber %>
                     <% if item.public_note.present? %>
                       <div class='public-note note-highlight'>Note: <%= item.public_note %></div>
                     <% end %>
                   </td>
                   <% if item.present? %>
                     <td data-live-lookup-id="<%= document[:id] %>" data-status-target=".availability-icon" data-barcode="<%= item.barcode if item.live_status? %>">
                       <span class="availability-icon-wrapper">
                         <i class="availability-icon <%= item.status.availability_class %>"></i>
                         <span data-available-text="<%= Constants::TRANSLATE_STATUS['available'] %>" data-unavailable-text="<%= Constants::TRANSLATE_STATUS['unavailable'] %>" class='status-text'>
                           <%= item.status.status_text unless item.current_location && item.current_location.name.present? %>
                         </span>
                       </span>
                       <span class="current-location">
                         <% unless item.treat_current_location_as_home_location? %>
                           <%= item.current_location.name %>
                         <% end %>
                       </span>
                       <% if item.on_reserve? %>
                         <%= item.loan_period %>
                       <% end %>
                       <span class="request-link">
                         <% if item.show_item_level_request_link? %>
                           <%= link_to_request_link(document: document, library: library, callnumber: item, barcode: item.barcode, class: 'btn btn-default request-button btn-xs') %>
                         <% end %>
                       </span>
                     </td>
                   <% end %>
                 </tr>
               <% end %>
             </tbody>
            </table>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
