<% # main container for facets/limits menu -%>
<%= content_tag :div, id: @id, class: container_classes, data: { controller: 'facet-list' } do %>
  <div class="facets-header">
    <%= content_tag :h2, @title, class: header_classes, data: { facet_list_target: 'title' } if @title %>
  </div>
  <div id="<%= @panel_id %>" class="<%= body_classes %>">
    <%= body %>

    <% if @show_button %>
      <div class="text-center mt-2 d-none d-md-block">
        <button class="btn btn-primary" data-facet-list-target="button" data-action="facet-list#toggle" aria-controls="hidden-facets" aria-expanded="false">
        </button>
      </div>
    <% end %>
  </div>
<% end %>
