<% # main container for facets/limits menu -%>
<%= content_tag :div, id: @id, class: container_classes, data: component_data do %>
  <div class="facets-header">
    <%= content_tag :h2, @title, class: "#{header_classes} #{title_classes}", data: title_data if @title %>
  </div>
  <div id="<%= @panel_id %>" class="<%= body_classes %>">
    <%= body %>
    <%= render_expand_button %>
  </div>
<% end %>
