<% if @document.respond_to?( :to_sms_text ) %>
  <li class="sms" role="presentation">
    <%= link_to t('blacklight.tools.sms_html'), sms_solr_document_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}} %>
  </li>
<% end %>
<% if @document.respond_to?( :to_email_text ) %>
  <li class="email" role="presentation">
    <% if @document[:eds_title].present? %>
      <%= link_to t('blacklight.tools.email_html'), email_article_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}} %>
    <% else %>
      <%= link_to t('blacklight.tools.email_html'), email_solr_document_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}} %>
    <% end %>
  </li>
<% end %>
<% if @document.export_formats.keys.include?( :refworks_marc_txt ) %>
  <li class="refworks" role="presentation">
    <%= link_to t('blacklight.tools.refworks_html'), refworks_export_url({url: polymorphic_url(url_for_document(@document), format: :refworks_marc_txt, only_path: false)})  %>
  </li>
<% end %>
<% if @document.export_formats.keys.include?( :endnote ) %>
  <li class="endnote" role="presentation">
    <%= link_to t('blacklight.tools.endnote_html'), solr_document_path(@document, :format => 'endnote') %>
  </li>
<% end %>
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="javascript:if(window.print)window.print()"><%= t('blacklight.tools.printer_html') %></a>
</li>
