<%
  document ||= @document
  id = document[:id]
%>

<% if document.course_reserves&.courses.present? %>
  <%
    count = document.course_reserves.courses.length
    snippet = document.course_reserves.courses.map(&:id).join(', ')
  %>
  <div class="accordion-section course-reserves">
    <button class="header" data-accordion-section-target=".<%= id %>-course-reserves" aria-expanded="false">
      <span class="section-label">Course reserve</span>
    </button>
    <span class="snippet <%= id %>-course-reserves-snippet" data-behavior="trunk8">
      <%= snippet %>
    </span>
    <div class="details <%= id %>-course-reserves" aria-expanded="false">
      <%= render AccessPanels::CourseReservesListComponent.new(document: document) %>
    </div>
  </div>
<% end %>
