<%
  document ||= @document
  id = document[:id]
  book_ids  = get_book_ids(document)
  css_class = (book_ids['isbn'] + book_ids['oclc'] + book_ids['lccn']).join(' ')
  visible   = document.access_panels.online? ?  'show' : 'hide'
  snippet_link = document.access_panels.online.links.try(:first)
%>

<div class="accordion-section online <%= visible %>">
  <button class="header" data-accordion-section-target=".<%= id %>-online" aria-expanded="false">
    <span class="section-label">Online</span>
    <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  <span class="snippet <%= id %>-online-snippet" data-behavior="trunk8">
    <% if snippet_link %>
      <span class="<%= 'stanford-only' if snippet_link.stanford_only? %>">
        <%= snippet_link.html.html_safe %>
      </span>
    <% end %>
  </span>
  <div class="details <%= id %>-online" aria-expanded="false">
    <ul class="links" data-long-list data-list-type="online">
      <% if document.access_panels.online? %>
        <% document.access_panels.online.links.each do |link| %>
          <li>
            <span class="<%= 'stanford-only' if link.stanford_only? %>">
              <%= link.html.html_safe %>
            </span>
          </li>
        <% end %>
      <% end %>
      <% if document[:managed_purl_urls].blank? %>
        <li class="google-books <%= css_class %>">
          <a href="" class="full-view">Google Books (Full view)</a></li>
        </li>
      <% end %>
    </ul>
  </div>
</div>
