<%
  document ||= @document
  id = document[:id]
%>

<% if document.holdings.libraries.select(&:present?).any? %>
  <%
    snippet = document.holdings.libraries.select(&:present?).map(&:name).join(', ')
  %>
  <div class="accordion-section location">
    <div class="snippet-wrapper">
      <button class="header" data-accordion-section-target=".<%= id %>-location" aria-expanded="false">
        <span class="section-label">Check availability</span>
      </button>
      <span class="snippet <%= id %>-location-snippet">
        <%= snippet %>
      </span>
    </div>
    <div class="details <%= id %>-location" aria-expanded="false" data-controller="live-lookup" data-live-lookup-url-value="<%= availability_index_path %>">
      <%= render :partial => "catalog/index_location", :locals => { :document => document } %>
    </div>
  </div>
<% end %>
