<%
  document ||= @document
  id = document[:id]
%>

<% if document.access_panels.library_locations? %>
  <%
    snippet = document.access_panels.library_locations.libraries.map(&:name).join(', ')
  %>
  <div class="accordion-section location">
    <a class="header" data-accordion-section-target=".<%= id %>-location">
      At the library <i class="fa fa-caret-right"></i>
    </a>
    <span class="snippet <%= id %>-location-snippet" data-behavior="trunk8">
      <%= snippet %>
    </span>
    <div class="details <%= id %>-location">
      <%= render :partial => "catalog/index_location", :locals => { :document => document } %>
    </div>
  </div>
<% end %>
