<%
  document ||= @document
  id = document[:id]
  book_ids  = get_book_ids(document)
  css_class = (book_ids['isbn'] + book_ids['oclc'] + book_ids['lccn']).join(' ')
  visible   = document.access_panels.online? ?  'show' : 'hide'
  snippet_link = document.access_panels.online.links.try(:first)
%>

<div class="accordion-section online col-xs-12 col-sm-12 col-md-8 col-lg-9 <%= visible %>">
  <a class="header" data-accordion-section-target=".<%= id %>-online">
    Online <i class="fa fa-caret-right"></i>
  </a>
  <span class="snippet <%= id %>-online-snippet" data-behavior="trunk8">
    <% if snippet_link %>
      <span class="<%= 'stanford-only' if snippet_link.stanford_only? %>">
        <%= snippet_link.html.html_safe %>
      </span>
    <% end %>
  </span>
  <div class="details <%= id %>-online">
    <ul class="links" data-long-list data-list-type="online">
      <% if document.access_panels.online? %>
        <% document.access_panels.online.links.each do |link| %>
          <li>
            <span class="<%= 'stanford-only' if link.stanford_only? %>">
              <%= link.html.html_safe %>
            </span>
          </li>
        <% end %>
      <% end %>
      <li class="google-books <%= css_class %>">
        <a href="" class="full-view">Google Books (Full view)</a></li>
      </li>
    </ul>
  </div>
</div>
