<%
  document ||= @document
  id = document[:id]
%>

<% if document.holdings_per_library %>
  <div class="accordion-section location">
    <div class="snippet-wrapper">
      <button class="header" data-accordion-section-target=".<%= id %>-location" aria-expanded="false">
        <span class="section-label">Check availability</span>
      </button>
      <span class="snippet <%= id %>-location-snippet">
        <%= document.holdings_per_library.map(&:name).join(', ') %>
      </span>
    </div>
    <div class="details <%= id %>-location" aria-expanded="false">
      <%= render :partial => "catalog/index_location", :locals => { :document => document } %>
    </div>
  </div>
<% end %>
