<% summary_data = render partial: 'catalog/accordion_section_summary_data', locals: { document: document } %>

<% if summary_data.present? %>
  <% id = document[:id] %>
  <div class="accordion-section summary">
    <a class="header" data-accordion-section-target=".<%= id %>-summary">
      Summary <i class="fa fa-caret-right"></i>
    </a>
    <div class="snippet <%= id %>-summary-snippet" data-behavior="trunk8">
      <%= summary_data %>
    </div>
    <div class="details <%= id %>-summary">
      <%= summary_data %>
    </div>
  </div>

<% end %>
