<%= turbo_frame_tag 'email_form_frame' do %>
  <% if @documents.one? %>
    <%= render Searchworks4::RecordSummaryComponent.new(presenter: document_presenter(@documents.first)) %>
  <% end %>
  <%= form_tag url_for(controller: controller_name, action: "email"),
              id: 'email_form',
              class: "modal_form",
              method: :post,
              data: {
                controller: "email-sent",
                action: "turbo:submit-end->email-sent#done"
              }  do %>
    <div class="modal-body">
      <div class="p-4">
        <%= render 'shared/email_form' %>
        <% @documents&.each do |doc| %>
          <%= hidden_field_tag "id[]", doc.id %>
        <% end %>
        <%- if params[:sort] -%>
          <%= hidden_field_tag "sort", params[:sort] %>
        <%- end -%>
        <%- if params[:per_page] -%>
          <%= hidden_field_tag "per_page", params[:per_page] %>
        <%- end -%>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-bl-dismiss="modal" class="btn btn-outline-primary">Cancel</button>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  <% end %>
<% end %>
