<%= form_tag url_for(controller: controller_name, action: "email"),
             data: { blacklight_modal: 'trigger' },
             id: 'email_form',
             class: "modal_form",
             method: :post do %>
  <div class="modal-body">
    <%= render :partial=>'shared/email_form' %>
    <% @documents&.each do |doc| %>
      <%=hidden_field_tag "id[]", doc.id %>
    <% end %>
    <%- if params[:sort] -%>
      <%= hidden_field_tag "sort", params[:sort] %>
    <%- end -%>
    <%- if params[:per_page] -%>
      <%= hidden_field_tag "per_page", params[:per_page] %>
    <%- end -%>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
  </div>
<% end %>
