<%= turbo_frame_tag 'email_form_frame' do %>
  <% if @documents.one? %>
    <%= render Searchworks4::RecordSummaryComponent.new(presenter: document_presenter(@documents.first)) %>
  <% end %>
  <%= form_tag url_for(controller: controller_name, action: "email"),
              id: 'email_form',
              class: "modal_form",
              method: :post,
              data: {
                controller: "email-sent",
                action: "turbo:submit-end->email-sent#done"
              }  do %>
    <div class="modal-body">
      <% if @documents.one? %>
        <div class="p-4">
          <div class="fw-bold">Send</div>
          <div class="form-check form-check-inline mb-3">
            <%= radio_button_tag :type, 'full', true, class: 'form-check-input' %> <%= label_tag(:type_full, "Full record", class: 'form-check-label') %>
          </div>

          <div class="form-check form-check-inline">
            <%= radio_button_tag :type, 'brief', class: 'form-check-input' %> <%= label_tag(:type_brief,  "Brief (title, call number, and library location)", class:'form-check-label') %>
          </div>
          <%= render 'shared/email_form', documents: @documents %>
        </div>
      <% else %>
        <%= render 'shared/email_form', documents: @documents %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" data-bl-dismiss="modal" class="btn btn-outline-primary">Cancel</button>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  <% end %>
<% end %>
