<% document ||= @document %>
<div class="collection-result-preview">
  <a class="label label-items-online" href="<%= collection_members_path(document) %>">
    <span>
      <%= text_for_inner_members_link(document) %>
    </span>
  </a>
<% if document.collection_members.present? %>
  <div class="file-collection-members">
    <% document.collection_members[0...3].each do |collection_member| %>
      <div class="row file-item">
        <div class="col-xs-2 file-icon">
          <%= render_resource_icon collection_member[collection_member.format_key] %>
        </div>
        <div class="col-xs-10 file-title">
          <%= link_to(show_presenter(collection_member).heading, solr_document_path(collection_member)) %>
          <% if collection_member[:pub_date] %>
            <span class="main-title-date">[<%= collection_member[:pub_date] %>]</span>
          <% end %>
          <br/>
          <% if collection_member.authors_from_index.present? %>
            <span class="file-author"><%= collection_member.authors_from_index.first %></span>
          <% end %>
        </div>
      </div>
    <% end %>
    <span class="collection-all-items-link">
        <a class="collection-all-items-link" href="<%= collection_members_path(document) %>">
            <%= text_for_inner_members_link(document) %>
        </a>
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
  </div>
<% end %>
</div>
