<% @page_title= t 'blacklight.home.title' %>

<h1 class="sr-only">SearchWorks</h1>

<div class="col-md-4 col-sm-6 home-page-facets home-page-column" data-home-page-facet-collapse='true'>
  <h2>Find materials by&hellip;</h2>
  <%= render_single_facet("access_facet", layout: "home_page_facet_layout") %>
  <%=
    render_single_facet("format_main_ssim", layout: "home_page_facet_layout", partial: "resource_type_facet") ||
    render_single_facet("format", layout: "home_page_facet_layout", partial: "resource_type_facet")
  %>
  <%= render_single_facet("building_facet", layout: "home_page_facet_layout") %>
  <%= render_single_facet("language", layout: "home_page_facet_layout") %>
</div>

<div class="features col-md-5 col-sm-6 home-page-column">
  <h2>Featured resources</h2>
  <ul class="media-list">
    <li class="media">
      <%= image_tag('digital-collections.jpg', class: 'media-object pull-left', alt: "", title: '"Cesar Chavez, Friday night meeting at Filipino Hall, Delano CA organizing briefing, 1970." Fitch, Bob (Photographer)', data: { "no-link-href" => catalog_index_path(collections_search_params) }) %>
      <div class="media-body">
        <%= link_to "Digital collections", catalog_index_path(collections_search_params), class: 'media-heading' %>
        <p>Images, maps, data, &amp; more from the Stanford Digital Repository.</p>
      </div>
    </li>
    <li class="media">
      <%= image_tag('dissertations-theses.png', class: 'media-object pull-left', alt: "", title: '', data: { "no-link-href" => catalog_index_path(f: {genre_ssim: ['Thesis/Dissertation']}) } ) %>
      <div class="media-body">
        <%= link_to "Dissertations & theses", catalog_index_path(f: {genre_ssim: ['Thesis/Dissertation']}), class: 'media-heading' %>
        <p>Dissertations and theses in Stanford's collections.</p>
      </div>
    </li>

    <% if Settings.GOVERNMENT_DOCUMENTS_ACCESS_POINT %>
      <li class='media'>
        <%= image_tag('govdocs.png', class: 'media-object pull-left', alt: '', title: '', data: { 'no-link-href' => govdocs_path} ) %>
        <div class='media-body'>
          <%= link_to 'Government documents', govdocs_path, class: 'media-heading' %>
          <p>Stanford is a depository library for state, federal, UN, and EU government documents.</p>
        </div>
      </li>
    <% end %>

    <li class="media">
      <%= image_tag('selected-databases.png', class: 'media-object pull-left', alt: "", title: '',  data: { "no-link-href" =>  selected_databases_path }) %>
      <div class="media-body">
        <%= link_to "Selected article databases", selected_databases_path, class: 'media-heading' %>
        <p>Not sure where to start? Find articles by discipline.</p>
      </div>
    </li>
    <li class="media">
      <%= image_tag('course-reserves.png', class: 'media-object pull-left', alt: "", title: '',  data: { "no-link-href" =>  course_reserves_path }) %>
      <div class="media-body">
        <%= link_to "Course reserves", course_reserves_path, class: 'media-heading' %>
        <p>Find print, media, and e-resources set aside for classes.<br/>For instructors: <%= link_to "Request course reserves", "http://reserves.stanford.edu" %>.</p>
      </div>
    </li>
  </ul>
</div>
<div class="articles-help col-md-3 col-sm-6 home-page-column">
  <h2>Looking for articles?</h2>
  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <p>
          Articles are not indexed in SearchWorks.
          <%= link_to("Select a database", databases_path, class: 'media-heading') %> to search for articles.
        </p>
      </div>
    </li>
    <li class="media">
      <div class="media-body">
        <%= link_to "Citation finder", "http://sul-sfx.stanford.edu/sfxlcl41/az", class: "media-heading" %>
        <i class="external-link-icon"></i>
        <p>Find an article in one of Stanford's ejournal subscriptions.</p>
      </div>
    </li>
    <li class="media">
      <div class="media-body">
        <%= link_to "xSearch", "http://xsearch.stanford.edu", class: "media-heading" %>
        <i class="external-link-icon"></i>
        <p>Search for articles in multiple databases simultaneously.</p>
      </div>
    </li>
    <li class="media">
      <div class="media-body">
        <%= link_to "Guide: Find articles", "http://library.stanford.edu/guides/find-articles", class: "media-heading" %>
        <i class="external-link-icon"></i>
        <p>Guide to searching for articles at Stanford.</p>
      </div>
    </li>
  </ul>

  <h2>Help with SearchWorks</h2>
  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <%= link_to "Guide: SearchWorks basics", "http://library.stanford.edu/guides/searchworks-basics-searching-library-catalog", class: "media-heading" %>
        <i class="external-link-icon"></i>
        <p>Overview of SearchWorks features, including basic search strategies, facets, browsing.</p>
      </div>
    </li>
  </ul>
</div>
