<div class="panel panel-default home-facet facet_limit blacklight-<%= facet_field.field.parameterize %> <%= 'facet_limit-active' if facet_field_in_params?(facet_field.field) %>">
  <div class="collapse-toggle panel-heading <%= 'collapsed' if collapse_home_page_facet?(facet_field) %>" data-toggle="collapse" data-target="#<%= "facet-#{facet_field.key.parameterize}" %>">
    <h3 class="panel-title">
      <%= link_to facet_field_label(facet_field.field), "#", :"data-no-turbolink" => true %>
    </h3>
  </div>
  <div id="<%= "facet-#{facet_field.key.parameterize}" %>" data-toggle-default="<%= collapse_home_page_facet?(facet_field) %>" class="panel-collapse facet-content collapse <%= 'in' unless collapse_home_page_facet?(facet_field) %>">
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
