<% @page_title = t 'blacklight.home.title' %>
<% content_for(:search_navbar) do %>
  <div class="search-area-image-bg mb-3">
    <div class="container">
      <search class="search-card px-4 py-3 rounded">
        <div class="mb-3">
          <span class="fw-bold">Search mode:</span>
          <div class="form-check form-check-inline mx-3">
            <input class="form-check-input" type="radio" name="search-type" id="searchTypeCatalog" value="catalog" checked onclick="document.querySelector('.search-query-form').action = '<%= search_action_url %>'">
            <label class="form-check-label" for="searchTypeCatalog">Catalog</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="search-type" id="searchTypeArticle" value="articles" onclick="document.querySelector('.search-query-form').action = '/articles'">
            <label class="form-check-label" for="searchTypeArticle">Articles+</label>
          </div>
        </div>
        <%= render HomepageSearchComponent.new url: search_action_url,
                                              advanced_search_url: search_action_url(action: 'advanced_search'),
                                              params: search_state.params_for_search.except(:qt),
                                              autocomplete_path: suggest_index_catalog_path %>
        <p class="mt-3">Catalog - search over eleven million physical volumes, over three million e-books, over  65,000 serial licenses, and enumerable digital resources, including  datasets... </p>
      </search>
    </div>
  </div>
<% end %>

<div class="row mt-5 catalog-home-page">
  <h1 class="visually-hidden">SearchWorks Catalog</h1>
  <div class="col-lg-6 col-xl-4">
    <div class="row">
      <div class="col-xxl-10 col-xl-12">
        <section class="home-page-facets facets sidenav">
          <h2 class="h3 facets-heading">Browse by</h2>
          <div class="accordion" data-controller="analytics" data-action="hide.bs.collapse->analytics#trackFacetHide show.bs.collapse->analytics#trackFacetShow">
            <%= render Blacklight::FacetComponent.with_collection(blacklight_config.facet_fields.slice('access_facet', 'format_main_ssim', 'building_facet').values, response: @response)%>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-8 d-flex flex-column flex-xl-row align-items-baseline">
    <section class="px-lg-3 py-1 tips">
      <header class="d-flex justify-content-between flex-wrap align-items-center h3"><span class="text-nowrap">Search tips</span>
        <a href="https://guides.library.stanford.edu/searchworks" class="btn btn-sm btn-outline-primary text-nowrap align-self-start">Visit SearchWorks Guide</a>
      </header>
      <ul class="list-unstyled">
        <li class="mb-3">
          <div class="fw-semibold">Start with a simple keyword search</div>
          Examples: “the new york times” or “stephan graham thesis”
        </li>

        <li class="mb-3">
          <div class="fw-semibold">Refine with filters</div>
        </li>

        <li class="mb-3">
        <div class="fw-semibold">Results are sorted by relevance</div>
        </li>

        <li class="mb-3">
        <div class="fw-semibold">All words are significant</div>
        Examples: distinguish between “archaeology and literature” and “archaeology in literature”
        </li>

        <li class="mb-3">
          <div class="fw-semibold">Wildcards</div>
          Example: créat* will find création(s), créateur(s), créatrice(s)
        </li>
      </ul>
    </section>
    <section class="px-lg-3 py-xl-1 py-3 features">
      <header class="h3">Featured resources</header>

      <ul class="list-unstyled" data-controller="analytics" data-analytics-category-value="featured-resource">
        <li class="mb-3">
          <%= link_to 'Course reserves', course_reserves_path, class: 'd-block', data: { action: "click->analytics#trackLink" } %>
          Books, media and digital resources set aside for classes
        </li>
        <li class="mb-3">
          <%= link_to 'Databases', databases_path, class: 'd-block', data: { action: "click->analytics#trackLink" } %>
          Topic specific databases containing full-text journal articles
        </li>
        <li class="mb-3">
          <%= link_to 'Digital collections', search_catalog_path(collections_search_params), class: 'd-block', data: { action: "click->analytics#trackLink" } %>
          Images, maps, data and more in the Stanford Digital repository
        </li>
        <li class="mb-3">
          <%= link_to 'Government documents', govdocs_path, class: 'd-block', data: { action: "click->analytics#trackLink" } %>
          State, federal, United Nations and European government documents
        </li>
        <li class="mb-3">
          <%= link_to 'Theses & dissertations', search_catalog_path(f: {genre_ssim: ['Thesis/Dissertation']}), class: 'd-block', data: { action: "click->analytics#trackLink" } %>
          Student work held in the Stanford Digital repository
        </li>
      </ul>
    </section>
  </div>
</div>

<%= render 'schema_dot_org_website_search' %>
