<div class="col-md-8 col-sm-6" data-home-page-facet-collapse='true'>
  <h2>Limit your search</h2>
  <div class="col-md-6">
    <%=
      render_single_facet("format_main_ssim", layout: "home_page_facet_layout", partial: "resource_type_facet") ||
      render_single_facet("format", layout: "home_page_facet_layout", partial: "resource_type_facet")
    %>
  </div>
  <div class="col-md-6">
    <%= render_single_facet("access_facet", layout: "home_page_facet_layout") %>
    <%= render_single_facet("building_facet", layout: "home_page_facet_layout") %>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <h2>Featured sets</h2>
  <ul class="media-list">
    <li class="media">
      <%= link_to image_tag("http://placehold.it/50x50", class: "media-object"), "#", class: "pull-left disabled" %>
      <div class="media-body">
        <%= link_to "Digital collections", "#", class: "media-heading disabled" %>
        <p>Manuscripts, images, data, etc. from the Stanford Digital Repository</p>
      </div>
    </li>
    <li class="media">
      <%= link_to image_tag("http://placehold.it/50x50", class: "media-object"), "#", class: "pull-left disabled" %>
      <div class="media-body">
        <%= link_to "Dissertations, theses, student work", "#", class: "media-heading disabled" %>
        <p>&hellip;</p>
      </div>
    </li>
    <li class="media">
      <%= link_to image_tag("http://placehold.it/50x50", class: "media-object"), "#", class: "pull-left disabled" %>
      <div class="media-body">
        <%= link_to "Selected databases", "#", class: "media-heading disabled" %>
        <p>If you're not sure where to start your research, try one of these databases.</p>
      </div>
    </li>
    <li class="media">
      <%= link_to image_tag("http://placehold.it/50x50", class: "media-object"), "#", class: "pull-left disabled" %>
      <div class="media-body">
        <%= link_to "Music search", "#", class: "media-heading disabled" %>
        <p>&hellip;</p>
      </div>
    </li>
  </ul>
  <h2>Searching for articles?</h2>
  <ul class="media-list">
    <li class="media">
      <%= link_to image_tag("http://placehold.it/50x50", class: "media-object"), "http://xsearch.stanford.edu", class: "pull-left" %>
      <div class="media-body">
        <%= link_to "xSearch", "http://xsearch.stanford.edu", class: "media-heading" %>
        <p>Search for articles in multiple databases simultaneously.</p>
      </div>
    </li>
    <li class="media">
      <%= link_to image_tag("http://placehold.it/50x50", class: "media-object"), "http://sul-sfx.stanford.edu/sfxlcl41/az", class: "pull-left" %>
      <div class="media-body">
        <%= link_to "eJournals", "http://sul-sfx.stanford.edu/sfxlcl41/az", class: "media-heading" %>
        <p>Search or browse Stanford's electronic journal holdings by title, subject, and vendor or use the citation linker to retrieve full text with an article.</p>
      </div>
    </li>
  </ul>
</div>