<% @page_title= t 'blacklight.home.title' %>

<h1 class="my-4">Books, media, &amp; more</h1>

<%= render 'schema_dot_org_website_search' %>

<div class="row catalog-home-page">
  <div class="col-md-4 col-sm-6 home-page-facets" data-home-page-facet-collapse='true'>
    <h2>Find materials by&hellip;</h2>
    <%= render Blacklight::FacetComponent.with_collection(blacklight_config.facet_fields.slice('access_facet', 'format_main_ssim', 'building_facet', 'language').values, response: @response)%>
  </div>
  <div class="features col-md-8 col-sm-6">
    <h2>Featured resources</h2>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to search_catalog_path(collections_search_params) do %>
              <%= image_tag('homepage/digital.jpg', class: 'pull-left', alt: "", title: "") %>
              <h3>Digital collections</h3>
            <% end %>
            <p>Images, maps, data, &amp; more from the Stanford Digital Repository.</p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to govdocs_path do %>
              <%= image_tag('homepage/govdocs.jpg', class: 'pull-left', alt: '', title: '') %>
              <h3>Government documents</h3>
            <% end %>
            <p>Stanford is a depository library for state, federal, UN, and EU government documents.</p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to search_catalog_path(f: {genre_ssim: ['Thesis/Dissertation']}) do %>
              <%= image_tag('homepage/theses.jpg', class: 'pull-left', alt: "", title: '') %>
              <h3>Theses & dissertations</h3>
            <% end %>
            <p>
              All student work held in the Stanford Libraries &amp; Digital Repository.<br />
              <%= link_to 'Show Stanford work only', search_catalog_path(f: {genre_ssim: ['Thesis/Dissertation'], stanford_work_facet_hsim: ['Thesis/Dissertation']}) %>.
            </p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to course_reserves_path do %>
              <%= image_tag('homepage/coursereserves.jpg', class: 'pull-left', alt: "", title: '') %>
              <h3>Course reserves</h3>
            <% end %>
            <p>Find books, media, and e-resources set aside for classes.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3">

      <div class="card">
        <div class="card-body">
          <%= link_to databases_path do %>
            <%= image_tag('homepage/databases.jpg', class: 'pull-left', alt: "", title: '') %>
            <h3>Databases</h3>
          <% end %>
          <p>A-Z list of topic-specific databases. Not sure where to start? Try these <%= link_to 'selected databases', selected_databases_path %>.</p>
        </div>
      </div>
      </div>
      <div class="col mb-3">

      <div class="card">
        <div class="card-body">
          <%= link_to search_catalog_path(f: {iiif_resources: ['available'] }) do %>
            <%= image_tag('iiif_logo.svg', class: 'pull-left', width: '100', alt: '', title: '') %>
            <h3>IIIF resources</h3>
          <% end %>
          <p>Find IIIF-compatible items in the Stanford Digital Repository.</p>
          <p><a href="https://iiif.io">What is IIIF?</a></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/home_page_bento' %>
