<% # header bar for doc items in index view gallery %>
<div class="documentHeader">
  <div class="callnumber-bar">
    <% if document.holdings.callnumbers.present? %>
      <%= document.holdings.preferred_callnumber.callnumber %><br/>
      <% if document.holdings.libraries.length == 1 %>
        <%= document.holdings.libraries.first.name %>
      <% else %>
        in <%= document.holdings.libraries.length %> libraries
      <% end %>
    <% elsif document.mods.present? %>
      <br/>Stanford Digital Repository
    <% end %>
  </div>
  <h3 class="index_title">
    <% counter = document_counter_with_offset(document_counter) %>
    <%= render_resource_icon document[document.format_key] %>
    <%= link_to_document document, label: get_main_title(document), counter: counter %>
    <span class="main-title-date"><%= get_main_title_date(document) %></span>
    <% if document.is_a_collection_member? %>
      <span class="online-label">Online</span>
    <% end %>
  </h3>
</div>
