<% if document[:summary_display] %>
  <div data-behavior='truncate'>
    <%= document[:summary_display].join(', ') %>
  </div>
<% end %>

<dl class="dl-horizontal dl-invert">
  <% if document.collection_members.present? %>
    <dt>DIGITAL CONTENT:</dt>
    <dd><%= link_to_collection_members(pluralize(document.collection_members.total, 'item'), document) %></dd>
  <% end %>

  <% if document.extent.present? %>
    <dt><%= document.extent_label %>:</dt>
    <dd><%= document.extent %></dd>
  <% end %>
</dl>

<%= render :partial => "search_results_accordion_sections", :locals => { :document => document } %>

<% if document.collection_members.present? %>
  <%= render :partial => "image_collection_filmstrip", :locals => { :collection_document => document } %>
<% end %>
