<%= render :partial => "marc_search_results_document_fields", :locals => { :document => document } %>

<dl class="dl-horizontal dl-invert results-metadata-section col-md-8">
  <% if document.extent.present? %>
    <dt><%= document.extent_label %></dt>
    <dd><%= document.extent %></dd>
  <% end %>

  <% summary_data = render partial: 'catalog/summary_data', locals: { document: document } %>
  <% if summary_data.present? %>
    <dt>Summary</dt>
    <dd>
      <div data-behavior='metadata-truncate'>
        <%= sanitize summary_data %>
      </div>
    </dd>
  <% end %>

  <% if document.index_links.finding_aid.present? %>
    <dt>Finding aid</dt>
    <dd><%= document.index_links.finding_aid.first.html.html_safe %></dd>
  <% end %>
</dl>

<%= render :partial => "search_results_accordion_sections", :locals => { :document => document } %>

<%= render partial: 'catalog/collection_members', locals: { document: document } %>

<%= render :partial => "index_online_section", locals: { document: document } %>
