<%
  counter = document_counter_with_offset(document_counter)
  preview_container = 'preview-container-' + document.id
%>

<div class="gallery-document" <%= preview_data_attrs("preview-gallery", document[:id], ".#{preview_container}") %> data-preview-in-gallery="true" data-doc-id=<%= document.id %> >
  <div class="item-thumb">
    <%= render Blacklight::Document::ThumbnailComponent.new(counter:, document:) %>
  </div>
  <div class="caption">
    <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, document_counter: document_counter %>
  </div>
  <% # bookmark functions for items/docs and preview button %>
  <div class="gallery-buttons">
    <button class="btn btn-xs btn-preview preview-button docid-<%= document.id %>" data-behavior="preview-button-trigger">Preview</button>
    <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>
  </div>
</div>
<div class="<%= preview_container %> preview-container" data-document-id="<%= document[:id] %>"></div>
