<% doc_presenter = document_presenter(document) %>
<% # header bar for doc items in index view gallery %>
<div class="documentHeader">
  <div class="callnumber-bar">
    <% if document.items.present? %>
      <%= document.preferred_item.callnumber %><br/>
      <% if document.holdings.libraries.length == 1 %>
        <%= document.holdings.libraries.first.name %>
      <% else %>
        in <%= document.holdings.libraries.length %> libraries
      <% end %>
    <% elsif document.mods? %>
      <br/>Stanford Digital Repository
    <% elsif document.preferred_online_links.present?  %>
      eResource<br />
      <%= document.eresources_library_display_name || 'Stanford Libraries' %>
    <% end %>
  </div>
  <h3 class="index_title">
    <% counter = document_counter_with_offset(document_counter) %>
    <span class="three-lines">
      <%= render_resource_icon doc_presenter.formats %>
      <%= document.online_label %>
      <%= link_to_document document, counter: counter %>
    </span>
    <span class="main-title-date"><%= get_main_title_date(document) %></span>
  </h3>
</div>
