<div class="breadcrumb col-md-12">
  <%= render 'constraints' %>
</div>

<div id="sidebar" class="col-md-4">
  <% if @response.empty? %>
    <%= render "catalog/chat_librarian_sidebar" %>
    <%= render "catalog/library_website_sidebar" %>
  <% elsif %>
    <%= render 'search_sidebar' %>
  <% end %>
</div>

<div id="content" class="col-md-8">
  <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

  <% if page_location.access_point? %>
    <% if page_location.access_point.collection? && get_collection.present? %>
      <% @page_title = t 'blacklight.search.masthead_title', title: "#{presenter(@parent).document_heading} Collection", application_name: application_name %>
    <% else %>
      <% @page_title = t 'blacklight.search.masthead_title', title: page_location.access_point.name, application_name: application_name %>
    <% end %>
  <% else %>
    <% @page_title = t('blacklight.search.title', num_results: "#{pluralize(number_with_delimiter(@response.response[:numFound]), 'result')}", application_name: application_name) %>
  <% end %>

  <% content_for(:head) do -%>
    <%= render_opensearch_response_metadata %>
    <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
    <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
  <% end -%>

  <% if !@response.empty? %>
    <div class="search_num_of_results">
      <h2><%= pluralize(number_with_delimiter(@response.response[:numFound]), 'result') %></h2>
    </div>
    <%= render 'search_header' %>
  <% end %>

  <%- if @response.empty? %>
    <%= render "zero_results" %>
  <%- elsif render_grouped_response? %>
    <%= render_grouped_document_index %>
  <%- else %>
    <%= render_document_index %>
    <%= render 'additional_results_block' %>
  <%- end %>

  <%= render 'results_pagination' %>

</div>
