<% if document[:summary_display] %>
  <div data-behavior='truncate'>
    <%= document[:summary_display].join(', ') %>
  </div>
<% end %>

<dl class="dl-horizontal dl-invert">
  <% if document.collection_members(rows: 3).present? %>
    <dt>DIGITAL CONTENT:</dt>
    <dd><%= link_to_collection_members(pluralize(document.collection_members.total, 'item'), document) %></dd>
  <% end %>

  <% if document[:physical].present? %>
    <dt>PHYSICAL EXTENT:</dt>
    <dd><%= document[:physical].join(', ') %></dd>
  <% end %>

  <% if document.index_links.finding_aid.present? %>
    <dt>FINDING AID:</dt>
    <dd><%= document.index_links.finding_aid.first.text.html_safe %></dd>
  <% end %>
</dl>

<% if document.collection_members(rows: 3).present? %>
  <%= render partial: 'catalog/file_collection_members', locals: { document: document } %>
<% end %>
