<% if document.holdings.present? %>
  <% document.holdings.libraries.select(&:present?).each do |library| %>
    <table class="table table-condensed availability" data-live-lookup-url="<%= availability_index_path %>">
      <caption class='sr-only'>Status of items at <%= library.name %></caption>
      <thead>
        <tr class='active'>
          <th scope='col'><%= library.name %></th>
          <th scope='col' class='col-xs-4'>Status</th>
        </tr>
      </thead>
      <tbody>
        <% library.locations.select(&:present_on_index?).each do |location| %>
          <tr>
            <th scope='col'>
              <strong><%= location.name%></strong>
              <% if location.mhld.present? %>
                <% location.mhld.each do |mhld| %>
                  <% if mhld.public_note.present? %>
                    <span class='public-note'><%= mhld.public_note %></span>
                  <% end %>
                <% end %>
              <% end %>
            </th>
            <td>
              <% if location.mhld.present? %>
                <% location.mhld.each do |mhld| %>
                  <% if mhld.latest_received.present? %>
                    Latest: <%= mhld.latest_received%>
                  <% end %>
                <% end %>
              <% end %>
              <% if location.items.present? %>
                <% if library.location_level_request? || location.location_level_request? %>
                  <%= link_to('Request', request_link(document, location.items.first), class: 'btn btn-info btn-xs') %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% location.items.each do |item| %>
            <tr>
              <td class='indent-callnumber'>
                <%= item.callnumber %>
              </td>
              <td data-live-lookup-id="<%= document[:id] %>" data-status-target=".availability-icon" data-barcode="<%= item.barcode %>" <%= "data-request-url='#{request_link(document, item)}'".html_safe if item.requestable? && !item.must_request? %>>
                <i class="availability-icon <%= item.status.availability_class %>"></i>
                <span class="current-location">
                  <% unless item.treat_current_location_as_home_location? %>
                    <%= item.current_location.name %>
                  <% end %>
                </span>
                <% if item.on_reserve? %>
                  On Reserve <%= item.loan_period %>
                <% end %>
                <span class="request-link">
                  <% if item.must_request? %>
                    <%= link_to('Request', request_link(document, item), class: 'btn btn-info btn-xs') %>
                  <% end %>
                </span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
