<% if document.holdings.present? %>
  <% document.holdings.libraries.each do |library| %>
    <table class="table table-condensed availability" data-live-lookup-url="<%= availability_index_path %>">
      <thead>
        <tr class='active'>
          <th><%= library.name %></th>
          <th class='col-xs-4'>Status</th>
        </tr>
      </thead>
      <tbody>
        <% library.locations.each do |location| %>
          <% if location.more_than_one_item? %>
            <tr>
              <td><strong><%= location.name%></strong></td>
              <td>
                <% if library.location_level_request? || location.location_level_request? %>
                  <%= link_to('Request', request_link(document, location.items.first), class: 'btn btn-info btn-xs') %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% location.items.each do |item| %>
            <tr>
              <td class="<%= 'indent-callnumber' if location.more_than_one_item? %>">
                <% if location.one_item? %>
                  <strong><%= location.name %></strong> :
                <% end %>
                <%= item.callnumber %>
              </td>
              <td data-live-lookup-id="<%= document[:id] %>" data-status-target=".availability-icon" data-barcode="<%= item.barcode %>" <%= "data-request-url='#{request_link(document, item)}'".html_safe if item.requestable? && !item.must_request? %>>
                <i class="availability-icon <%= item.status.availability_class %>"></i>
                <span class="current-location">
                  <% unless item.treat_current_location_as_home_location? %>
                    <%= item.current_location.name %>
                  <% end %>
                </span>
                <% if item.on_reserve? %>
                  On Reserve <%= item.loan_period %>
                <% end %>
                <span class="request-link">
                  <% if item.must_request? || (location.one_item? && (library.location_level_request? || location.location_level_request?)) %>
                    <%= link_to('Request', request_link(document, item), class: 'btn btn-info btn-xs') %>
                  <% end %>
                </span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
