<div class="row">
  <div class="col-md-8">
    <%= render :partial => "marc_search_results_document_fields", :locals => { :document => document } %>
  </div>
</div>

<dl class="row results-metadata-section">
  <% if document.extent.present? %>
    <dt class="col-md-4"><%= document.extent_label %></dt>
    <dd class="col-md-8"><%= document.extent %></dd>
  <% end %>

  <% summary_data = render partial: 'catalog/summary_data', locals: { document: document } %>
  <% if summary_data.present? %>
    <dt class="col-md-4">Summary</dt>
    <dd class="col-md-8">
      <div data-behavior='metadata-truncate'>
        <%= sanitize summary_data %>
      </div>
    </dd>
  <% end %>

  <% if document.index_links.finding_aid.present? %>
    <dt class="col-md-4">Finding aid</dt>
    <dd class="col-md-8"><%= document.index_links.finding_aid.first.html.html_safe %></dd>
  <% end %>
</dl>

<%= render :partial => "search_results_accordion_sections", :locals => { :document => document } %>

<%= render partial: 'catalog/collection_members', locals: { document: document } %>

<%= render :partial => "index_online_section", locals: { document: document } %>
