<div class="results-metadata-sections">
  <%= render :partial => "marc_search_results_document_fields", :locals => { :document => document } %>

  <dl class="row dl-invert results-metadata-section col-md-8">
    <% if document.extent.present? %>
      <dt class="col-md-3"><%= document.extent_label %></dt>
      <dd class="col-md-9"><%= document.extent %></dd>
    <% end %>

    <% if document.is_a_database? %>
      <% if document[:db_az_subject].present? %>
        <dt class="col-md-3">Database topics</dt>
        <dd class="col-md-9">
          <%= document[:db_az_subject].map do |subject| %>
            <% link_to(subject, search_catalog_path(f: {db_az_subject: [subject], document.format_key => ['Database']})) %>
          <% end.join('; ').html_safe %>
        </dd>
      <% end %>
    <% end %>

    <% summary_data = render partial: 'catalog/summary_data', locals: { document: document } %>
    <% if summary_data.present? %>
      <dt class="col-md-3">Summary</dt>
      <dd class="col-md-9">
        <div data-behavior='metadata-truncate'>
          <%= sanitize summary_data %>
        </div>
      </dd>
    <% end %>

    <% if document.index_links.finding_aid.present? %>
      <dt class="col-md-3">Finding aid</dt>
      <dd class="col-md-9"><%= document.index_links.finding_aid.first.html.html_safe %></dd>
    <% end %>

    <% if document.index_parent_collections.present? %>
      <dt class="col-md-3">Digital collection</dt>
      <dd class="col-md-9">
        <% document.index_parent_collections.each do |collection| %>
          <%= link_to(document_presenter(collection).heading, solr_document_path(collection))%>
        <% end %>
      </dd>
    <% end %>

    <% if document.collection_titles.any? %>
      <dt class="col-md-3">Collection</dt>
      <dd class="col-md-9">
        <ul data-behavior="truncate-results-metadata-links">
          <% document.collection_titles.each do |collection| %>
            <% collection.each do |_k, collection_title| %>
              <li>
                <%= link_to(collection_title.strip, search_catalog_path(search_field: :subject_terms, q: "\"#{collection_title.strip}\"")) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>

  <%= render :partial => "index_online_section", locals: { document: document } %>

  <%= render :partial => "search_results_accordion_sections", :locals => { :document => document } %>
</div>
