<% if document.holdings.present? %>
  <% document.holdings.libraries.select(&:present?).each do |library| %>
    <table class="table table-condensed availability" data-live-lookup-url="<%= availability_index_path %>">
      <caption class='sr-only'>Status of items at <%= library.name %></caption>
      <thead>
        <tr class='active'>
          <th scope='col' class='col-xs-6'><%= library.name %></th>
          <th scope='col' class='col-xs-6'>Status</th>
        </tr>
      </thead>
      <tbody data-long-list data-list-type="location">
        <% if document.respond_to?(:to_marc) && document.bound_with? %>
          <tr>
            <th scope='col' class=''>
              Some records bound together
            </th>
          </tr>
          <tr>
            <td colspan='2' class='indent-callnumber'>
              <%= link_to('See full record for details', solr_document_path(document)) %>
            </td>
          </tr>
        <% end %>
        <% library.locations.select(&:present_on_index?).each do |location| %>
          <tr>
            <th scope='col' class="location-info">
              <%= render partial: "catalog/stackmap_link", locals: { document: document, location: location, location_name_class: '' } %>
              <% if location.mhld.present? %>
                <br/>
                <% location.mhld.each do |mhld| %>
                  <% if mhld.public_note.present? %>
                    <%= mhld.public_note %>
                  <% end %>
                <% end %>
              <% end %>
            </th>
            <td>
              <% if location.mhld.present? %>
                <% location.mhld.each do |mhld| %>
                  <% if mhld.latest_received.present? %>
                    <span class='note-highlight'>Latest: <%= mhld.latest_received %></span>
                  <% end %>
                <% end %>
              <% end %>
              <%= location.request_link&.render unless Constants::HOOVER_LIBS.include?(library.code) %>
            </td>
          </tr>
          <% if Constants::HOOVER_LIBS.include?(library.code) %>
            <tr>
              <td colspan='2' class='indent-callnumber'><%= link_to('See full record for details', solr_document_path(document)) %></td>
            </tr>
          <% else %>
            <% location.items.each do |item| %>
              <tr>
                <td class='indent-callnumber'>
                  <%= item.callnumber %>
                </td>
                <td data-live-lookup-id="<%= document[:id] %>" data-status-target=".availability-icon" data-barcode="<%= item.barcode if item.live_status? %>" <%= "data-request-url='#{request_link(document, item, item.barcode)}'".html_safe if location.request_link&.show_item_level_request_link?(item) == RequestLink::DEPENDS_ON_AVAILABILITY %>>
                  <i class="availability-icon <%= item.status.availability_class %>"></i>
                  <span data-available-text="<%= Constants::TRANSLATE_STATUS['available'] %>" data-unavailable-text="<%= Constants::TRANSLATE_STATUS['unavailable'] %>" class='status-text'>
                    <%= item.status.status_text %>
                  </span>
                  <span class="current-location">
                    <% unless item.treat_current_location_as_home_location? %>
                      <%= item.current_location.name %>
                    <% end %>
                  </span>
                  <% if item.on_reserve? %>
                    <%= item.loan_period %>
                  <% end %>
                  <span class="request-link">
                    <% if location.request_link&.show_item_level_request_link?(item) == RequestLink::ALWAYS %>
                      <%= link_to_request_link(document: document, library: library, callnumber: item, barcode: item.barcode, class: 'btn btn-default request-button btn-xs') %>
                    <% end %>
                  </span>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
