<% preview_container = 'preview-container-' + document.id %>
<div class="gallery-document" <%= preview_data_attrs(true, "gallery", document[:id], '.' + preview_container) %> data-preview-in-gallery="true", data-doc-id=<%= document.id %> >
  <div class="item-thumb">
    <%= render_thumbnail_tag(document, {}, counter: document_counter_with_offset(document_counter)) %>
    <%= link_to document do %>
      <%= content_tag(:span, class:"fake-cover") do %>
        <%# Wrapper needed for the way that Firefox handles display: table-cell %>
        <%= content_tag(:div, class: "fake-cover-text-wrapper") do %>
          <%= content_tag(:div, get_main_title(document), class: "fake-cover-text") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="caption">
    <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, document_counter: document_counter %>
  </div>
  <% # bookmark functions for items/docs and preview button %>
  <div class="gallery-buttons">
    <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>
    <button class="btn btn-sm btn-primary preview-button docid-<%= document.id %>" data-behavior="preview-button-trigger"><span class="glyphicon glyphicon-chevron-right"></span> Preview</button>
  </div>
</div>
<div class="<%= preview_container %> preview-container"></div>
