<%= render partial: 'mods_search_results_document_fields', locals: { document: document } %>

<dl class="dl-horizontal dl-invert results-metadata-section">
  <dt style="display:none;" data-behavior="display-digital-content-count" data-document-id="<%= document[:id] %>">Digital content</dt>
  <dd style="display:none;" data-behavior="display-digital-content-count" data-document-id="<%= document[:id] %>">
    <%= link_to_collection_members('item', document, { data: { behavior: 'update-digital-content-count', 'document-id': document[:id] } }) %>
  </dd>

  <% if document.extent.present? %>
    <dt><%= document.extent_label %></dt>
    <dd><%= document.extent %></dd>
  <% end %>

  <% summary_data = render partial: 'catalog/summary_data', locals: { document: document } %>
  <% if summary_data.present? %>
    <dt>Summary</dt>
    <dd>
      <div data-behavior='metadata-truncate'>
        <%= sanitize summary_data %>
      </div>
    </dd>
  <% end %>
</dl>

<%= render partial: 'search_results_accordion_sections', locals: { document: document } %>

<%= render partial: 'catalog/collection_members', locals: { document: document } %>
