<div class="panel panel-default">
  <div class="panel-heading"><h3>On the library website</h3></div>
  <div class="panel-body">
    <ul class="media-list">
      <li class="media">
        <%= content_tag(:span, "", class: "glyphicon glyphicon-star media-object pull-left") %>
        <div class="media-body">
          <%= link_to "Search tools", "http://library.stanford.edu/search-services", class: "media-heading" %>
          <p>Links to help you find images, data, dissertations, archival materials, and more.</p>
        </div>
      </li>
      <li class="media">
        <%= content_tag(:span, "", class: "glyphicon glyphicon-star media-object pull-left") %>
        <div class="media-body">
          <%= link_to "Interlibrary borrowing", "http://library.stanford.edu/using/interlibrary-borrowing", class: "media-heading" %>
          <p>Access resources at other university libraries.</p>
        </div>
      </li>
      <li class="media">
        <%= content_tag(:span, "", class: "glyphicon glyphicon-star media-object pull-left") %>
        <div class="media-body">
          <%= link_to "Ask us", "http://library.stanford.edu/ask", class: "media-heading" %>
          <p>We can help you find it.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
