<% if document.respond_to?(:to_marc) %>
  <ul class="document-metadata dl-horizontal dl-invert">
    <% uniform_title = get_uniform_title(document.to_marc, ["240","130"]) %>
    <% unless uniform_title.nil? %>
      <% uniform_title[:fields].each do |field| %>
        <li><%= field[:field] %></li>
        <% if field[:vernacular] %>
          <li><%= field[:vernacular] %></li>
        <% end %>
      <% end if uniform_title[:fields].present? %>
      <% uniform_title[:unmatched_vernacular].each do |field| %>
        <li><%= field %></li>
      <% end if uniform_title[:unmatched_vernacular].present? %>
    <% end %>

    <% author_creator = link_to_author_from_marc(document.to_marc) %>
    <% unless author_creator.blank? %>
      <li><%= render_field_list_from_marc(author_creator) %></li>
    <% end %>

    <% author_corp = link_to_data_with_label(document, "Corporate Author", 'author_corp_display', {:action => 'index', :search_field => 'search_author'}) %>
    <% unless author_corp.blank? %>
      <%= render "field_list_from_index", :fields => author_corp %>
    <% end %>

    <% author_meeting = link_to_data_with_label(document, "Meeting", 'author_meeting_display', {:action => 'index', :search_field => 'search_author'}) %>
    <% unless author_meeting.nil? %>
      <%= render "field_list_from_index", :fields => author_meeting %>
    <% end %>

    <% imprint = get_data_with_label(document, "Imprint", 'imprint_display') %>
    <% if imprint.present? %>
      <li><%= render "field_list_from_index", :fields => imprint %></li>
    <% end %>
  </ul>
<% end %>