<ul class="document-metadata results-metadata-section">
  <% if document[:vern_title_display].present? %>
    <li><%= document[:vern_title_display].html_safe %></li>
  <% end %>
  <% if document.mods_display_name.present? %>
    <li>
      <% name = document.mods_display_name.first %>
      <%= link_to(name['link'], search_catalog_path(q: "\"#{name['link']}\"", search_field: 'search_author')) %> <%= name['post_text'] %>
    </li>
    <%# TODO: Remove this elsif block after new mods index is in place %>
  <% elsif document.mods.name.present? && document.mods.name.first.values.present? %>
    <li>
      <% name = document.mods.name.first %>
      <%= link_to(name.values.first, search_catalog_path(q: "\"#{name.values.first}\"", search_field: 'search_author')) %> (<%= sanitize_mods_name_label(name.label) %>)
    </li>
  <% end %>
  <% imprint = get_data_with_label(document, "Imprint", 'imprint_display') %>
  <% if imprint.present? %>
    <li>
      <%= imprint[:fields].join("<br/>").html_safe %>
      <% unless imprint[:vernacular].nil? %>
        <br/>
        <%= imprint[:vernacular].join("<br/>").html_safe %>
      <% end %>
    </li>
  <% end %>
</ul>
