<%# locals: (content_classes: document_index_view_type == :gallery ? 'col-md-8 col-xxl-9 px-xxl-4 ps-lg-4 ps-2' : 'col-md-8 col-xxl-6 px-xxl-4 ps-lg-4 ps-2', hide_constraints: false, hide_facets: false) %>
<% if page_location.collection? && get_collection.present? %>
  <% @page_title = t 'blacklight.search.masthead_title', title: "#{document_presenter(@parent).heading} Collection", application_name: "#{I18n.t('blacklight.application_name')} catalog" %>
<% elsif page_location.access_point? %>
  <% if page_location.sdr? %>
    <% @page_title = t 'blacklight.search.masthead_title', title: "SDR items", application_name: "#{I18n.t('blacklight.application_name')} catalog" %>
  <% else %>
    <% @page_title = t 'blacklight.search.masthead_title', title: page_location.access_point.to_s.gsub(/_/, ' ').capitalize.pluralize, application_name: "#{I18n.t('blacklight.application_name')} catalog" %>
  <% end %>
<% else %>
  <% constraints_text = format_constraints_page_title(search_state) %>
  <% if constraints_text.present? %>
    <% @page_title = t('blacklight.search.page_title.title', constraints: constraints_text, application_name: application_name) %>
  <% else %>
    <% @page_title = "#{I18n.t('blacklight.application_name')} catalog" %>
  <% end %>
<% end %>

<% view_config = blacklight_config.view_config(document_index_view_type, action_name: action_name) %>
<% content_for(:head) do -%>
  <%= render '/catalog/opensearch_response_metadata' %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end -%>

<h1 class="visually-hidden">Search Results</h1>

<%= render Searchworks4::SearchResult::CollectionInfoComponent.new(collection: @parent) %>
<%= render Searchworks4::SearchResult::BookplateFundComponent.new(bookplate: bookplate_from_document_list) %>

<% if has_search_parameters? && !hide_constraints %>
  <div class="row">
    <div class="constraints col d-flex">
      <%= render view_config.constraints_component.new(search_state:, classes: 'breadcrumb d-inline-flex') %>
    </div>
  </div>
<% end %>

<% if @response.empty? %>
  <%= render "zero_results" %>
<% else %>
  <% content_for(:skip_links) do -%>
    <%= render Blacklight::SkipLinkItemComponent.new(text: t('blacklight.skip_links.first_result'), href: '#documents') %>
  <% end %>
  <div class="row align-items-start mt-4" data-controller="responsive-aside" data-action="resize@window->responsive-aside#moveContentIfNeeded">
    <% unless hide_facets %>
      <div class="sidebar col-12 col-md-4 col-xxl-3 mb-3" data-controller="analytics" data-responsive-aside-target="default" data-action="hide.bs.collapse->analytics#trackFacetHide show.bs.collapse->analytics#trackFacetShow">
        <button class="btn btn-primary d-inline-block d-md-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-facets" aria-controls="offcanvas-facets">
          <i class="bi bi-sliders" aria-hidden="true"></i> Filters
        </button>

        <div id="offcanvas-facets" class="offcanvas-md offcanvas-bottom offcanvas-sm-start">
          <div class="offcanvas-body flex-column">
            <%= render 'facet_header' %>
            <%= render Facets::GroupComponent.new(id: 'top-filters', title: 'Top filters',
                                                  container_classes: 'facets top-filters sidenav mb-md-4',
                                                  header_classes: 'facets-heading',
                                                  body_classes: 'accordion') do |component| %>
              <% component.with_body do %>
                <%= render Blacklight::FacetComponent.with_collection(blacklight_config.facet_fields_in_group('top'), response: @response) %>
              <% end %>
            <% end %>

            <%= render Facets::GroupComponent.new(id: 'other-filters', title: 'Other filters',
                                                  show_button: true,
                                                  container_classes: 'facets other-filters sidenav mb-md-4',
                                                  header_classes: 'facets-heading',
                                                  body_classes: 'accordion') do |component| %>
              <% component.with_body do %>
                <div data-facet-list-target="hideFacets" id="hidden-facets">
                  <%= render Blacklight::FacetComponent.with_collection(blacklight_config.facet_fields_in_group(nil).sort_by(&:label), response: @response) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <% benchmark 'Alt results' do %>
          <%= render view_config.mini_bento_component.new if view_config.mini_bento_component %>
        <% end %>
      </div>
    <% end %>

    <div id="content" class="results col <%= content_classes %>" data-controller="eager-lazy">
      <div class="page-entries-info mb-2 d-flex justify-content-between align-items-center">
        <%= render PageLinksComponent.new(response: @response) %>

        <span class="sort-and-per-page d-flex flex-row gap-2">
          <%= render partial: 'sort_widget' %>
          <%= render partial: 'shared/per_page_widget' %>
        </span>
      </div>

      <% # container for all documents in index list view -%>
      <div id="documents" class="documents-<%= document_index_view_type %>">
        <%= render view_config.document_component.with_collection(@response.documents.map { |document| document_presenter(document) }, counter_offset: document_counter_with_offset(-1)) %>
      </div>
      <%= render 'results_pagination' %>
    </div>

    <aside class="col-xxl-3 d-none d-xxl-block">
      <div data-responsive-aside-target="responsive">
      </div>
      <%= content_for(:additional_aside_content) %>
    </aside>
  </div>
<% end %>
