<% @page_title = t('blacklight.search.searchworks_results_title', num_results: "#{pluralize(number_with_delimiter(@response.response[:numFound]), 'result')}", application_name: "#{I18n.t('blacklight.application_name')} catalog") %>
<% view_config = blacklight_config.view_config(document_index_view_type, action_name: action_name) %>
<% content_for(:head) do -%>
  <%= render '/catalog/opensearch_response_metadata' %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end -%>

<% if @response.empty? %>
   <%= render "shared/zero_results" %>
<% else %>
  <% content_for(:skip_links) do -%>
    <%= render Blacklight::SkipLinkItemComponent.new(text: t('blacklight.skip_links.first_result'), href: '#documents') %>
  <% end %>

  <div class="search-results">
    <div class="breadcrumb constraints">
      <%= render view_config.constraints_component.new(search_state:) %>
    </div>

    <div class="facets" class="col-md-4">
      <%= render 'search_sidebar' %>
    </div>

    <div class="results">
      <%= render view_config.search_header_component.new %>
      <% # container for all documents in index list view -%>
      <div class="documents-<%= document_index_view_type %>">
        <%= render view_config.document_component.with_collection(@response.documents.map { |document| document_presenter(document) }, counter_offset: document_counter_with_offset(0)) %>
      </div>
      <%= render 'results_pagination' %>
    </div>

    <% benchmark 'Alt results' do %>
      <%= render view_config.mini_bento_component.new(close: true) %>
    <% end %>
  </div>
<% end %>
