<%= form_tag searchworks_search_action_path, method: :get, class: 'navbar-form', role: 'search' do %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <div id="dynamic-hidden-inputs-target"></div>
  <div class="input-group">
  <% unless search_fields.empty? %>
    <span class="input-group-addon for-search-field">
      <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
      <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :id=>"search_field", :class=>"search_field") %>
    </span>
  <% end %>
    <label for="q" class="sr-only"><%= t('blacklight.search.form_label') %></label>
    <%= text_field_tag :q, params[:q], :placeholder => t("searchworks.search.form.q.#{controller_name}", default: :'searchworks.search.form.q.default'), :class => "search_q q form-control", :id => "q" %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default search-btn" id="search">
        <%=t('blacklight.search.form.submit_html')%>
      </button>
    </span>
  </div>
<% end %>
