<% document ||= @document %>

<% if document.marc_links.managed_purls.many? %>
  <% add_purl_embed_header(document) %>
  <%= render 'catalog/managed_purl_embed' %>
  <div class='upper-record-metadata row'>
    <div class="col-md-8 col-md-offset-4">
      <%= render 'catalog/record/marc_upper_metadata_items' %>
    </div>
  </div>
<% elsif document.druid %>
  <% add_purl_embed_header(document) %>
  <div class='upper-record-metadata row'>
    <div class="col-md-7 purl-embed-viewer">
      <div data-behavior="purl-embed" data-embed-url="<%= embed_path(document.druid) %>"></div>
      <%= iiif_drag_n_drop(document.iiif_manifest) if document.iiif_manifest %>
    </div>
    <div class="col-md-5">
      <%= render 'catalog/record/marc_upper_metadata_items' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-2">
      <%= render_cover_image(document) %>
    </div>
    <div class="col-sm-10">
      <%= render 'catalog/record/marc_upper_metadata_items' %>
    </div>
  </div>
<% end %>


<%= render partial: 'catalog/record/record_metadata_default', locals: { document: document } %>
