<% ivar_to_paginate = controller_name == 'article_selections' ? @bookmarks : @response %>
<div id="sortAndPerPage" class="clearfix sul-toolbar">
  <div class="container-fluid">
    <%= render partial: "paginate_compact", object: ivar_to_paginate %>
    <div id="search-results-toolbar" class="search-widgets pull-right">
      <% if bookmarks? %>
        <%= link_to t('blacklight.tools.cite_entries', current_range: current_entries_info(ivar_to_paginate)).html_safe, polymorphic_path(controller_name == 'bookmarks' ? :citation_solr_documents : :citation_articles, :sort=>params[:sort], :per_page=>params[:per_page], :id => @response.documents.map {|doc| doc.id}), {:id => 'citeLink', :name => 'citation', :class => 'btn btn-sul-toolbar', :data => {:ajax_modal => "trigger"}} %>
        <%= render "tool_dropdown" %>
      <% end %>
      <%= render partial: 'view_type_group' %>
      <%= render partial: 'sort_widget' %>
      <%= render partial: 'shared/per_page_widget' %>
      <% unless bookmarks? %>
        <%= render partial: 'select_all_widget' %>
      <% end %>
    </div>
  </div>
</div>
