<% if document.key?(:toc_struct) ||  document.key?(:summary_struct) || document.respond_to?(:to_marc) %>
  <% toc = document.fetch(:toc_struct, []).first %>
  <% if toc.present? %>
    <% if toc[:fields].present? %>
      <% toc[:fields].each do |toc_field| %>
        <ul class="toc">
          <% Array.wrap(toc_field).each do |field| %>
            <li><%= render_struct_field_data(document, field) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <% if toc[:vernacular].present? %>
      <% toc[:vernacular].each do |toc_field| %>
        <ul class="toc">
          <% Array.wrap(toc_field).each do |field| %>
            <li><%= field %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <% if toc[:unmatched_vernacular].present? %>
      <% toc[:unmatched_vernacular].each do |toc_field| %>
        <ul class="toc">
          <% Array.wrap(toc_field).each do |field| %>
            <li><%= field %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <% document.fetch(:summary_struct, []).each do |summary|%>
    <% summary.fetch(:fields, []).each do |field| %>
      <%= render_struct_field_data document, field[:field] %>
      <%= "<br/>#{field[:vernacular]}".html_safe unless field[:vernacular].nil? %>
      <%= "<br/>".html_safe if field != summary[:fields].last %>
    <% end %>
    <% if summary[:unmatched_vernacular].present? %>
      <%= summary[:unmatched_vernacular].join("<br/>").html_safe %>
    <% end %>
  <% end %>

<% elsif document.mods_abstract.present? %>
  <%= document.mods_abstract.join('<br/>').html_safe %>
<% end %>
