<div class="panel panel-default">
  <div class="panel-body">
    <h3>Modify your search</h3>
    <ul class="list-unstyled zero-results-list">
      <li>
        <%= t 'blacklight.search.zero_results.your_search' %>
        <% if @search_modifier.query_search? %>
          <%= "#{search_field_label(params)}: #{params[:q]}" %>
        <% end %>
        <%= @search_modifier.selected_filter_labels %>
      </li>
      <% if @search_modifier.has_filters? %>
        <li><%= t 'blacklight.search.zero_results.limit_fields' %>
        <%= link_to "#{search_field_label(params)}: #{params[:q]}", catalog_index_path(@search_modifier.params_without_filters), data: {behavior: "backend-lookup", lookup: "#{catalog_index_path(@search_modifier.params_without_filters.merge({format: 'json'}))}"} %>
        </li>
      <% end %>
      <% if @search_modifier.fielded_search? %>
        <li><%= t 'blacklight.search.zero_results.search_fields' %>
        <%= link_to "All fields: #{params[:q]}", catalog_index_path(@search_modifier.params_without_fielded_search_and_filters), data: {behavior: "backend-lookup", lookup: "#{catalog_index_path(@search_modifier.params_without_fielded_search_and_filters.merge({format: 'json'}))}"} %>
        </li>
      <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Check other sources</h3>
    <ul class="list-unstyled zero-results-list">
      <li>
        <%= link_to "Check WorldCat", "http://www.worldcat.org/search?q=#{params[:q]}" %>
      </li>
      <li>
        <%= link_to "Check articles", "#", class:"disabled" %>
      </li>
      <li>
        <%= link_to "Check library website", "http://library.stanford.edu/search/website?search=#{params[:q]}" %>
      </li>
  </div>
</div>
