<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h2 class="modal-title">Availability</h2>
  <% end %>
  <% component.with_body do %>
  <%= render Searchworks4::RecordSummaryComponent.new(presenter: document_presenter(@document)) %>
  <div class="modal-body">
    <div class="accordion availability-modal px-3 mt-3" data-controller="availability-search">
      <div class="input-group my-3">
        <label class="input-group-text bg-body border-end-0 pe-0" for="availability-search-input">
          <i class="bi bi-search" aria-hidden="true"></i>
          <span class="visually-hidden">Search items</span>
        </label>
        <input type="search" class="form-control border-start-0" placeholder="Search for a copy, volume, or issue" data-action="availability-search#search" id="availability-search-input" />
      </div>
      <%= render Searchworks4::OnlineAccordionComponent.new(document: @document, toggled_library: params[:library]) %>
      <%= render Searchworks4::AvailabilityAccordionComponent.with_collection(@document.holdings.non_sal_libraries, document: @document, toggled_library: params[:library])%>
      <%= render Searchworks4::AvailabilityAccordionComponent.new(library: @document.holdings.sal_libraries.first, document: @document, toggled_library: params[:library], libraries: @document.holdings.sal_libraries) %>
      <%= availability_turbo_frame @document %>
    </div>
  </div>
  <% end %>
<% end %>
