<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h3 class="modal-title"><%= t('blacklight.search.librarian_view.title') %></h3>

    <% if @document[:last_updated] %>
      <span class="last-updated">Last updated in SearchWorks on <%= l @document[:last_updated].to_time.in_time_zone, format: :long %></span>
    <% end %>
  <% end %>

  <% if @document.respond_to?(:to_marc) %>
    <%= render "marc_view" %>
  <% elsif @document.mods? %>
    <%= render "mods_view"%>
  <% else %>
    <%= t('blacklight.search.librarian_view.empty') %>
  <% end %>
<% end %>