<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h2 class="modal-title"><%= t('blacklight.search.librarian_view.title') %></h2>

    <% if @document.last_updated %>
      <span class="last-updated">Last updated in SearchWorks on <%= l @document.last_updated&.in_time_zone, format: :long %></span>
    <% end %>
  <% end %>

  <% if @document.respond_to?(:to_marc) %>
    <%= render "marc_view" %>
  <% elsif @document.cocina? %>
    <%= render "cocina_view", cocina: @document.cocina %>
  <% else %>
    <%= t('blacklight.search.librarian_view.empty') %>
  <% end %>
<% end %>
