<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h2 class="modal-title"><%= params[:title] %></h2>
  <% end %>
  <div class="stackmap" data-controller="stackmap" data-behavior="stackmap" data-stackmap-api-url-value="<%= params[:api_url] %>">
    <p>Call number <span class="callnumber"></span> is located in <span class="library"></span>,  <span class="floorname"></span>.</p>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">
          <i class="bi bi-map-fill me-1 align-middle"></i>Map
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link show-description" id="directions-tab" data-bs-toggle="tab" data-controller="analytics" data-bs-target="#directions"  data-action="reveal-text-directions" type="button" role="tab" aria-controls="directions" aria-selected="false">
          <i class="bi bi-list-task me-1 align-middle"></i>Text directions
        </button>
      </li>
    </ul>
    <div class="tab-content" id="tab-content">
      <div id="map" data-stackmap-target="map" class="map-template tab-pane fade show active">
        <div class="controls row">
          <div class="zoom-controls col-12">
            <%= button_tag t('blacklight.tools.stackmap.zoom_in_html'), class: "zoom-in btn btn-link p-sm-1", data: {action: 'click->stackmap#zoomIn'} %>
            <%= button_tag t('blacklight.tools.stackmap.zoom_out_html'), class: "zoom-out btn btn-link p-sm-1", data: {action: 'click->stackmap#zoomOut'} %>
            <%= button_tag t('blacklight.tools.stackmap.reset_size_html'), class: "zoom-fit btn btn-link p-sm-1", data: {action: 'click->stackmap#zoomBounds'} %>
          </div>
        </div>
        <div class="osd col-md-12">
        </div>
      </div>
      <div id="directions" data-stackmap-target="directions" class="text-directions col-md-12 mt-4 tab-pane fade">
      </div>
    </div>

  </div>
<% end %>
