<%= "Email from: #{@email_from}" if @email_from.present? %>
<p><%= @message.html_safe unless @message.nil? %></p>

<html>
  <head>
    <style>
      .side-nav-minimap { display: none; }
    </style>
  </head>
  <body>
    <ol>
      <% @documents.each do |document| %>
        <li>
          <strong><a href="<%= article_url(document, {:only_path => false}.merge(@url_gen_params)) %>"><%= document[:eds_title] if document.eds? %></a></strong>
          <div><%= document[:eds_authors].to_sentence if document[:eds_authors].present? %></div>
          <div><%= document[:eds_composed_title].html_safe  if document[:eds_composed_title].present? %></div>
          <% if document.eds_links.any? %>
            <% link = document.eds_links.all.first %>
            <div><a href="<%= link.href %>"><%= link.text %></a></div>
          <% end %>
        </li>
        <hr>
      <% end %>
    </ol>
  </body>
</html>
