<div class="panel panel-default facet_limit blacklight-<%= @facet_field.key %> <%= 'facet_limit-active' if @facet_field.active? %>">
  <div class="<%= "collapsed" if @facet_field.collapsed? %> collapse-toggle panel-heading"
  data-toggle="collapse"
  data-bs-toggle="collapse"
  data-target="#<%= @facet_field.html_id %>"
  data-bs-target="#<%= @facet_field.html_id %>"
  aria-expanded="<%= @facet_field.collapsed? ? 'false' : 'true' %>">
    <h3 class="panel-title facet-field-heading">
      <%= link_to label, '#', :"data-turbolinks" => false, :"data-no-turbolink" => true %>
    </h3>
  </div>
  <div id="<%= @facet_field.html_id %>" class="panel-collapse facet-content <%= @facet_field.collapsed? ? 'collapse' : 'in' %>">
    <div class="panel-body">
      <%= body %>

      <% if @facet_field.modal_path %>
        <div class="more_facets">
          <%= link_to t("more_#{@facet_field.key}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: @facet_field.label, facet: @facet_field.label),
            @facet_field.modal_path,
            data: { blacklight_modal: 'trigger' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
