<%- # we don't use the per-form csrf token -%>
<%= form_tag(bookmark_path,
             authenticity_token: false,
             method:  bookmarked? ? :delete : :put,
             class: "bookmark-toggle btn nav-link",
             aria: { label: aria_label },
             data: {
               controller: 'bookmark tooltip',
               document_id: @document.id.to_s.parameterize,
               action: "click->analytics#trackBookmark " \
                      "mouseenter->tooltip#show focus->tooltip#show mouseleave->tooltip#hide blur->tooltip#hide " \
                      "mouseenter->bookmark#hover click->bookmark#hover click->bookmark#blur focus->bookmark#hover mouseleave->bookmark#blur blur->bookmark#blur " \
                      "update-tooltip->tooltip#updatePopper bookmark.blacklight->bookmark#bookmarkUpdated",
               present: t('blacklight.search.bookmarks.present'),
               absent: t('blacklight.search.bookmarks.absent'),
               inprogress: t('blacklight.search.bookmarks.inprogress'),
               tooltip: tooltip_label
            }) do %>
  <div class="toggle-bookmark" data-controller="analytics">
    <label id="bookmark-<%= @document.id %>" class="toggle-bookmark-label icon-link" data-checkboxsubmit-target="label" tabindex="0">
      <input type="checkbox" class="toggle-bookmark-input <%= bookmark_icon ? 'd-none' : '' %>" data-action="click->analytics#trackBookmark" data-checkboxsubmit-target="checkbox" <%= 'checked="checked"' if bookmarked? %>>
      <%= bookmark_icon %>
      <span class="bookmark-text" data-checkboxsubmit-target="span"><%= bookmark_state_label %></span>
    </label>
  </div>
  <% if article? %>
    <%= hidden_field_tag('bookmarks[][document_id]', @document.id) %>
    <%= hidden_field_tag('bookmarks[][record_type]', 'article') %>
    <%= hidden_field_tag('bookmarks[][document_type]', @document.class) %>
  <% end %>


  <%= submit_tag(t(bookmarked? ? 'remove.button' : 'add.button', scope: 'blacklight.bookmarks'),
                 class: "bookmark-#{bookmarked? ? 'remove' : 'add'} d-none btn btn-outline-secondary") %>
<% end %>
