<div id="<%= "create-#{anno_type}" %>" data-anno-store-url="<%= Settings.OPEN_ANNOTATION_STORE_URL %>">
  <%= form_for(:annotation, html: {class: ['form-horizontal', 'form-annotations', "form-create-#{anno_type}"], role: 'form'}) do |f| %>
    <%= hidden_field_tag 'oa-store-authenticity-token', "#{Settings.OPEN_ANNOTATION_POST_AUTH_TOKEN}" %>
    <%= f.hidden_field(:motivatedBy, value: motivation_str) %>
    <%= f.fields_for(:hasTarget) do |target| %>
      <%= target.hidden_field(:id, value: sw_doc_id) %>
    <% end %>

    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag(:'annotation_hasBody_id', anno_type.capitalize, class:"col-sm-3 control-label") %>
        <div class="col-sm-9">
        <%= f.fields_for(:hasBody) do |body| %>
          <% if anno_type.match('comment') %>
            <%= body.text_area(:id, class: ['form-control', 'text-annotation'], rows: 5) %>
          <% else %>
            <%= body.text_field(:id, class: ['form-control', 'text-annotation']) %>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit("Save", class: ['btn', 'btn-primary']) %>
          <%= link_to "Cancel", "javascript:;", class:"cancel-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
