                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Featured resources
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to 'Course reserves', course_reserves_path, class: 'dropdown-item' %>
                      </li>
                      <li>
                        <%= link_to 'Databases', databases_path, class: 'dropdown-item' %>
                      </li>
                      <li>
                        <%= link_to 'Digital collections', digital_collections_path, class: 'dropdown-item' %>
                      </li>
                      <li>
                        <%= link_to 'Government documents', govdocs_path, class: 'dropdown-item' %>
                      </li>
                      <li>
                        <%= link_to 'Theses and dissertations', theses_and_dissertations_path, class: 'dropdown-item' %>
                      </li>
                    </ul>
                  </li>
