            <ul class="user-util-links column-gap-3 navbar-nav <%= extra_classes %>">
              <li class="nav-item">
                <a class="nav-link" href="/selections">
                  Saved <%= render BadgeCounterComponent.new(current_or_guest_user&.bookmarks&.count, additional_classes: %w[ms-2 bookmark-counter align-middle], data: { role: 'bookmark-counter'}) %>
                </a>
              </li>
              <li class="nav-item">
                <% if current_user %>
                  <%= link_to "#{current_user.sunet}: Logout", destroy_user_session_path, class: 'nav-link' %>
                <% else %>
                  <%= link_to 'Login', new_user_session_path(referrer: request.original_url), class: 'nav-link', data: { turbo: false } %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to 'My Account', 'https://mylibrary.stanford.edu', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <a
                  href="/feedback"
                  class="nav-link"
                  data-blacklight-modal="trigger"
                  >Feedback</a
                >
              </li>
            </ul>
