<% # main container for facets/limits menu -%>
<%= content_tag :div, id: @id, class: 'facets sidenav facets-toggleable-sm mt-1 border-0 px-0' do %>
  <% if limiters.present? %>
    <div class="top-panel-heading">
      <h2>
        <%= t("searchworks.articles.facets.options.heading") %>
      </h2>
    </div>
    <div class="facet-options" data-behavior='facet-options-checkboxes'>
      <ul class="checkbox-facet-list">
        <% limiters.each do |limiter| %>
          <li data-behavior='facet-options-checkbox'>
            <%= label_tag("eds_limiter_#{limiter.id}") do %>
              <%= check_box(
                    'f',
                    limiter.facet_field,
                    { multiple: true, id: "eds_limiter_#{limiter.id}", checked: limiter.selected? },
                    limiter.label,
                    nil
                  )
              %>
              <%= link_to(limiter.search_url, data: { turbo: false }) do %>
                <%= limiter.label %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div data-behavior='loading-spinner' class='loading-spinner' style='display:none'></div>
    </div>
  <% end %>

  <div class="facets-header">
    <%= content_tag :h2, @title, class: 'facets-heading my-0' if @title %>

    <%= content_tag :button,
      class:'btn btn-outline-secondary facet-toggle-button fs-2 d-block d-md-none',
      type: 'button',
      data: {
        'bs-toggle': 'collapse',
        'bs-target': "##{@panel_id}"
      },
      aria: {
        controls: @panel_id,
        expanded: 'false'
      } do %>
        <span class="visually-hidden">Toggle facets</span>
        <span class="fa fa-bars"></span>
    <% end %>
  </div>

  <%= content_tag :div, id: @panel_id, class: 'facets-collapse collapse' do %>
    <%= body %>
  <% end %>
<% end %>
