<% 
    message_text = flash.key?(:error) ?  flash[:error] : flash[:success]
    alert_class = flash.key?(:error) ? 'alert-error' : 'alert-success'
    icon_class =  flash.key?(:error) ? "bi-exclamation-triangle-fill" : "bi-check-circle-fill"
%>

<%= turbo_stream.update 'toast-text' do %>
    <i class='<%= "bi #{icon_class} me-2" %>'></i> <%= sanitize message_text %>
<% end %>

<%  if params[:form_format] == 'standalone' %>
    <%= turbo_stream.action 'updateOpener', 'toast-text' do %>
        <i class='<%= "bi #{icon_class} me-2" %>'></i> <%= sanitize message_text %>
    <% end %>
    <%= turbo_stream.update_all 'div.flash_messages' do %>
        <div class="alert <%= alert_class %> alert-dismissible shadow-sm d-flex align-items-center">
            <div class="text-body">
                <div><i class='<%= "bi #{icon_class} me-2" %>'></i> <%= sanitize message_text %></div>
            </div>
            <button type="button" class="btn-close p-2 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
<% end %>
