<%= form_tag feedback_form_path, method: :post, class:"form-horizontal feedback-form", role:"form" do %>
  <div>
    <div class="col-sm-offset-3">
      <%= render "shared/feedback_forms/reporting_from" %>
    </div>
  </div>
  <span style="display:none;visibility:hidden;">
    <%= label_tag(:email_address, 'Ignore this text box. It is used to detect spammers. If you enter anything into this text box, your message will not be sent.') %><br/>
    <%= email_field_tag :email_address %><br/>
    <%= text_field_tag :user_agent %>
    <%= text_field_tag :viewport %>
  </span>
  <div>
    <% if locals[:target] == '#connection-form' %>
      <%= hidden_field_tag :type, 'connection' %>
      <div class="form-group">
        <%= label_tag(:resource_name, 'Name of resource', class:"col-sm-3 control-label") %>
        <div class="col-sm-9">
          <%= text_field_tag :resource_name, "", class:"form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:name, 'Problem URL', class:"col-sm-3 control-label") %>
        <div class="col-sm-9">
          <%= text_field_tag :problem_url, "", class:"form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:message, 'Describe the connection issue', class:"col-sm-3 control-label") %>
        <div class="col-sm-9">
          <%= text_area_tag :message, "", rows:"5", class:"form-control" %>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <%= label_tag(:message, 'Message', class:"col-sm-3 control-label") %>
        <div class="col-sm-9">
          <%= text_area_tag :message, "", rows:"5", class:"form-control" %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= label_tag(:name, 'Your name', class:"col-sm-3 control-label") %>
      <div class="col-sm-9">
        <%= text_field_tag :name, "", class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:to, 'Your email', class:"col-sm-3 control-label") %>
      <div class="col-sm-9">
        <%= email_field_tag :to, "", class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Send</button>
        <%= link_to "Cancel", :back, class:"cancel-link", data: {toggle:"collapse", target: locals[:target] } %>
      </div>
    </div>
  </div>
<% end %>
