<div class="container">
  <% if Settings.FEEDBACK_ALERT %>
    <div class="col-sm-10 col-sm-offset-2">
      <p class="feedback-alert">
        <%= t('blacklight.feedback_form.feedback_alert_html', link: link_to('More information about schedules and affected services', 'https://library.stanford.edu/blogs/stanford-libraries-blog/2018/12/libraries-intersession-and-winter-closure-hours-2018-19')) %>
      </p>
    </div>
  <% end %>
  <div class="col-sm-6 col-sm-offset-2">
    <%= render "shared/feedback_forms/form_fields", locals: { target: '#feedback-form'} %>
  </div>
  <div class="col-sm-4">
    <%= render "shared/feedback_forms/chat_with_librarian" if on_campus_or_su_affiliated_user? %>
    <div class="check-status">
      <%= link_to 'Check system status', 'http://library-status.stanford.edu' %>
    </div>
    <%= render "shared/quick_reports/form", layout: nil %>
  </div>
</div>
