<% document ||= @document %>

<div class="section annotations-user-comments" id="<%= t('record_side_nav.user_comments.id') %>" data-side-nav-class="<%= t('record_side_nav.user_comments.id') %>" data-anno-id="<%= document.id %>" data-anno-search-url="<%= Settings.OPEN_ANNOTATION_SOLR_URL %>">
  <div class="section-heading">
    <h2>
      <%= t('record_side_nav.user_comments.icon').html_safe %> User comments <span class="num-found"></span>
      <button class="btn btn-default btn-sm btn-add-annotation"><i class="fa fa-plus"></i> Add comment<span class="sr-only">Add comment</span></button>
    </h2>
  </div>

  <div id="create-comments" data-anno-store-url="<%= Settings.OPEN_ANNOTATION_STORE_URL %>">
    <%= form_tag '', method: :post, class:"form-horizontal form-annotations form-create-comments", role:"form" do %>
      <%= hidden_field_tag 'authenticity-token', "#{Settings.OPEN_ANNOTATION_POST_AUTH_TOKEN}" %>
      <%= hidden_field_tag 'motivation', 'oa:commenting' %>
      <%= hidden_field_tag 'sw-id', "#{document.id}" %>
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag(:'text-tag', 'Comment', class:"col-sm-3 control-label") %>
          <div class="col-sm-9">
            <%= text_area_tag 'text-tag', nil, rows: 5, class:"form-control text-annotation" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Save</button>
            <%= link_to "Cancel", "javascript:;", class:"cancel-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="section-body user-comments">
    <ul>
    </ul>
  </div>
</div>

