<% document ||= @document %>

<% if document.marc_links.finding_aid.present? %>
  <dt title="Finding aid">Finding aid</dt>
  <dd><%= document.marc_links.finding_aid.map(&:html).join("<br/>").html_safe %></dd>
<% end %>

<%= render document.organization_and_arrangement if document.organization_and_arrangement.present? %>

<% biblio = get_data_with_label_from_marc(document.to_marc, "Bibliography", '504') %>
<% unless biblio.nil? %>
  <%= render_field_from_marc(biblio) %>
<% end %>

<% toc = document.fetch(:toc_struct, []).first %>
<% if toc.present? %>
  <dt><%= toc[:label] %></dt>
  <dd>
    <%- unless toc[:fields].nil? -%>
      <%- toc[:fields].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
    <%- unless toc[:vernacular].nil? -%>
      <%- toc[:vernacular].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
    <%- unless toc[:unmatched_vernacular].nil? -%>
      <%- toc[:unmatched_vernacular].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
  </dd>
<% end %>

<% summary_data = render partial: 'catalog/summary_data', locals: { document: document } %>
<% if summary_data.present? %>
  <dt>Summary</dt>
  <dd>
    <%= sanitize summary_data %>
  </dd>
<% end %>

<% if document.marc_links.supplemental.present? %>
  <dt title="Supplemental links">Supplemental links</dt>
  <dd>
    <%= document.marc_links.supplemental.map(&:html).join("<br/>").html_safe %>
  </dd>
<% end %>

<%= link_to_included_works_from_marc(document.to_marc) %>
