<%
  contents_summary = render "catalog/record/marc_contents_summary"
  subjects = render "catalog/record/marc_subjects"
  bibliography = render "catalog/record/marc_bibliographic"

  has_contents_summary = !contents_summary.strip.blank?
  has_subjects = subjects.present?
  has_bibliography_info = bibliography.present?

  locals = {
    type: "marc",
    has_data: {
      contents_summary: has_contents_summary,
      subjects: has_subjects,
      bibliography_info: has_bibliography_info
    }
  }
%>

<% if has_contents_summary %>
  <div class="section" id="<%= t('record_side_nav.contents_summary.id') %>" data-side-nav-class="<%= t('record_side_nav.contents_summary.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.contents_summary.icon').html_safe %> Contents/Summary</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= contents_summary %>
      </dl>
    </div>
  </div>
<% end %>

<% if has_subjects %>
  <div class="section" id="<%= t('record_side_nav.subjects.id') %>" data-side-nav-class="<%= t('record_side_nav.subjects.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.subjects.icon').html_safe %> Subjects</h2>
    </div>
    <div class="section-body">
      <%= subjects %>
    </div>
  </div>
<% end %>

<% if has_bibliography_info %>
  <div class="section" id="<%= t('record_side_nav.bibliography_info.id') %>" data-side-nav-class="<%= t('record_side_nav.bibliography_info.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.bibliography_info.icon').html_safe %> Bibliographic information</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= bibliography %>
      </dl>
    </div>
  </div>
<% end %>

<%= render partial: "catalog/record/record_side_nav", locals: locals %>
