<% if @document.marc_links.finding_aid.present? %>
  <dt title="Finding aid">Finding aid</dt>
  <dd><%= @document.marc_links.finding_aid.map(&:text).join("<br/>").html_safe %></dd>
<% end %>

<% biblio = get_data_with_label_from_marc(@document.to_marc, "Bibliography", '504') %>
<% unless biblio.nil? %>
  <%= render_field_from_marc(biblio) %>
<% end %>

<% toc = get_toc(@document.to_marc) %>
<% unless toc.nil? %>
  <dt><%= toc[:label] %></dt>
  <dd>
    <%- unless toc[:fields].nil? -%>
      <%- toc[:fields].each do |toc_field| -%>  
        <ul class="toc">
          <%- toc_field.each do |field| -%>
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
    <%- unless toc[:vernacular].nil? -%>
      <%- toc[:vernacular].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>  
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
    <%- unless toc[:unmatched_vernacular].nil? -%>
      <%- toc[:unmatched_vernacular].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>  
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
  </dd>
<% end %>


<% summary = get_data_with_label_from_marc(@document.to_marc, "Summary", '520') %>
<% unless summary.nil? %>
  <%= render_field_from_marc(summary) %>
<% end %>

<% if @document.marc_links.supplemental.present? %>
  <dt title="Supplemental links">Supplemental links</dt>
  <dd>
    <%= @document.marc_links.supplemental.map(&:text).join("<br/>").html_safe %>
  </dd>
<% end %>
