<%
  contributors = render(partial: "catalog/record/marc_contributors", locals: {document: document})
  contents_summary = render(partial: "catalog/record/marc_contents_summary", locals: {document: document})
  subjects = render(partial: "catalog/record/marc_subjects", locals: {document: document})
  bibliography = render(partial: "catalog/record/marc_bibliographic", locals: {document: document})

  locals = {
    type: "marc",
    has_data: {
      contributors: contributors.present?,
      contents_summary: contents_summary.present?,
      subjects: subjects.present?,
      bibliography_info: bibliography.present?,
      browse_nearby: document.browseable_spines.present?
    }
  }

%>

<%= render partial: "shared/side_nav_minimap", locals: locals %>

<h2>Description</h2>
<% if contributors.present? %>
  <div class="section" id="<%= t('record_side_nav.contributors.id') %>" data-side-nav-class="<%= t('record_side_nav.contributors.id') %>">
    <div class="section-heading">
      <h3><%= t('record_side_nav.contributors.icon').html_safe %> Creators/Contributors</h3>
    </div>
    <div class="section-body">
      <dl>
        <%= contributors %>
      </dl>
    </div>
  </div>
<% end %>

<% if contents_summary.present? %>
  <div class="section" id="<%= t('record_side_nav.contents_summary.id') %>" data-side-nav-class="<%= t('record_side_nav.contents_summary.id') %>">
    <div class="section-heading">
      <h3><%= t('record_side_nav.contents_summary.icon').html_safe %> Contents/Summary</h3>
    </div>
    <div class="section-body">
      <dl>
        <%= contents_summary %>
      </dl>
    </div>
  </div>
<% end %>

<% if subjects.present? %>
  <div class="section" id="<%= t('record_side_nav.subjects.id') %>" data-side-nav-class="<%= t('record_side_nav.subjects.id') %>">
    <div class="section-heading">
      <h3><%= t('record_side_nav.subjects.icon').html_safe %> Subjects</h3>
    </div>
    <div class="section-body">
      <dl>
        <%= subjects %>
      </dl>
    </div>
  </div>
<% end %>

<% if bibliography.present? %>
  <div class="section" id="<%= t('record_side_nav.bibliography_info.id') %>" data-side-nav-class="<%= t('record_side_nav.bibliography_info.id') %>">
    <div class="section-heading">
      <h3><%= t('record_side_nav.bibliography_info.icon').html_safe %> Bibliographic information</h3>
    </div>
    <div class="section-body">
      <dl>
        <%= bibliography %>
      </dl>
    </div>
  </div>
<% end %>

<% if document.bookplates.present? %>
  <div class="section">
    <div class="section-heading">
      <h3>Acquired with support from</h3>
    </div>
    <div class="section-body row container-fluid">
      <% document.bookplates.each_slice(2).each do |bookplates| %>
        <%= render bookplates %>
      <% end %>
    </div>
  </div>
<% end %>
