<% document ||= @document %>

<% if document.marc_links.finding_aid.present? %>
  <dt title="Finding aid">Finding aid</dt>
  <dd><%= document.marc_links.finding_aid.map(&:html).join("<br/>").html_safe %></dd>
<% end %>

<%= render_if_present document.marc_field(:organization_and_arrangement) %>
<%= render_if_present document.marc_field(504) %>

<% toc = document.fetch(:toc_struct, []).first %>
<% if toc.present? %>
  <dt><%= toc[:label] %></dt>
  <dd>
    <%- unless toc[:fields].nil? -%>
      <%- toc[:fields].each do |toc_field| -%>
        <ul class="toc">
          <% Array.wrap(toc_field).each do |field| %>
            <li><%= render_struct_field_data(document, field) %></li>
          <% end %>
        </ul>
      <%- end -%>
    <%- end -%>
    <%- unless toc[:vernacular].nil? -%>
      <%- toc[:vernacular].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
    <%- unless toc[:unmatched_vernacular].nil? -%>
      <%- toc[:unmatched_vernacular].each do |toc_field| -%>
        <ul class="toc">
          <%- toc_field.each do |field| -%>
            <li><%= field %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
  </dd>
<% end %>

<% document.fetch(:summary_struct, []).each do |summary|%>
  <% summary.fetch(:fields, []).each do |field| %>
    <dt><%= summary[:label] || 'Summary' %></dt>
    <dd>
      <%= render_struct_field_data document, field[:field] %>
      <%= "<br/>#{field[:vernacular]}".html_safe unless field[:vernacular].nil? %>
      <%= "<br/>".html_safe if field != summary[:fields].last %>
    </dd>
  <% end %>
  <% if summary[:unmatched_vernacular].present? %>
    <dd>
      <%= summary[:unmatched_vernacular].join("<br/>").html_safe %>
    </dd>
  <% end %>
<% end %>

<% if document.marc_links.supplemental.present? %>
  <dt title="Supplemental links">Supplemental links</dt>
  <dd>
    <%= document.marc_links.supplemental.map do |link| %>
      <% "#{link.html} #{ render StanfordOnlyIconComponent.new if link.stanford_only? }" %>
    <% end.join("<br/>").html_safe %>
  </dd>
<% end %>

<%= render_if_present document.included_works %>
