<div class="metadata-panels border-start ps-lg-3 px-3 mb-5">
  <%= render AccessPanels::CourseReservesComponent.new(document: document) %>

  <%= render AccessPanels::AvailabilityComponent.new(document: document) %>

  <%= render AccessPanels::AccessConditionsComponent.new(document:) %>

  <% context = capture do %>
    <%= render AccessPanels::AppearsInComponent.new(document: document) %>
    <%= render AccessPanels::InCollectionComponent.new(document: document) %>
  <% end %>

  <% potential_context = capture do %>
    <%= render AccessPanels::ExhibitComponent.new(document: document) %>
    <%= render AccessPanels::OtherListingsComponent.new(document: document) %>
  <% end %>

  <% if context.present? || potential_context.present? %>
    <h2 class="h3 mb-2 text-secondary">Context</h2>
    <%= context %>
    <%= potential_context %>
  <% end %>

  <%= render AccessPanels::RelatedComponent.new(document:) %>
</div>
