<h2 class="sr-only">Access</h2>
<div class="metadata-panels">
  <%= render "catalog/access_panels/online" %>
  <%= render "catalog/access_panels/course_reserve" %>
  <%= render "catalog/access_panels/location" %>
  <%= render "catalog/access_panels/in_collection" %>
  <%= render "catalog/access_panels/collection_details" %>
  <%= render "catalog/access_panels/related" %>
</div>
