<div class="metadata-panels">
  <%= render AccessPanels::OnlineComponent.new(document: document) %>

  <%= render AccessPanels::CourseReservesComponent.new(document: document) %>
  <%= render AccessPanels::AtTheLibraryComponent.new(document: document) %>

  <% context = capture do %>
    <%= render AccessPanels::AppearsInComponent.new(document: document) %>
    <%= render AccessPanels::InCollectionComponent.new(document: document) %>
  <% end %>

  <% potential_context = capture do %>
    <%= render AccessPanels::ExhibitComponent.new(document: document) %>
  <% end %>

  <% if context.present? || potential_context.present? %>
    <h2
      data-behavior="metadata-panel-context-heading"
      style="<%= 'display:none' unless context.present? %>"
    >
      Context
    </h2>

    <%= context %>
    <%= potential_context %>
  <% end %>

  <%= render AccessPanels::RelatedComponent.new(document: document) %>
</div>
