<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <div class="document-main-section">
    <% if @document.eds_restricted? %>
      <h1><%= I18n.t('searchworks.guest_message') %>
      <%= render StanfordOnlyPopoverComponent.new %></h1>
    <% else %>
      <%= title %>
      <%= document_metadata %>
    <% end %>
  </div>
  <%= footer %>
<% end %>
