<% # overriden from the QuickSearch gem %>
<nav class="row searcher-anchors" aria-label="Results found in">
  <ul class="list-inline h4">
    <% Settings.ENABLED_SEARCHERS.each do |searcher| %>
      <% if @found_types.include? searcher  %>
        <li class='list-inline-item'>
          <a href="#<%= searcher.underscore %>" data-quicksearch-ga-action="<%= searcher.underscore %>">
            <%= t("#{searcher}_search.short_display_name") %>
          </a>
        </li>
      <% else %>
        <li class="<%= searcher.underscore %> list-inline-item">
          <span class="no-results-label">
            <%= t("#{searcher}_search.short_display_name") %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
