<h3>Copy citations</h3>

<div data-controller="citation-format">
  <% unless preferred_or_unavailable_citations_only? %>
  <div class="d-flex align-items-center gap-2 mb-3">
    <label for="citation-format" class="fw-bold">Select format</label>
    <select id="citation-format" class="form-select w-25" data-action="change->citation-format#reveal">
      <% Citations::MarcCitation::FORMATS.each do |format| %>
        <option value="<%= format %>"><%= t format, scope: 'searchworks.citations.styles' %></option>
      <% end %>
    </select>
  </div>
  <% end %>

  <% Citations::MarcCitation::FORMATS.each.with_index do |format, index| %>
    <div class="bg-light p-3"<%= ' hidden' if index != 0 %> data-citation-format-target="panel"
      data-controller="copy-text" id="citation-format-<%= format %>">
      <div class="d-flex align-items-center gap-2 mb-2">
        <h4 class="mb-0 me-3">
          <% if preferred_or_unavailable_citations_only? %>
            Preferred citations
          <% else %>
            <%= t format, scope: 'searchworks.citations.styles' %>
          <% end %>
        </h4>
        <button class="btn btn-outline-primary" data-action="click->copy-text#copy">Copy</button>
      </div>
      <% if unavailable_citation_count(format).positive? %>
        <div class="alert citations-alert bi bi-exclamation-circle-fill p-2 my-3"><span class="ms-2">Citations are unavailable for <%= unavailable_citation_count(format) %> of the <%= all_citations.count %> saved records.</span></div>
      <% end %>
      <ol class="mb-3 ps-3" data-copy-text-target="text">
        <% all_citations.each do |citations_for_document| %>
        <li class="mb-3 ps-2">
          <%= citation_for_format(citations_for_document, format) || '<i>Citation unavailable</i>'.html_safe %>
          <% if !preferred_or_unavailable_citations_only? && preferred_citation_only?(citations_for_document) %>
            <i><%= "(Preferred citation / #{t format, scope: 'searchworks.citations.styles'} unavailable)" %></i>
          <% end %>
        </li>
        <% end %>
    </ol>
  </div>
  <% end %>
</div>

<h3 class="mt-4 mb-3">Export citations</h3>
<ul class="list-unstyled d-flex gap-3 export-citations">
  <% if @documents.any? {|d| d.export_formats.key?(:ris) } %>
    <li>
      <%= link_to 'In RIS format (Zotero)', bookmarks_path(:ris, search_state.params_for_search),
                  download: File.basename(url_for(search_state.to_h.merge(format: 'ris'))) %>
    </li>
  <% end %>

  <% if @documents.any? { |d| d.exports_as? :refworks_marc_txt } %>
    <li>
      <%= link_to "To RefWorks",
                  refworks_export_url(url: bookmarks_export_url(:refworks_marc_txt, search_state.params_for_search))%>
    </li>
  <% end %>

  <% if @documents.any? { |d| d.exports_as? :endnote } %>
    <li>
      <%= link_to 'To EndNote',
                  bookmarks_path(:endnote, search_state.params_for_search),
                  download: File.basename(bookmarks_path(:endnote, search_state.params_for_search)) %>
    </li>
  <% end %>
</ul>
