<h3>Copy citations</h3>

<div data-controller="citation-format">
  <div class="d-flex align-items-center gap-2 mb-3">
    <label for="citation-format" class="fw-bold">Select format</label>
    <select id="citation-format" class="form-select w-25" data-action="change->citation-format#reveal">
      <% Citations::MarcCitation::FORMATS.each do |format| %>
        <option value="<%= format %>"><%= t format, scope: 'searchworks.citations.styles' %></option>
      <% end %>
    </select>
  </div>

  <% Citations::MarcCitation::FORMATS.each.with_index do |format, index| %>
    <div class="bg-light p-3"<%= ' hidden' if index != 0 %> data-citation-format-target="panel"
      data-controller="copy-text" id="citation-format-<%= format %>">
      <div class="d-flex align-items-center gap-2 mb-2">
        <h4 class="mb-0 me-3"><%= t format, scope: 'searchworks.citations.styles' %></h4>
        <button class="btn btn-outline-primary" data-action="click->copy-text#copy">Copy</button>
      </div>
      <div class="mb-3" data-copy-text-target="text">
        <% all_citations.each do |citations_for_document| %>
          <div class="mb-3">
            <%= citations_for_document[format == 'apa' ? 'marc_apa' : format] %>
          </div>
        <% end %>
    </div>
  </div>
  <% end %>
</div>

<h3 class="mt-4 mb-3">Export citations</h3>
<ul class="list-unstyled d-flex gap-3 export-citations">
  <% if @documents.any? {|d| d.export_formats.key?(:ris) } %>
    <li>
      <%= link_to 'In RIS format (Zotero)', bookmarks_path(:ris, search_state.params_for_search),
                  download: File.basename(url_for(search_state.to_h.merge(format: 'ris'))) %>
    </li>
  <% end %>

  <% if @documents.any? { |d| d.exports_as? :refworks_marc_txt } %>
    <li>
      <%= link_to "To RefWorks",
                  refworks_export_url(url: bookmarks_export_url(:refworks_marc_txt, search_state.params_for_search))%>
    </li>
  <% end %>

  <% if @documents.any? { |d| d.exports_as? :endnote } %>
    <li>
      <%= link_to 'To EndNote',
                  bookmarks_path(:endnote, search_state.params_for_search),
                  download: File.basename(bookmarks_path(:endnote, search_state.params_for_search)) %>
    </li>
  <% end %>
</ul>
