<li class='no-thumbnail'>
  <div class="result">
    <div class="result-title fs-1125 fw-medium pt-2 pb-1">
      <%= link_to catalog_result.title.html_safe, catalog_result.link %>
    </div>

    <% if catalog_result.icon.present? || catalog_result.physical %>
      <div class="pb-1">
        <%= image_tag catalog_result.icon, aria: { hidden: true }, alt: '', class: 'icon mx-1' %>
        <span class="fw-semibold"><%= catalog_result.format %></span>
        <% case catalog_result.format %>
        <% when 'Book' %>
          <% if catalog_result.pub_year %>
            (<%= catalog_result.pub_year %>)
          <% else %>
            <%= format_year(catalog_result.pub_date) %>
          <% end %>
        <% when 'eBook' %>
          <%= format_year(catalog_result.pub_date) %>
        <% else %>
          <% if catalog_result.physical %>
            <% if catalog_result.format %>&mdash; <% end %>
            physical <%= catalog_result.physical %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if catalog_result.author.present? %>
      <div class="pb-1"><%= catalog_result.author %></div>
    <% end %>

    <% if catalog_result.description.present? %>
      <p class="description line-clamp"><%= catalog_result.description.html_safe %></p>
    <% end %>
  </div>
</li>
