<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title><%= content_for(:title) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>"/>
    <!-- css -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" %>
    <!-- Stanford identity -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4H0K34LTNE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      // To turn off debug mode, exclude the parameter altogether (cannot just set to false)
      // See https://support.google.com/analytics/answer/7201382?hl=en#zippy=%2Cgoogle-tag-websites
      args = <%= Settings.analytics_debug %> ? {"debug_mode":true} : {};
      gtag('js', new Date());
      gtag('config', 'G-4H0K34LTNE', args);
    </script>
    <!-- Google tag (gtag.js) -->
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2024-12-18/styles/sul.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>
  <%= content_tag :body, class: body_class, data: { 'quicksearch-ga-query': strip_tags(@query || '') } do %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6F99S9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav id="skip-link" aria-label="Skip links">
      <a href="#params-q" class="visually-hidden-focusable rounded-bottom py-2 px-3">Skip to search</a>
      <a href="#main-content" class="visually-hidden-focusable rounded-bottom py-2 px-3">Skip to main content</a>
    </nav>
    <header>
      <div class="container">
        <a class="su-brand-bar__logo" href="https://www.stanford.edu"
          >Stanford University</a
        >
      </div>
      <nav
        class="navbar navbar-expand-md bg-dark bg-cardinal"
        role="navigation"
      >
        <div class="container">
          <a
            class="mb-0 navbar-brand navbar-logo"
            href="https://library.stanford.edu"
            >Stanford University Libraries</a
          >
          <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-bs-toggle="collapse"
            data-target="#user-util-collapse"
            data-bs-target="#user-util-collapse"
            aria-controls="user-util-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-md-end"
            id="user-util-collapse"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="https://mylibrary.stanford.edu/">My Account</a>
              </li>
              <li class="nav-item">
                <a href="https://library.stanford.edu/contact-us" class="nav-link">Feedback</a>
              </li>
              <hr />
              <li class="nav-item d-md-none">
                <a href="#item1" class="nav-link">Item 1</a>
              </li>
              <li class="nav-item d-md-none">
                <a href="#item1" class="nav-link">Item 2</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="masthead bg-dark bg-cardinal pb-4">
        <div class="container">
          <div class="row align-items-center">
            <div
              class="col-md-8 d-flex justify-content-center justify-content-md-start"
            >
              <%= render 'shared/header_navbar' %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= render 'shared/sub_navbar' %>
    <main id="main-content" role="main">
      <!-- CONTENT: enter content below this line -->
      <div id="quicksearch" class='container'>
        <%= render '/shared/global_alert' %>
        <%= yield %>
      </div>
    </main>
    <%= render '/shared/sul_footer' %>
    <!-- Global footer snippet end -->
    <script type="text/javascript">
      $(function () {
        $('body').hide().show();
      });
      window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
    </script>
  <% end %>
</html>
