<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) %></title>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-25/styles/icon.png" type="image/png">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-25/styles/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-25/styles/icon.png">

    <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />

    <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track' => true %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-25/styles/sul.css"
    />
    <%= stylesheet_link_tag "component-library-overrides", media: "all", 'data-turbo-track' => true %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4H0K34LTNE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      // To turn off debug mode, exclude the parameter altogether (cannot just set to false)
      // See https://support.google.com/analytics/answer/7201382?hl=en#zippy=%2Cgoogle-tag-websites
      args = <%= Settings.analytics_debug %> ? {"debug_mode":true} : {};
      gtag('js', new Date());
      gtag('config', 'G-4H0K34LTNE', args);
    </script>
    <!-- Google tag (gtag.js) -->
    <%= javascript_importmap_tags %>

    <script type="module" src="https://unpkg.com/@github/auto-complete-element@latest/dist/bundle.js"></script>
  </head>
  <%= content_tag :body, class: 'd-flex flex-column' do %>
    <%= render 'shared/header' %>

    <main id="main-content" role="main" class="flex-1 mb-auto">
      <%= render '/shared/global_alert' %>
      <%= yield %>
    </main>
    <%= render '/shared/sul_footer' %>
  <% end %>
</html>
