<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title><%= content_for(:title) %></title>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-10/styles/icon.png" type="image/png">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-10/styles/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-10/styles/icon.png">

    <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>"/>
    <!-- css -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />

    <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track' => true %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-06-10/styles/sul.css"
    />
    <%= stylesheet_link_tag "component-library-overrides", media: "all", 'data-turbo-track' => true %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4H0K34LTNE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      // To turn off debug mode, exclude the parameter altogether (cannot just set to false)
      // See https://support.google.com/analytics/answer/7201382?hl=en#zippy=%2Cgoogle-tag-websites
      args = <%= Settings.analytics_debug %> ? {"debug_mode":true} : {};
      gtag('js', new Date());
      gtag('config', 'G-4H0K34LTNE', args);
    </script>
    <!-- Google tag (gtag.js) -->
    <%= javascript_importmap_tags %>

    <script type="module" src="https://unpkg.com/@github/auto-complete-element@latest/dist/bundle.js"></script>
  </head>
  <%= content_tag :body, class: body_class, data: { 'quicksearch-ga-query': strip_tags(@query || '') } do %>
    <%= render 'shared/header' %>

    <main id="main-content" role="main">
      <%= render '/shared/global_alert' %>
      <%= yield %>
    </main>
    <%= render '/shared/sul_footer' %>
  <% end %>
</html>
