<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title><%= content_for(:title) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>"/>
    <!-- css -->
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" %>
    <!-- Stanford identity -->
    <link href="https://www-media.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- Google tag (gtag.js) --> 
    <meta name="analytics_debug" value="<%= ENV.fetch('ANALYTICS_DEBUG', 1) %>">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4H0K34LTNE"></script> 
    <script> 
      const debug = document.head.querySelector("meta[name=analytics_debug]").getAttribute("value") === "1";
      window.dataLayer = window.dataLayer || []; 
      function gtag(){dataLayer.push(arguments);} 
      // To turn off debug mode, exclude the parameter altogether (cannot just set to false)
      // See https://support.google.com/analytics/answer/7201382?hl=en#zippy=%2Cgoogle-tag-websites
      const args = {}
      if (debug) {
        args["debug_mode"] = debug;
      } 
      gtag('js', new Date()); 
      gtag('config', 'G-4H0K34LTNE', args); 
    </script>
    <!-- Google tag (gtag.js) -->
    <%= stylesheet_link_tag "application" %>

  </head>
  <%= content_tag :body, class: body_class, data: { 'quicksearch-ga-query': strip_tags(@query || '') } do %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6F99S9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav id="skip-link" role="navigation" aria-label="Skip links">
      <a href="#params-q" class="element-invisible element-focusable">Skip to search</a>
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </nav>
    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <%= render 'shared/top_navbar' %>
        <%= render 'shared/header_navbar' %>
        <%= render 'shared/sub_navbar' %>
        <div id="content" role="document" class="page">
          <main id="main-content" role="main">
            <!-- CONTENT: enter content below this line -->
            <div id="quicksearch" class='container'>
              <%= render '/shared/global_alert' %>
              <%= yield %>
            </div>
          </main>
        </div>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->
    <%= render '/shared/sul_footer' %>
    <%= render '/shared/global_footer' %>
    <!-- Global footer snippet end -->
    <script type="text/javascript">
      $(function () {
        $('body').hide().show();
      });
      window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
    </script>
  <% end %>
</html>
