<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Stanford University Libraries' official online search tool for books, media, journals, databases, government documents and more." />
    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="application-name" value="U2VhcmNoV29ya3M=">
    <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <link href="https://www.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Crimson+Text:400" %>
    <%= javascript_include_tag "application" %>
    <!--[if lte IE 8]><%= javascript_include_tag 'flot/excanvas.min' %><![endif]-->
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie8.css" />
    <![endif]-->
    <!--[if IE 7]>
      <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie7.css" />
    <![endif]-->

  </head>
  <body class="<%= render_body_class %>">
    <%= render 'shared/skip_to_nav' %>

    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <div id="outer-container" class="container-fluid">
          <%= render 'shared/top_navbar' %>
          <%= render 'shared/search_bar' %>
          <%= render_masthead_partial %>

          <%= render partial: 'shared/ajax_modal' %>
          <%= render 'shared/print_header' %>
          <section id="main-container" role="main" data-analytics-id="<%= Settings.GOOGLE_ANALYTICS_ID %>">
            <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

            <%= yield %>
          </section>

          <%= render :partial => 'shared/footer' %>
        </div>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->
    <%= render 'shared/su_footer' %>
    <% if Settings.MOUSEFLOW %>
      <script type="text/javascript">
        var _mfq = _mfq || [];
        (function() {
            var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/<%= Settings.MOUSEFLOW_KEY %>.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
      </script>
    <% end %>
  </body>
</html>
