<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Stanford Libraries' official online search tool for books, media, journals, databases, government documents and more." />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="application-name" value="<%= I18n.t('blacklight.application_name') %>">
    <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />

    <meta name="analytics_debug" value="<%= Settings.ANALYTICS_DEBUG %>">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FH5WNQS9B5"></script>

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag I18n.t('blacklight.application_name'), opensearch_catalog_path(format: 'xml') %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <link href="https://www-media.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.css" rel="stylesheet">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap
" %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
			      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="//js.honeybadger.io/v6.8/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      Honeybadger.configure({
        apiKey: '<%= Honeybadger.config.get(:api_key) %>',
        environment: '<%= Honeybadger.config.get(:env) %>',
        debug: false,
        enableUncaught: true,
        ignorePatterns: [
          /reCAPTCHA placeholder element must be empty/i,
          /Undefined variable: MutationObserver/i, // Seems to only come from Opera Mini. Not in our codebase.
          /Blocked a frame with origin "https:\/\/\w+\.stanford.edu"/i // We don't need to know that this happens
        ],
        revision: '<%= Settings.REVISION %>'
      });
    </script>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <% if Rails.env.test? %>
      <%= javascript_tag '$.fx.off = true;' %>
      <style>
        * {
          transition-property: none !important;
          -o-transition-property: none !important;
          -moz-transition-property: none !important;
          -ms-transition-property: none !important;
          -webkit-transition-property: none !important;

          transform: none !important;
          -o-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -webkit-transform: none !important;

          animation: none !important;
          -o-animation: none !important;
          -moz-animation: none !important;
          -ms-animation: none !important;
          -webkit-animation: none !important;
        }
      </style>
    <% end %>

  </head>
  <body class="<%= render_body_class %>">
    <%= render 'shared/skip_to_nav' %>

    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <div id="outer-container" class="container-fluid">
          <div id="stacked-banner">
            <%= render 'shared/top_navbar' %>
            <%= render 'shared/search_bar' %>
            <%= render 'shared/search_subnavbar' %>
          </div>

          <%= render partial: 'shared/modal' %>
          <section id="main-container" role="main">
            <%= render 'global_alerts/alerts' if Settings.GLOBAL_ALERT %>
            <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

            <%= yield %>
          </section>

          <%= render :partial => 'shared/footer' %>
        </div>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->
    <%= render 'shared/su_footer' %>
  </body>
</html>
