<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Stanford Libraries' official online search tool for books, media, journals, databases, government documents and more." />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="application-name" value="<%= I18n.t('blacklight.application_name') %>">
    <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />

    <meta name="analytics_debug" value="<%= Settings.ANALYTICS_DEBUG %>">
    <meta name="turbo-prefetch" content="false">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FH5WNQS9B5"></script>

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag I18n.t('blacklight.application_name'), opensearch_catalog_path(format: 'xml') %>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-04-17/styles/icon.png" type="image/png">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-04-17/styles/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-04-17/styles/icon.png">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-04-17/styles/palette.css"
    />
    <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track' => true %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <link href="https://www-media.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <%= stylesheet_link_tag "component-library-overrides", media: "all" %>
    <link href="https://cdn.datatables.net/2.3.0/css/dataTables.bootstrap5.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
			      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"
            integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.bootstrap5.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="//js.honeybadger.io/v6.8/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      Honeybadger.configure({
        apiKey: '<%= Honeybadger.config.get(:api_key) %>',
        environment: '<%= Honeybadger.config.get(:env) %>',
        debug: false,
        enableUncaught: true,
        revision: '<%= Settings.REVISION %>'
      });
    </script>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
    <%= render 'shared/skip_to_nav' %>

    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <div id="outer-container" class="container-fluid">
          <div id="stacked-banner">
            <%= render 'shared/top_navbar' %>
            <%= render 'shared/search_bar' %>
            <%= render 'shared/search_subnavbar' %>
          </div>

          <%= render partial: 'shared/modal' %>
          <main id="main-container">
            <%= render 'global_alerts/alerts' if Settings.GLOBAL_ALERT %>
            <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

            <%= yield %>
          </main>
        </div>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->
    <%= render 'shared/su_footer' %>
  </body>
</html>
